Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  web/lib/fastapi_client/models/ConceptModel.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/router_dataset.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
Labels: backend

regenerate typescript openapi spec
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptColumnInfo.ts
  web/lib/fastapi_client/models/ConceptModel.ts
Labels: client lib

save
  src/signals/splitters/recursive_text_splitter.py
Labels: backend

save
  src/signals/splitters/recursive_text_splitter.py
Labels: backend

save
  src/data/sources/csv_source.py
  src/data/sources/csv_source_test.py
  src/data/sources/huggingface_source.py
  src/data/sources/huggingface_source_test.py
  src/data/sources/json_source.py
  src/data/sources/json_source_test.py
  src/data/sources/pandas_source.py
  src/data/sources/pandas_source_test.py
  src/data/sources/source_registry_test.py
  src/utils.py
Labels: backend

save
  src/signals/splitters/recursive_text_splitter.py
Labels: backend

Save
  poetry.lock
  pyproject.toml
Labels: none

save
  mypy.ini
  pytest.ini
Labels: none

save
  src/data/sources/json_source_test.py
Labels: backend

save
  src/signals/splitters/chunk_splitter.py
  src/signals/splitters/chunk_splitter_test.py
  src/signals/splitters/text_splitter_test_utils.py
Labels: backend

save
  src/signals/splitters/chunk_splitter.py
Labels: backend

save
  src/signals/default_signals.py
  src/signals/splitters/chunk_splitter.py
  src/signals/splitters/chunk_splitter_test.py
Labels: backend

save
  src/signals/splitters/chunk_splitter.py
  src/signals/splitters/chunk_splitter_test.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, client lib

save
  src/data/duckdb_utils.py
  src/data/sources/csv_source.py
  src/data/sources/json_source.py
  src/data/sources/pandas_source.py
  src/data/sources/source.py
  src/tasks.py
  src/utils.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/data/dataset_utils.py
  src/schema.py
Labels: backend

Decrease width of LHS panel.
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/routes/+layout.svelte
  web/inspector/src/routes/datasets/[namespace]/[datasetName]/+page.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_filter_test.py
  src/data/dataset_select_rows_search_test.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/data/dataset_utils.py
  src/data/dataset_utils_test.py
  src/data/sources/json_source_test.py
  src/schema.py
  src/schema_test.py
  src/server_test.py
Labels: backend

save
  src/data/sources/json_source_test.py
  src/schema.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  data/concept/lilac/toxicity/concept.json
Labels: none

save
  data/concept/lilac/toxicity/concept.json
Labels: none

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_rows_search_test.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/server_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/schema_test.py
Labels: backend

Optimize the sources a little bit to reduce 3x memory pressure.
  src/data/sources/csv_source.py
  src/data/sources/csv_source_test.py
  src/data/sources/huggingface_source.py
  src/data/sources/huggingface_source_test.py
  src/data/sources/json_source.py
  src/data/sources/json_source_test.py
  src/data/sources/pandas_source.py
  src/data/sources/pandas_source_test.py
  src/data/sources/source.py
  src/data/sources/source_registry_test.py
  src/data_loader.py
  src/data_loader_test.py
  src/server_concept_test.py
  src/tasks.py
  src/test_utils.py
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/router_dataset.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/models/ConceptModel.ts
Labels: backend, client lib

save
  src/server_concept_test.py
Labels: backend

save
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

review
  src/data/sources/csv_source.py
  src/data/sources/csv_source_test.py
  src/data_loader.py
Labels: backend

save
  src/data_loader_test.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_test.py
  src/data/dataset_utils.py
  src/schema.py
  src/signals/concept_scorer.py
  src/signals/semantic_similarity.py
  src/signals/signal.py
  src/signals/signal_test.py
  src/signals/text_statistics.py
Labels: backend

save
  mypy.ini
  src/concepts/concept.py
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_utils.py
  src/schema.py
  src/schema_test.py
  src/server_test.py
  src/signals/pii.py
  src/signals/pii_test.py
  src/signals/signal.py
  src/signals/substring_search.py
  src/signals/substring_search_test.py
  src/signals/text_statistics.py
Labels: backend

save
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_rows_schema_test.py
  src/signals/signal.py
Labels: backend

save
  src/concepts/db_concept_test.py
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
  src/signals/semantic_similarity_test.py
Labels: backend

sav
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_udf_test.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_select_rows_schema_test.py
  src/embeddings/embedding.py
  src/signals/signal_test.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/signals/semantic_similarity.py
  src/signals/signal.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/substring_search.py
  src/signals/substring_search_test.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
