Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/load.py
Labels: backend

save
  .prettierrc
  .vscode/settings.json
  docs/_static/custom.js
  docs/_static/getting_started/orca-index-response.mp4
  docs/_static/getting_started/orca-load.mp4
  docs/_static/getting_started/orca-pii-enrichment.mp4
  docs/_static/getting_started/orca-pii-filter.mp4
  docs/_static/getting_started/orca-profanity-preview.mp4
  docs/_static/getting_started/orca-profanity-stats.mp4
  docs/_static/getting_started/orca-settings.mp4
  docs/conf.py
  docs/getting_started/quickstart.md
  lilac/data/dataset_duckdb.py
  lilac/sources/huggingface_source.py
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
Labels: backend, frontend

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
  lilac/server_dataset_test.py
Labels: backend

save
  docs/_static/getting_started/orca-download.mp4
  docs/getting_started/quickstart.md
  docs/getting_started/quickstart_python.md
  docs/index.rst
Labels: none

save
  docs/conf.py
  docs/getting_started/quickstart.md
  scripts/build_docs.sh
Labels: none

Add legal datasets.
  demo.yml
  scripts/deploy_demo.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
Labels: frontend

save
  web/blueprint/README.md
Labels: frontend

Save
  demo.yml
Labels: none

save
  docs/getting_started/quickstart.md
Labels: none

save
  docs/getting_started/quickstart.md
Labels: none

save
  docs/getting_started/quickstart.md
Labels: none

save
  docs/firebase.json
  scripts/build_docs.sh
Labels: none

Add the first concepts page documentation.
  docs/_static/concepts/concept_examples.png
  docs/_static/concepts/concepts_tune.png
  docs/_static/concepts/concepts_use_ui.png
  docs/concepts/concept_technical.md
  docs/concepts/concepts.md
  docs/index.rst
Labels: none

save
  scripts/deploy_website.sh
Labels: none

save
  docs/concepts/concepts.md
Labels: none

save
  docs/concepts/concepts.md
Labels: none

save
  docs/getting_started/quickstart_python.md
  lilac/__init__.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test.py
  lilac/schema.py
  lilac/signals/__init__.py
  lilac/signals/pii.py
  lilac/sources/csv_source.py
  lilac/sources/duckdb_utils.py
  lilac/sources/gmail_source.py
  lilac/sources/json_source.py
  pyproject.toml
  scripts/publish_pip.sh
Labels: backend

save
  docs/getting_started/quickstart_python.md
Labels: none

save
  docs/getting_started/quickstart_python.md
Labels: none

Ship lilac concepts with the pip package.
  docs/concepts/concepts.md
  lilac/__init__.py
  lilac/cli.py
  lilac/concepts/db_concept.py
  lilac/concepts/json/__init__.py
  lilac/concepts/json/legal-termination.json
  lilac/concepts/json/negative-sentiment.json
  lilac/concepts/json/positive-sentiment.json
  lilac/concepts/json/profanity.json
  lilac/concepts/json/toxicity.json
  lilac/utils.py
  pyproject.toml
Labels: backend

save
  demo.yml
Labels: none

save
  docs/conf.py
  docs/getting_started/quickstart_python.md
  docs/poetry.lock
  docs/pyproject.toml
  lilac/data/__init__.py
  lilac/data/dataset.py
  pyproject.toml
Labels: backend

save
  poetry.lock
Labels: none

save
  lilac/concepts/json/__init__.py
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
Labels: backend, frontend

save
  docs/_static/lilac-welcome.mp4
  docs/conf.py
  docs/getting_started/quickstart_python.md
  docs/welcome.md
  lilac/data/__init__.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_groups_test.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/router_concept.py
  lilac/router_dataset.py
  lilac/router_signal.py
  lilac/router_utils.py
  lilac/signals/__init__.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/default_signals.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/ListFilter.ts
  web/lib/fastapi_client/models/ListOp.ts
  web/lib/fastapi_client/models/UnaryFilter.ts
  web/lib/fastapi_client/models/UnaryOp.ts
Labels: backend, client lib

save
  docs/conf.py
  docs/getting_started/quickstart_python.md
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/commands/customComponents/SelectConcept.svelte
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

Move lilac concepts into the pip package.
  lilac/cli.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/concepts/legal-termination/concept.json
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/toxicity/concept.json
  lilac/server.py
  lilac/utils.py
  pyproject.toml
  scripts/deploy_hf.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_search_test.py
Labels: backend

save
  .gitignore
  __init__.py
  lilac/__init__.py
  lilac/cli.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/server_concept_test.py
  poetry.lock
  scripts/deploy_demo.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  lilac/cli.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/server_concept_test.py
  lilac/utils.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_search_test.py
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
Labels: backend, frontend

save
  lilac/server.py
Labels: backend

save
  lilac/concepts/db_concept.py
  scripts/deploy_hf.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  lilac/concepts/db_concept_test.py
  scripts/deploy_hf.py
Labels: backend

save
  docs/getting_started/quickstart_python.md
  lilac/data/__init__.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPillHoverBody.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptSearch.ts
  web/lib/fastapi_client/models/KeywordSearch.ts
  web/lib/fastapi_client/models/Search.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
  web/lib/fastapi_client/models/SemanticSearch.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
