Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Make an explicit endpoint for concept creation.
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

Store datasetViewStore in localstorage
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/inspector/src/lib/stores/persistedStore.ts
Labels: frontend

Add reset button
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/inspector/src/lib/components/commands/CommandCreateConcept.svelte
  web/inspector/src/lib/queries/conceptQueries.ts
  web/inspector/src/routes/concepts/[[namespace]]/[[concept]]/+page.svelte
Labels: frontend

save
  src/concepts/concept.py
  web/inspector/src/routes/concepts/[[namespace]]/[[concept]]/+page.svelte
  web/lib/fastapi_client/models/Concept.ts
Labels: backend, frontend, client lib

save
  src/signals/splitters/text_splitter_spacy.py
Labels: backend

save
  web/inspector/src/lib/components/commands/CommandCreateConcept.svelte
Labels: frontend

Fix semantic search api
  src/signals/semantic_search.py
Labels: backend

Ensure udf alias are unique
  web/inspector/src/lib/stores/datasetViewStore.ts
Labels: frontend

Smarter
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

str
  src/signals/semantic_search.py
Labels: backend

Allow alias paths to be stored in visibleRows
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/datasetView/RowItemValue.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/src/schema.spec.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

test
  web/inspector/src/lib/stores/datasetViewStore.spec.ts
Labels: frontend

includes
  web/lib/src/schema.ts
Labels: client lib

fixiefix
  web/inspector/src/lib/components/datasetView/RowView.svelte
Labels: frontend

fixfiax
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  src/server_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/datasetView/RowView.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  src/data/dataset.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
  web/lib/fastapi_client/models/TextSplitterSignal.ts
Labels: backend, client lib

Cleanup of lilac_items & signal_items
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_filter_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/data/dataset_utils.py
  src/data/dataset_utils_test.py
  src/data/sources/huggingface_source.py
  src/data/sources/huggingface_source_test.py
  src/server_test.py
  src/signals/pii.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/splitters/text_splitter_test_utils.py
  src/signals/splitters/text_splitter_test_utils_test.py
Labels: backend

save
  src/signals/concept_scorer.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  src/data/dataset_compute_signal_test.py
  src/data/sources/huggingface_source.py
Labels: backend

save
  src/data/dataset.py
  src/signals/concept_scorer.py
  src/signals/signal.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/SemanticSearchSignal.ts
Labels: backend, client lib

save
  .vscode/settings.json
  web/inspector/src/lib/queries/datasetQueries.ts
Labels: frontend

Update npm dependencies
  package-lock.json
  package.json
  web/inspector/package.json
  web/lib/package.json
Labels: frontend, client lib

concept schema builder
  web/inspector/src/lib/components/commands/conceptSchemaBuilder/ConceptSchemaBuilder.svelte
  web/inspector/src/lib/components/commands/conceptSchemaBuilder/ConceptsList.svelte
  web/inspector/src/lib/components/commands/conceptSchemaBuilder/SemanticSearch.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
Labels: frontend

log
  web/inspector/src/lib/components/commands/conceptSchemaBuilder/ConceptSchemaBuilder.svelte
Labels: frontend

Add drafts to concepts.
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_utils.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/server_concept_test.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/ConceptUpdate.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
  web/lib/fastapi_client/models/Example.ts
  web/lib/fastapi_client/models/ExampleIn.ts
  web/lib/fastapi_client/models/ExampleRemove.ts
  web/lib/fastapi_client/models/ScoreBody.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  data/concept/lilac/toxicity/concept.json
  src/concepts/db_concept.py
Labels: backend

save
  data/concept/lilac/toxicity/concept.json
Labels: none

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  src/concepts/db_concept.py
Labels: backend

save
  mypy.ini
  poetry.lock
  pyproject.toml
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/embeddings/sbert.py
  src/signals/default_signals.py
  src/signals/signal.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SemanticSearchSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
Labels: backend, client lib

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none
