Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Add explicit sort options to the UI.
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_search_test.py
  src/router_dataset.py
  src/signals/concept_scorer_test.py
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/dataset.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/SearchResultInfo.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
  web/lib/fastapi_client/models/SortResult.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  src/data/dataset.py
  src/server_test.py
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/models/SortResult.ts
Labels: backend, frontend, client lib

save
  run_server_dev.sh
Labels: none

save
  src/data/sources/gmail_source.py
Labels: backend

save
  src/data/sources/gmail_source.py
Labels: backend

save
  .gitignore
  src/data/sources/gmail_source.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_search_test.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/server_test.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
Labels: backend, frontend, client lib

Add 'new concept' to the concepts dropdown, opening a modal.
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/routes/concepts/+page.svelte
Labels: backend, frontend

save
  src/data/dataset_select_rows_search_test.py
Labels: backend

save
  src/concepts/concept.py
  src/data/dataset_duckdb.py
  src/embeddings/vector_store_numpy.py
  src/signals/semantic_similarity.py
Labels: backend

save
  .gitignore
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_utils.py
  src/embeddings/embedding.py
  src/signals/signal.py
Labels: backend

Add versions to computed concepts.
  data/concept/lilac/toxicity/concept.json
  src/data/dataset.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_utils.py
  src/signals/concept_scorer.py
  src/signals/signal.py
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/Commands.svelte
Labels: frontend

save
  web/lib/src/lilac.ts
Labels: client lib

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
Labels: backend

Unify the Index and Search buttons.
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/embeddings/embedding.py
  src/embeddings/sbert.py
  src/router_dataset.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/router_dataset.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

Spans
  scripts/test_ts.sh
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/lib/package.json
  web/lib/src/lilac.ts
  web/lib/src/utils.spec.ts
  web/lib/src/utils.ts
Labels: frontend, client lib

save
  src/data/dataset_duckdb.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/data/dataset.py
  src/data/dataset_select_rows_search_test.py
  src/embeddings/vector_store.py
  src/embeddings/vector_store_numpy.py
  src/router_concept.py
  src/router_dataset.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  src/signals/semantic_similarity_test.py
Labels: backend

save
  run_server_dev.sh
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_search_test.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptColumnInfo.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  src/data/dataset.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/embeddings/vector_store_numpy.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/embeddings/vector_store_numpy.py
Labels: backend

save
  .env
  src/config.py
  src/data/dataset_duckdb.py
  src/db_manager.py
Labels: backend

Change the span highlighting algorithm.
  .eslintrc.cjs
  scripts/test_ts.sh
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.spec.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/index.ts
  web/lib/package.json
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
  web/lib/src/utils.spec.ts
  web/lib/src/utils.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/colors.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
  src/embeddings/vector_store.py
  src/embeddings/vector_store_numpy.py
  src/embeddings/vector_store_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend
