Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/data/dataset_map_test.py
  lilac/tasks.py
  lilac/test_utils.py
  mypy.ini
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/signals/pii_presidio.py
  lilac/signals/pii_test.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_map_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/tasks.py
  scripts/deploy_demo.py
Labels: backend

save
  docs/conf.py
  lilac/tasks.py
  notebooks/DatasetMap.ipynb
  scripts/fix_py.sh
  scripts/lint_py.sh
  scripts/make_fastapi_client.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/PrefetchRowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
Labels: frontend

Pass the job_id to the dataset.map map_fn.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/schema.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

Fix bug where missing keys in the filter constraint would raise KeyError
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_test.py
Labels: backend

fix typing
  lilac/embeddings/vector_store.py
Labels: backend

save
  lilac/schema.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

Add unit tests for num_jobs=-1
  lilac/data/dataset_map_test.py
  lilac/tasks.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/embeddings/vector_store_hnsw.py
Labels: backend

save
  lilac/embeddings/vector_store_hnsw.py
Labels: backend

Refactor cached jsonl methods.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_duckdb_utils.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_utils.py
  lilac/schema.py
  lilac/test_utils.py
Labels: backend

Fix bugs with the media fields selector where no fields showed up.
  lilac/load_dataset.py
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: backend, frontend

save
  lilac/load_dataset.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test_utils.py
  lilac/data/dataset_utils.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/source.py
Labels: backend

try refactoring source
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test_utils.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/source.py
Labels: backend

Refactor source registry
  lilac/__init__.py
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_labels_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_project_test.py
  lilac/data/dataset_test.py
  lilac/load_dataset_test.py
  lilac/load_test.py
  lilac/router_data_loader.py
  lilac/server.py
  lilac/server_dataset_test.py
  lilac/source.py
  lilac/source_test.py
  lilac/sources/default_sources.py
  lilac/sources/source_registry.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
Labels: backend

Refactor source to itemsource
  lilac/data/dataset_project_test.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/load_test.py
  lilac/source.py
  lilac/source_test.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/dict_source.py
  lilac/sources/dict_source_test.py
  lilac/sources/github_source.py
  lilac/sources/gmail_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/item_source.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/langsmith.py
  lilac/sources/llama_index_docs_source.py
  lilac/sources/llama_index_docs_source_test.py
  lilac/sources/pandas_source.py
  lilac/sources/pandas_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/sources/reddit_hf_source.py
  lilac/sources/sqlite_source.py
  lilac/sources/sqlite_source_test.py
Labels: backend

lint fix
  lilac/sources/default_sources.py
Labels: backend

Revert "Refactor source to itemsource"
  lilac/data/dataset_project_test.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/load_test.py
  lilac/source.py
  lilac/source_test.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/dict_source.py
  lilac/sources/dict_source_test.py
  lilac/sources/github_source.py
  lilac/sources/gmail_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/item_source.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/langsmith.py
  lilac/sources/llama_index_docs_source.py
  lilac/sources/llama_index_docs_source_test.py
  lilac/sources/pandas_source.py
  lilac/sources/pandas_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/sources/reddit_hf_source.py
  lilac/sources/sqlite_source.py
  lilac/sources/sqlite_source_test.py
Labels: backend

Revert ItemSource and merge into Source
  lilac/data/dataset_project_test.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/load_test.py
  lilac/source.py
  lilac/source_test.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/dict_source.py
  lilac/sources/dict_source_test.py
  lilac/sources/github_source.py
  lilac/sources/gmail_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/langsmith.py
  lilac/sources/llama_index_docs_source.py
  lilac/sources/llama_index_docs_source_test.py
  lilac/sources/pandas_source.py
  lilac/sources/pandas_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/sources/reddit_hf_source.py
  lilac/sources/sqlite_source.py
  lilac/sources/sqlite_source_test.py
Labels: backend

save
  docs/_static/dataset/dataset_infinite_scroll.png
  docs/_static/dataset/dataset_media_fields.png
  docs/_static/dataset/dataset_media_vs_metadata.png
  docs/_static/dataset/dataset_settings_button.png
  docs/_static/dataset/dataset_single_item.png
  docs/datasets/dataset_configure.md
  docs/index.rst
  docs/poetry.lock
Labels: none

Progressive loading of signals.
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_map_test.py
  lilac/router_dataset.py
  lilac/schema.py
  lilac/schema_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
Labels: frontend

save
  lilac/__init__.py
  lilac/embeddings/__init__.py
  lilac/signals/__init__.py
  lilac/sources/__init__.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
Labels: frontend

get tests to pass.
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_duckdb_utils.py
  lilac/data/dataset_map_test.py
  lilac/load.py
  lilac/router_dataset.py
  lilac/schema.py
  lilac/tasks.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/services/LangsmithService.ts
  web/lib/fastapi_client/services/SqliteService.ts
Labels: backend, client lib
