Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/server.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_utils.py
  lilac/embeddings/embedding.py
  lilac/schema.py
  lilac/schema_test.py
  lilac/splitters/text_splitter_test_utils.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.spec.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

Rework the huggingface deploy script: part 1
  .gitignore
  lilac.yml
  lilac/cli.py
  lilac/data/dataset.py
  lilac/env.py
  lilac/hf_docker/.dockerignore
  lilac/hf_docker/.gitignore
  lilac/hf_docker/Dockerfile
  lilac/hf_docker/LICENSE
  lilac/hf_docker/docker_start.sh
  lilac/hf_docker_start.py
  lilac/project.py
  pyproject.toml
  scripts/deploy_hf.py
Labels: backend

save
  docker_start.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  docker_start.py
Labels: none

save
  lilac.yml
  pyproject.toml
Labels: none

Add the textbook quality programming dataset.
  lilac_hf_space.yml
Labels: none

save
  lilac_hf_space.yml
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: none

Make deploy public api
  lilac/cli.py
  lilac/deploy_hf.py
Labels: backend

Experiment: semantic boundaries & chunking.
  notebooks/sememb.ipynb
Labels: none

save
  development.md
  docs/huggingface/huggingface_spaces.md
  lilac.yml
  lilac/__init__.py
  lilac/cli.py
  lilac/deploy_hf.py
  lilac/deploy_project.py
  lilac/hf_docker_start.py
  lilac/project.py
  notebooks/API.ipynb
  poetry.lock
  pyproject.toml
  scripts/deploy_demo.py
  scripts/deploy_local.py
Labels: backend

save
  docs/huggingface/huggingface_spaces.md
  lilac/deploy_project.py
  notebooks/DeployToHuggingFace.ipynb
Labels: backend

save
  scripts/deploy_demo.py
Labels: none

save
  notebooks/DeployToHuggingFace.ipynb
Labels: none

save
  development.md
  lilac/deploy_project.py
  scripts/deploy_staging.py
Labels: backend

Improve the schema view to be less overwhelming.
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  docs/concepts/concept_metrics.md
Labels: none

save
  lilac/__init__.py
  lilac/cli.py
  lilac/deploy.py
  scripts/deploy_demo.py
  scripts/deploy_staging.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/lib/fastapi_client/models/ConceptSignal.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  lilac/signals/concept_scorer.py
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: backend, frontend

save
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/signals/concept_labels.py
  lilac/signals/concept_labels_test.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
Labels: backend

save
  lilac/signals/concept_labels.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Add --hf_token and dont require it when we dont have private datasets.
  lilac/cli.py
  lilac/deploy.py
  notebooks/DeployToHuggingFace.ipynb
Labels: backend

save
  lilac/deploy.py
Labels: backend

save
  lilac/deploy.py
  pyproject.toml
Labels: backend

save
  pyproject.toml
Labels: none

save
  lilac/deploy.py
  notebooks/DeployToHuggingFace.ipynb
  scripts/deploy_staging.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

rag
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend
