Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/env.py
Labels: backend

save
  docs/huggingface/huggingface_spaces.md
Labels: none

save
  docs/privacy.md
Labels: none

save
  docs/privacy.md
Labels: none

save
  docker_start.py
  docs/_static/huggingface/huggingface_space_readme_datasets.png
  docs/huggingface/huggingface_spaces.md
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

Add the movies dataset
  docs/huggingface/huggingface_spaces.md
  lilac_hf_space.yml
Labels: none

save
  docs/huggingface/huggingface_spaces.md
  lilac_hf_space.yml
Labels: none

save
  lilac/sources/pandas_source.py
  notebooks/API.ipynb
  pyproject.toml
Labels: backend

save
  docs/blog/introducing-lilac.md
Labels: none

save
  docs/getting_started/quickstart_python.md
Labels: none

save
  scripts/build_server_prod.sh
Labels: none

save
  README.md
  development.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart_python.md
  docs/pyproject.toml
  docs/welcome.md
  lilac/__init__.py
  lilac/signals/pii.py
  lilac/sources/gmail_source.py
  pyproject.toml
Labels: backend

save
  pyproject.toml
Labels: none

save
  docs/poetry.lock
Labels: none

save
  docs/welcome.md
Labels: none

save
  docs/getting_started/quickstart.md
  docs/getting_started/quickstart_python.md
Labels: none

save
  docs/blog/introducing-lilac.md
Labels: none

save
  docs/blog/introducing-lilac.md
Labels: none

Change the huggingface space homepage.
  lilac/auth.py
  lilac/server.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/routes/+page.svelte
  web/lib/fastapi_client/models/AuthenticationInfo.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/+page.svelte
  web/lib/src/utils.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/+page.svelte
  web/lib/src/utils.ts
Labels: frontend, client lib

Change the huggingface space homepage.
  lilac/auth.py
  lilac/server.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/routes/+page.svelte
  web/lib/fastapi_client/models/AuthenticationInfo.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/WelcomeBanner.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/routes/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

Fix last minute bugs
  .env
  docs/_static/logo.png
  docs/_static/logo_wide.png
  docs/index.rst
  lilac/signals/text_statistics.py
  lilac_hf_space.yml
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

save
  .env
Labels: none

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  docs/conf.py
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
Labels: frontend

save
  docs/conf.py
Labels: none

save
  docs/welcome.md
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  docs/blog/introducing-lilac.md
  docs/concepts/concept_metrics.md
  docs/concepts/concept_tuning.md
  docs/concepts/concept_use.md
  docs/concepts/concepts.md
  docs/datasets/dataset_export.md
  docs/welcome.md
Labels: none

save
  docs/signals/signals.md
Labels: none

save
  README.md
  docs/welcome.md
Labels: none

save
  docs/huggingface/huggingface_spaces.md
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/WelcomeBanner.svelte
  web/blueprint/src/routes/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib
