Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/signals/concept_scorer.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/ScoreBody.ts
  web/lib/fastapi_client/models/Sensitivity.ts
Labels: backend, client lib

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/data/dataset_duckdb.py
  src/embeddings/embedding.py
  src/signals/signal.py
  src/signals/splitters/spacy_utils.py
  src/signals/text_statistics.py
Labels: backend

save
  src/signals/text_statistics.py
  src/signals/text_statistics_test.py
Labels: backend

save
  src/signals/text_statistics.py
Labels: backend

save
  src/data/sources/csv_source.py
  src/data/sources/csv_source_test.py
  src/data/sources/gmail_source.py
  src/data/sources/huggingface_source.py
  src/data/sources/huggingface_source_test.py
  src/data/sources/json_source.py
  src/data/sources/json_source_test.py
  src/data/sources/pandas_source.py
  src/data/sources/pandas_source_test.py
  src/data/sources/reddit_hf_source.py
  src/data/sources/source.py
  src/data/sources/source_registry_test.py
  src/data_loader.py
  src/data_loader_test.py
Labels: backend

Add a concept_labels signal which emits spans for text that has already been labeled.
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_search_test.py
  src/signals/concept_labels.py
  src/signals/concept_labels_test.py
  src/signals/concept_scorer_test.py
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  src/signals/concept_labels.py
  src/signals/concept_labels_test.py
  web/lib/src/schema.spec.ts
Labels: backend, client lib

save
  src/signals/text_statistics.py
  src/signals/text_statistics_test.py
Labels: backend

save
  src/signals/text_statistics_test.py
Labels: backend

Remove alias mapping from the UI.
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/server_test.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
  web/lib/fastapi_client/models/SelectRowsSchemaUDF.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  src/data/dataset.py
Labels: backend

save
  src/data/dataset_compute_signal_test.py
  src/data/dataset_test.py
  src/router_dataset.py
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_select_rows_schema_test.py
  src/router_dataset.py
  src/schema.py
  src/signals/concept_scorer.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Field.ts
  web/lib/fastapi_client/models/NamedBins.ts
  web/lib/fastapi_client/models/SelectGroupsOptions.ts
Labels: backend, client lib

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/schema.py
Labels: backend

save
  src/conftest.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/router_dataset.py
  src/tasks.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/routes/+layout.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/SelectGroupsResult.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  web/lib/fastapi_client/models/SelectGroupsResult.ts
Labels: client lib

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

Add metadata to the row view.
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_stats_test.py
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/lib/fastapi_client/models/StatsResult.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: backend, frontend

save
  src/concepts/concept.py
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

Cleanup the UI.
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/SignalBadge.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptModelResponse.ts
  web/lib/fastapi_client/models/ConceptQuery.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/ConceptUpdate.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
  web/lib/fastapi_client/models/DataType.ts
  web/lib/fastapi_client/models/DatasetInfo.ts
  web/lib/fastapi_client/models/DatasetManifest.ts
  web/lib/fastapi_client/models/Example.ts
Labels: client lib

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
