Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/router_dataset.py
Labels: backend

save
  notebooks/CustomSignal.ipynb
Labels: none

save
  scripts/test_signal.py
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/common/Hoist.ts
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

Fix bug with keyword search highlighting
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

comments
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  lilac/tasks.py
Labels: backend

Fix a few issues with batching, prefetching, and searches.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/PrefetchRowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/queries/queryUtils.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Add support for input paths to dataset.map.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

Add the input path to MapInfo
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/schema.py
  web/lib/fastapi_client/models/MapInfo.ts
Labels: backend, client lib

Throw when the input is not a leaf path.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

Improve ergonomics of map.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/schema.py
Labels: backend

Add tests for invalid args.
  lilac/data/dataset_map_test.py
Labels: backend

checks
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

remove ipynb
  notebooks/DatasetMap.ipynb
Labels: none

notebook example
  notebooks/DatasetMap.ipynb
Labels: none

save
  lilac/schema.py
  notebooks/Test.ipynb
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

simple
  lilac/data/dataset_duckdb.py
Labels: backend

lint
  lilac/data/dataset_duckdb.py
Labels: backend

Upgrade duckdb to 0.9.2, fixing a crash in a dask process with fetch_df_chunk.
  poetry.lock
  pyproject.toml
Labels: none

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/schema.py
Labels: backend

save
  notebooks/Test.ipynb
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/schema.py
  lilac/schema_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_utils.py
  lilac/schema.py
  lilac/server_concept_test.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_dbscan_test.py
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
  lilac/signals/concept_labels.py
  lilac/signals/concept_labels_test.py
  lilac/signals/concept_scorer.py
  lilac/signals/lang_detection.py
  lilac/signals/lang_detection_test.py
  lilac/signals/ner.py
  lilac/signals/pii_presidio.py
  lilac/signals/pii_secrets.py
  lilac/signals/semantic_similarity.py
  lilac/signals/semantic_similarity_test.py
  lilac/signals/substring_search.py
  lilac/splitters/text_splitter_test_utils.py
  lilac/splitters/text_splitter_test_utils_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/splitters/text_splitter_test_utils.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
