Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  README.md
Labels: none

save
  README.md
Labels: none

Update the website to look like the readme.
  docs/_static/styles/custom.css
  docs/index.rst
  docs/welcome.md
Labels: none

save
  docs/index.rst
Labels: none

save
  docs/index.rst
Labels: none

save
  README.md
  development.md
Labels: none

save
  scripts/build_docker.sh
Labels: none

save
  .dockerignore
  .gcloudignore
  cloudbuild.yml
  development.md
Labels: none

save
  cloudbuild.yml
Labels: none

save
  scripts/publish_pip.sh
Labels: none

save
  development.md
Labels: none

Add CLI prompts for token in deploy script
  scripts/deploy_website.py
Labels: none

batching
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Use HDBSCAN for the public demo.
  lilac/signals/cluster_hdbscan.py
  lilac_hf_space.yml
Labels: backend

save
  lilac/hf_docker/Dockerfile
  lilac/hf_docker/docker_start.sh
Labels: backend

save
  scripts/deploy_demo.py
Labels: none

save
  lilac/data/dataset.py
  lilac/signals/concept_scorer.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: backend, frontend

save
  lilac/signals/concept_scorer.py
Labels: backend

Batch row metadata requests.
  docs/index.rst
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
Labels: frontend

save
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: backend, frontend

Improve dataset load onbaording flow.
  lilac/data/dataset.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/datasets/loading/+page.svelte
Labels: backend, frontend

save
  lilac/deploy.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

tests
  lilac/data/dataset_config_test.py
  lilac/data/dataset_project_test.py
  lilac/load_dataset_test.py
Labels: backend

save
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_project_test.py
  lilac/embeddings/embedding.py
  lilac/load_dataset_test.py
  lilac/router_signal.py
Labels: backend

save
  lilac/embeddings/gte.py
  lilac/source.py
Labels: backend

Skip cache upload when we dont upload data.
  scripts/deploy_demo.py
Labels: none

Add an echo to publis pip for auth so I know which password it's asking for
  scripts/publish_pip.sh
Labels: none

Improve development.md
  development.md
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/schema.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/lib/fastapi_client/models/MetadataSearch.ts
  web/lib/fastapi_client/models/UnaryFilter.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset_export_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_labels_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
Labels: backend

save
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
Labels: frontend
