Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/monaco.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

Fix issues with exporting data.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/FieldList.svelte
  web/lib/fastapi_client/models/ExportOptions.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/DatasetControls.svelte
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/embeddings/openai.py
  lilac/project_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

Make the cancel button in the UI work.
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/queries/taskQueries.ts
Labels: frontend

save
  lilac/tasks.py
Labels: backend

saev
  web/lib/fastapi_client/models/TaskStatus.ts
Labels: client lib

save
  lilac/tasks.py
  web/blueprint/src/lib/components/TaskStatus.svelte
Labels: backend, frontend

save
  lilac/data/cluster_titling.py
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  lilac/signal.py
Labels: backend

save
  lilac/data/cluster_titling.py
Labels: backend

save
  lilac/data/cluster_titling.py
  lilac/data/clustering.py
  lilac/data/clustering_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/load_test.py
Labels: backend

save
  lilac/data/cluster_titling.py
Labels: backend

save
  lilac/data/cluster_titling.py
  lilac/data/clustering_test.py
Labels: backend

Format N/A values separately in histograms
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: frontend

Add GAIR-lima to the HF demo.
  lilac_hf_space.yml
Labels: none

save
  lilac/data/cluster_titling.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/load.py
  lilac/load_test.py
Labels: backend

Fix fastapi mount
  integration_tests/fastapi_integration.py
  lilac/server.py
  notebooks/ClusterSampling.ipynb
  notebooks/FastAPI.ipynb
Labels: backend

Variables for OpenAI API and Model
  .env
  lilac/data/cluster_titling.py
  lilac/embeddings/openai.py
  lilac/gen/generator_openai.py
  lilac/router_concept.py
Labels: backend

save
  lilac/server.py
  run_server_dev.sh
  web/blueprint/src/routes/+layout.svelte
  web/lib/fastapi_client/models/ServerStatus.ts
Labels: backend, frontend, client lib

save
  lilac/server.py
Labels: backend

Add ultrachat embeddings to public demo.
  lilac_hf_space.yml
Labels: none

Support the FastAPI app being mounted.
  integration_tests/fastapi_integration.py
  integration_tests/fastapi_mount_test.sh
  integration_tests/run_integration_tests.sh
  integration_tests/start_server_test.sh
  lilac/server.py
  run_server_dev.sh
  web/blueprint/src/routes/+layout.svelte
Labels: backend, frontend

save
  lilac/server.py
  notebooks/ClusterSampling.ipynb
  notebooks/FastAPI.ipynb
Labels: backend

save
  web/lib/fastapi_client/models/ServerStatus.ts
Labels: client lib

Change link to selection => copy link to selection.
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

Fix a few UI issues with concepts.
  web/blueprint/src/lib/components/common/DropdownPill.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/monaco.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/monaco.ts
Labels: frontend

Fix bug with editing filters.
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

Add bge-m3 embeddings.
  lilac/embeddings/bge.py
  lilac/signals/default_signals.py
  notebooks/Test.ipynb
  poetry.lock
  pyproject.toml
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

Add nomic.
  lilac/embeddings/bge.py
  lilac/embeddings/nomic_embed.py
  lilac/signals/default_signals.py
  poetry.lock
  pyproject.toml
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  notebooks/Test.ipynb
Labels: none

save
  lilac/data/cluster_titling.py
  lilac/embeddings/bge.py
  lilac/embeddings/nomic_embed.py
  mypy.ini
Labels: backend

save
  lilac/embeddings/bge.py
Labels: backend

Fix issue with FastAPI mounts.
  integration_tests/fastapi_mount_test.sh
  lilac/server.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  integration_tests/fastapi_mount_test.sh
Labels: none

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
