Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/data/dataset_duckdb.py
  lilac/signals/cluster_hdbscan.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/dataset.py
Labels: backend

Add progress bars
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/embeddings/transformer_utils.py
  lilac/load.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/router_data_loader.py
  lilac/router_dataset_signals.py
  lilac/server.py
  lilac/tasks.py
  lilac/tasks_test.py
  scripts/lint_py.sh
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/TaskInfo.ts
  web/lib/fastapi_client/models/TaskShardInfo.ts
Labels: backend, client lib

save
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
Labels: backend

some more robustness
  lilac/data/dataset_map_test.py
  lilac/embeddings/transformer_utils.py
  lilac/load_dataset.py
  run_server_dev.sh
Labels: backend

Add progress offsets
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/tasks.py
Labels: backend

save
  lilac/tasks.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  docs/poetry.lock
  lilac/__init__.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_utils.py
Labels: backend

Remove TaskShardId
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/load.py
  lilac/router_dataset_signals.py
  lilac/source.py
  lilac/tasks.py
Labels: backend

Add signal.map customization
  lilac/data/dataset_duckdb.py
  lilac/signal.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

fix tests
  lilac/data/dataset_map_test.py
  lilac/load_test.py
  lilac/signal_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
Labels: backend

fix typing
  lilac/data/dataset_duckdb.py
  lilac/embeddings/__init__.py
  lilac/embeddings/cohere.py
  lilac/embeddings/embedding.py
  lilac/embeddings/embedding_test.py
  lilac/embeddings/gte.py
  lilac/embeddings/jina.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
  lilac/signal.py
  lilac/signals/text_statistics.py
Labels: backend

more typing fixes
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/signal.py
  lilac/signals/text_statistics.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/embeddings/gte.py
Labels: backend

save
  lilac/batch_utils.py
  lilac/data/clustering.py
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, client lib

save
  lilac/batch_utils.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

remove VectorCompute path in dispatch_workers
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/signal.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_hdbscan.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/semantic_similarity.py
  lilac/signals/semantic_similarity_test.py
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, client lib

save
  lilac/embeddings/jina_garden.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: client lib

save
  lilac/batch_utils.py
  lilac/embeddings/jina_garden.py
  lilac/signals/default_signals.py
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  lilac/embeddings/jina_garden.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  mypy.ini
  poetry.lock
Labels: backend

save
  lilac/embeddings/jina_garden.py
Labels: backend

save
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/jina_garden.py
  lilac/signals/cluster_hdbscan.py
Labels: backend

save
  lilac/signals/cluster_hdbscan.py
Labels: backend

save
  lilac/data/clustering.py
  lilac/signals/cluster_hdbscan.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/jina.py
  lilac/embeddings/jina_garden.py
  lilac/signals/__init__.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_dbscan_test.py
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
  lilac/signals/default_signals.py
  lilac_hf_space.yml
  notebooks/API.ipynb
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: backend, frontend

Add the ability to delete and restore rows from the UI.
  lilac/auth.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/DeleteRowsButton.svelte
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RestoreRowsButton.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DatasetUserAccess.ts
  web/lib/fastapi_client/models/DeleteRowsOptions.ts
  web/lib/fastapi_client/models/RestoreRowsOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  lilac/data/clustering.py
  lilac/data/dataset.py
Labels: backend
