Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  docs/datasets/dataset_export.md
  lilac/data/dataset_select_rows_filter_test.py
Labels: backend

save
  .env
  docs/.gitignore
  docs/README.md
  scripts/deploy_website.py
Labels: none

save
  docs/datasets/dataset_labels.md
Labels: none

save
  docs/conf.py
  docs/datasets/dataset_labels.md
  docs/huggingface/huggingface_spaces.md
  docs/poetry.lock
  docs/projects/projects.md
  docs/pyproject.toml
Labels: none

save
  docs/README.md
  scripts/deploy_website.py
Labels: none

save
  docs/datasets/dataset_export.md
Labels: none

save
  lilac/data/dataset.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  notebooks/OrcaSlim.ipynb
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DownloadOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

Add the simplest dataset.map()
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/schema.py
  notebooks/Test.ipynb
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Field.ts
  web/lib/fastapi_client/models/MapInfo.ts
Labels: backend, client lib

Save
  notebooks/Test.ipynb
Labels: none

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  lilac/router_utils.py
  web/blueprint/src/lib/components/ApiErrorModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/load_dataset_test.py
Labels: backend

Save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/tasks.py
Labels: backend

Add notebook exploring chunking algorithms
  notebooks/unmaintained/chunking_cases.csv
  notebooks/unmaintained/chunking_experiments.ipynb
Labels: none

Add an intro paragraph to notebook
  notebooks/unmaintained/chunking_experiments.ipynb
Labels: none

save
  .env
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_labels_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
  lilac/load_dataset_test.py
  lilac/schema.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_hdbscan.py
  lilac/sources/csv_source.py
  lilac/sources/duckdb_utils.py
  lilac/sources/json_source.py
  lilac/sources/parquet_source.py
  lilac/sources/sqlite_source.py
Labels: backend

save
  pytest.ini
Labels: none

save
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

Remove TextSplitterSignal, fixing related tests.
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/signal.py
  lilac/signal_test.py
  lilac/splitters/chunk_splitter.py
  lilac/splitters/chunk_splitter_test.py
  lilac/splitters/text_splitter_spacy.py
  lilac/splitters/text_splitter_spacy_test.py
  lilac/splitters/text_splitter_test_utils.py
Labels: backend

save
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  notebooks/OrcaSlim.ipynb
Labels: none

save
  .env
  lilac/env.py
  lilac/sources/parquet_source.py
Labels: backend

save
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/FieldList.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ExportOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/tasks.py
  notebooks/Test.ipynb
Labels: backend

Fix the discord badge link.
  README.md
Labels: none

save
  docs/welcome.md
Labels: none

save
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/lib/fastapi_client/models/ExportOptions.ts
Labels: backend, frontend, client lib

save
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
Labels: backend

save
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

save
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

save
  lilac.yml
  lilac/sources/duckdb_utils.py
  lilac/sources/parquet_source.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/sources/duckdb_utils.py
  lilac/sources/parquet_source.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/sources/csv_source.py
  lilac/sources/json_source.py
  lilac/sources/sqlite_source.py
Labels: backend

save
  lilac/sources/duckdb_utils.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

save
  docs/datasets/dataset_load.md
Labels: none

save
  docs/datasets/dataset_load.md
  lilac/load_dataset.py
  lilac/project.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend
