Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  package-lock.json
  src/signals/semantic_similarity.py
  web/blueprint/src/lib/components/datasetView/Search.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  src/data/dataset_select_rows_search_test.py
  src/signals/semantic_similarity_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/Search.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/Search.svelte
Labels: frontend

save
  src/router_signal.py
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/commands/selectors/EmbeddingList.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
Labels: frontend

Refactor the UI with a global dataset store.
  package-lock.json
  src/data/sources/reddit_hf_source.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/blueprint/src/lib/components/common/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/Search.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/stores/datasetViewStore.spec.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/[namespace]/[datasetName]/+page.svelte
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/server_test.py
Labels: backend

save
  web/blueprint/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

save
  src/signals/semantic_similarity.py
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/Search.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/datasets/[namespace]/[datasetName]/+page.svelte
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/lib/src/lilac.spec.ts
Labels: client lib

save
  web/blueprint/src/lib/components/datasetView/Search.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/src/lib/components/datasetView/Search.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlightConceptPicker.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/+page.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/datasets/dataset.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  run_server_prod.sh
  web/blueprint/src/routes/+layout.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/svelte.config.js
Labels: frontend

Add a filter pills panel.
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  poetry.lock
  pyproject.toml
  src/router_signal.py
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

Add concept search.
  pytest.ini
  src/concepts/db_concept_test.py
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_search_test.py
  src/db_manager.py
  src/router_dataset.py
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptQuery.ts
  web/lib/fastapi_client/models/KeywordQuery.ts
  web/lib/fastapi_client/models/Search.ts
  web/lib/fastapi_client/models/SearchType.ts
  web/lib/fastapi_client/models/SemanticQuery.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

review comments
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  .gitignore
  poetry.lock
  pyproject.toml
  scripts/fix_py.sh
  src/data/sources/default_sources.py
  src/data/sources/gmail_source.py
Labels: backend

save
  src/data/sources/gmail_source.py
Labels: backend

save
  mypy.ini
  poetry.lock
  pyproject.toml
  run_server_dev.sh
  src/data/sources/gmail_source.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: backend, frontend

save
  pyproject.toml
  src/data/sources/gmail_source.py
Labels: backend

save
  src/data/sources/gmail_source.py
Labels: backend

save
  mypy.ini
  poetry.lock
  pyproject.toml
  src/data/sources/gmail_source.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
Labels: frontend

save
  data/concept/lilac/toxicity/concept.json
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
Labels: frontend
