Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/formats/openai_json_test.py
  run_server_dev.sh
Labels: backend

save
  lilac/formats/default_formats.py
  lilac/formats/openai_json.py
  lilac/formats/sharegpt.py
Labels: backend

save
  lilac/data/clustering_test.py
Labels: backend

save
  lilac/formats/sharegpt.py
Labels: backend

save
  Dockerfile
  lilac/data/clustering.py
  lilac/hf_docker/Dockerfile
  lilac/router_dataset_signals.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

Fix edge case where table doesn't exist and doesn't get created
  lilac/data/dataset_duckdb.py
  scripts/deploy_demo.py
Labels: backend

save
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

lol quotes
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/PrefetchRowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/lib/src/schema.ts
Labels: client lib

save
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/PrefetchRowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

Support glaive-function-calling-v2 in the demo, clusters, and via sharegpt.
  lilac/__init__.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/db_manager.py
  lilac_hf_space.yml
  notebooks/GlaiveToShareGPT.ipynb
  run_server_dev.sh
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
Labels: backend

save
  docs/_static/dataset/dataset_cluster.png
  docs/_static/dataset/dataset_cluster_modal.png
  docs/_static/dataset/dataset_cluster_view.png
  docs/_static/dataset/dataset_open_clusters.png
  docs/datasets/dataset_cluster.md
  docs/index.rst
  docs/poetry.lock
  scripts/build_docs.sh
  scripts/watch_docs.sh
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  README.md
  docs/welcome.md
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_storage_utils.py
  lilac/db_manager.py
  lilac/formats/sharegpt.py
  lilac_hf_space.yml
  notebooks/GlaiveToShareGPT.ipynb
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

save
  docs/datasets/dataset_cluster.md
Labels: none

save
  docs/datasets/dataset_cluster.md
Labels: none

save
  lilac_hf_space.yml
Labels: none

save
  lilac_hf_space.yml
Labels: none

save
  notebooks/GlaiveToShareGPT.ipynb
Labels: none

save
  docs/datasets/dataset_cluster.md
  docs/datasets/dataset_export.md
  docs/poetry.lock
  notebooks/Clustering.ipynb
  poetry.lock
Labels: none

save
  docs/datasets/dataset_cluster.md
  docs/poetry.lock
Labels: none

save
  notebooks/Clustering.ipynb
Labels: none

Add mosaic-instruct-v3
  lilac_hf_space.yml
Labels: none

save
  lilac_hf_space.yml
Labels: none

save
  lilac/server.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  lilac/server_test.py
Labels: backend

Add eval datasets.
  lilac_hf_space.yml
Labels: none

Cluster explore link is now a button; doesn't open in new tab
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

Add eval datasets.
  lilac/hf_docker_start.py
  lilac_hf_space.yml
Labels: backend

save
  .env
  docs/blog/introducing-lilac.md
  docs/concepts/concept_use.md
  docs/embeddings/embeddings.md
  docs/getting_started/installation.md
  lilac/concepts/db_concept.py
  lilac/data/clustering.py
  lilac/embeddings/palm.py
  lilac/env.py
  lilac/router_concept.py
  lilac/server.py
  lilac/signals/default_signals.py
  lilac_hf_space.yml
  poetry.lock
  pyproject.toml
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, frontend, client lib

save
  lilac/concepts/db_concept.py
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: backend, frontend

rearrange where mosaic appears
  lilac_hf_space.yml
Labels: none

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_test.py
  lilac/data/dataset_utils.py
  lilac/load_test.py
  lilac/schema.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/EmbeddingInfo.ts
  web/lib/fastapi_client/models/Field.ts
Labels: backend, frontend, client lib

save
  docs/poetry.lock
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
