Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  pyproject.toml
Labels: none

save
  integration_tests/fastapi_mount_test.sh
  lilac/server.py
  lilac/server_mount_test.py
  lilac/server_test.py
Labels: backend

save
  integration_tests/fastapi_mount_test.sh
  integration_tests/run_integration_tests.sh
Labels: none

save
  lilac/data/cluster_titling.py
  lilac/server_mount_test.py
Labels: backend

save
  lilac/data/cluster_titling.py
Labels: backend

save
  lilac/server_test.py
Labels: backend

formats
  lilac/formats/sharegpt.py
  lilac/router_dataset.py
  lilac/router_dataset_signals.py
  notebooks/Clustering copy.ipynb
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ClusterInputSelectorConfig.ts
  web/lib/fastapi_client/models/ClusterOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  lilac/formats/openai_json.py
  lilac/formats/openchat.py
  lilac/formats/sharegpt.py
  lilac/router_dataset_signals.py
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ClusterInputSelectorConfig.ts
  web/lib/fastapi_client/models/ClusterOptions.ts
Labels: backend, frontend, client lib

save
  notebooks/Clustering copy.ipynb
Labels: none

save
  lilac/load_test.py
Labels: backend

save
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
Labels: frontend

save
  lilac/data/clustering.py
  lilac/router_dataset_signals.py
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DefaultClusterOutputPathOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  lilac/data/clustering.py
Labels: backend

Add license scan report and status
  README.md
Labels: none

Fix bug when theres no dataset format and we fail to cluster.
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
Labels: frontend

Fix several FOSSA security vulnerabilities.
  package-lock.json
  poetry.lock
  pyproject.toml
  scripts/setup_py.sh
Labels: none

save
  pyproject.toml
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  pyproject.toml
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  lilac/sources/llama_index_docs_source.py
  lilac/sources/llama_index_docs_source_test.py
Labels: backend

save
  lilac/sources/github_source.py
Labels: backend

save
  lilac/concepts/db_concept.py
  lilac/embeddings/bge.py
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/nomic_embed.py
  lilac/embeddings/openai.py
  lilac/embeddings/sbert.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  lilac/concepts/concept.py
  lilac/embeddings/bge.py
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/nomic_embed.py
  lilac/embeddings/openai.py
  lilac/embeddings/sbert.py
Labels: backend

save
  lilac/data/clustering.py
  lilac/data/clustering_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset.py
Labels: backend

save
  lilac/data/clustering.py
  lilac/router_dataset_signals.py
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/lib/fastapi_client/models/ClusterOptions.ts
Labels: backend, frontend, client lib

Fix a bug with excess RAM usage during vector computes.
  lilac/data/dataset_select_rows_sort_test.py
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_test.py
Labels: backend

save
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_numpy.py
Labels: backend

save
  lilac/embeddings/vector_store.py
  lilac/signals/semantic_similarity_test.py
Labels: backend

Upgrade duckdb to 0.10
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test.py
  lilac/sources/csv_source.py
  poetry.lock
  pyproject.toml
Labels: backend

fix quote nesting
  lilac/data/dataset_duckdb.py
Labels: backend
