Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/concepts/prompt-injections/concept.json
  lilac/concepts/prompt-reveal/concept.json
Labels: backend

save
  lilac/sources/__init__.py
Labels: backend

save
  lilac/router_concept.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/auth.py
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_test.py
  lilac/data/dataset_test_utils.py
  lilac/data/dataset_utils.py
  lilac/load_test.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/router_google_login.py
  lilac/router_signal.py
  lilac/schema.py
  lilac/server_concept_test.py
  lilac/server_dataset_test.py
  lilac/server_signal_test.py
  lilac/signal.py
  lilac/signal_test.py
  lilac/source.py
  lilac/sources/gmail_source.py
  lilac/sources/pandas_source.py
  lilac/sources/source_registry_test.py
  lilac/splitters/chunk_splitter.py
  lilac/splitters/chunk_splitter_test.py
  lilac/splitters/text_splitter_spacy.py
  lilac/tasks.py
  notebooks/MigrateEmbedding.ipynb
  poetry.lock
  pyproject.toml
  scripts/deploy_hf.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/data_loader.py
  lilac/project.py
  lilac/router_dataset.py
  lilac/schema.py
  lilac/server_dataset_test.py
  lilac/signal.py
  lilac/source.py
  notebooks/MigrateEmbedding.ipynb
  notebooks/Sentiment.ipynb
  notebooks/Toxicity.ipynb
Labels: backend

save
  lilac/config.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  lilac/router_signal.py
  lilac/schema.py
  lilac/server_signal_test.py
  lilac/signal.py
  lilac/source.py
  lilac/sources/huggingface_source.py
  lilac/sources/reddit_hf_source.py
  lilac/tasks.py
Labels: backend

save
  docker_start.py
  lilac/env.py
  scripts/deploy_hf.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_labels_test.py
  lilac/data/dataset_test.py
  lilac/schema.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_config_test.py
  lilac/data_loader_test.py
  lilac/server_dataset_test.py
Labels: backend

Add UI to clear labels.
  lilac/auth.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/common/RemovableTag.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DatasetUserAccess.ts
  web/lib/fastapi_client/models/RemoveLabelsOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  lilac/data/dataset.py
  lilac/server_dataset_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  lilac/concepts/concept.py
  lilac/data/dataset.py
  lilac/data/dataset_labels_test.py
  lilac/router_dataset.py
  lilac/sources/gmail_source.py
Labels: backend

Add a 'label all' button to label all results in view
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
Labels: backend, frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/make_openapi.py
  lilac/router_dataset.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptMetadata.ts
  web/lib/fastapi_client/models/ConceptMetadata_Input.ts
  web/lib/fastapi_client/models/ConceptModelInfo.ts
  web/lib/fastapi_client/models/ConceptUpdate.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
  web/lib/fastapi_client/models/DatasetInfo.ts
  web/lib/fastapi_client/models/DatasetSettings.ts
  web/lib/fastapi_client/models/DatasetSettings_Output.ts
  web/lib/fastapi_client/models/DatasetUISettings.ts
  web/lib/fastapi_client/models/DatasetUISettings_Input.ts
  web/lib/fastapi_client/models/Example.ts
  web/lib/fastapi_client/models/Example_Output.ts
  web/lib/fastapi_client/models/Field.ts
  web/lib/fastapi_client/models/SearchResultInfo.ts
  web/lib/fastapi_client/models/SelectGroupsResult.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
  web/lib/fastapi_client/models/SelectRowsSchemaUDF.ts
  web/lib/fastapi_client/models/SortResult.ts
  web/lib/fastapi_client/models/Source.ts
  web/lib/fastapi_client/models/StatsResult.ts
  web/lib/fastapi_client/models/TaskInfo.ts
  web/lib/fastapi_client/models/TaskManifest.ts
  web/lib/fastapi_client/models/TaskStepInfo.ts
  web/lib/fastapi_client/services/ConceptsService.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/src/lilac.ts
Labels: backend, client lib

save
  lilac/router_dataset.py
  lilac/schema.py
  web/lib/fastapi_client/models/AddLabelsOptions.ts
  web/lib/fastapi_client/models/SelectGroupsOptions.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
Labels: backend, client lib

save
  web/lib/fastapi_client/models/AddLabelsOptions.ts
  web/lib/fastapi_client/models/RemoveLabelsOptions.ts
Labels: client lib

save
  lilac/router_signal.py
  web/lib/fastapi_client/models/SignalComputeResponse.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/routes/datasets/loading/+page.svelte
Labels: frontend

save
  lilac/concepts/concept.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptSearch.ts
  web/lib/fastapi_client/models/Example.ts
  web/lib/fastapi_client/models/ExampleIn.ts
  web/lib/fastapi_client/models/KeywordSearch.ts
  web/lib/fastapi_client/models/ListFilter.ts
  web/lib/fastapi_client/models/MergeConceptDraftOptions.ts
  web/lib/fastapi_client/models/SemanticSearch.ts
  web/lib/fastapi_client/models/UnaryFilter.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  poetry.lock
  pyproject.toml
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none

Separate metadata requests into row_ids, and metadata separately.
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  lilac/concepts/concept.py
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/Example.ts
  web/lib/fastapi_client/models/ExampleIn.ts
  web/lib/fastapi_client/models/MergeConceptDraftOptions.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  docker_start.py
Labels: none

save
  lilac/concepts/db_concept.py
Labels: backend

save
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_hf.py
Labels: none

save
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/data_loader.py
  lilac/schema.py
  lilac/utils.py
Labels: backend

save
  lilac/data/dataset_select_groups_test.py
  lilac/schema.py
  lilac/utils.py
Labels: backend

save
  lilac/utils.py
Labels: backend
