Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/common/RemovableTag.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: frontend

Add better navigation
  web/blueprint/src/lib/assets/logo.png
  web/blueprint/src/lib/assets/logo_50x50.png
  web/blueprint/src/lib/assets/logo_square.png
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
Labels: frontend, client lib

saves
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
Labels: frontend

save
  lilac/concepts/db_concept.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/lib/fastapi_client/models/ConceptInfo.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/navigationStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/+page.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
  web/blueprint/src/routes/settings/+page.svelte
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
Labels: frontend, client lib

Save
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/components/Page.svelte
Labels: frontend

review
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/settings/+page.svelte
Labels: frontend

save
  lilac/data/dataset_utils.py
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  lilac/signals/semantic_similarity.py
Labels: backend

save
  lilac/concepts/concept.py
  lilac/embeddings/gte.py
  lilac/embeddings/sbert.py
  lilac/embeddings/transformer_utils.py
  lilac/router_signal.py
  lilac/signals/default_signals.py
  lilac/signals/signal.py
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

save
  lilac/signals/signal.py
Labels: backend

save
  data/concept/lilac/toxicity/concept.json
  lilac/embeddings/gte.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

Add a signal preview page.
  lilac/router_signal.py
  lilac/router_utils.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/components/signals/SignalView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/queries/signalQueries.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/signals/+page.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/embeddings/vector_store.py
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: backend, frontend

save
  data/concept/lilac/toxicity/concept.json
  lilac/__init__.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test_utils.py
  lilac/data/dataset_utils.py
  lilac/embeddings/default_vector_stores.py
  lilac/embeddings/embedding.py
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_numpy.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/semantic_similarity_test.py
  mypy.ini
  poetry.lock
  pyproject.toml
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_test.py
  lilac/signals/concept_scorer_test.py
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  lilac/embeddings/vector_store_hnsw.py
Labels: backend

save
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_numpy.py
  lilac/router_concept.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
Labels: backend

save
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_numpy.py
Labels: backend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptColumnInfo.ts
  web/lib/fastapi_client/models/ConceptModelInfo.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: frontend, client lib

save
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_numpy.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/semantic_similarity_test.py
Labels: backend

save
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset_select_rows_search_test.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/commands/ExamplesList.svelte
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Add a load script which reads a yml file that configures datasets, signals, embeddings, and settings.
  .gitignore
  README.md
  demo.yml
  lilac/auth.py
  lilac/concepts/db_concept.py
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/data/duckdb_utils.py
  lilac/data_loader.py
  lilac/embeddings/cohere.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/transformer_utils.py
  lilac/env.py
  lilac/load.py
  lilac/router_concept.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/router_google_login.py
  lilac/server.py
  lilac/signals/signal.py
  lilac/sources/gmail_source.py
  lilac/tasks.py
  lilac/utils.py
  poetry.lock
  pyproject.toml
  scripts/deploy_hf.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

save
  demo.yml
  lilac/load.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

save
  docs/.firebaserc
  docs/.gitignore
  docs/README.md
  docs/firebase.json
  scripts/deploy_website.sh
Labels: none

save
  lilac/cli.py
  lilac/config.py
  lilac/load.py
Labels: backend

save
  README.md
  lilac/signals/signal.py
Labels: backend

save
  lilac/load.py
  mypy.ini
Labels: backend

save
  docs/_static/analytics.js
  docs/_templates/base.html
  docs/conf.py
Labels: none

save
  docs/_static/analytics.js
Labels: none

save
  docs/_static/analytics.js
  docs/_templates/base.html
  docs/conf.py
Labels: none

save
  docs/_templates/base.html
Labels: none

save
  docs/poetry.lock
  docs/pyproject.toml
Labels: none

Add a deploy_demo script which deploys our public demo.
  demo.yml
  lilac/cli.py
  lilac/load.py
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
