Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/embeddings/cohere.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  lilac/signal.py
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
Labels: backend, client lib

review
  lilac/data/dataset.py
  lilac/embeddings/embedding.py
  lilac/schema.py
  lilac/signal.py
  lilac/signals/semantic_similarity.py
Labels: backend

clean up display representation
  lilac/signals/pii.py
  lilac/signals/pii_presidio.py
Labels: backend

Fix missing token in hf upload
  lilac/cli.py
  lilac/deploy.py
  scripts/deploy_staging.py
Labels: backend

save
  docs/poetry.lock
  lilac/config.py
  lilac/schema.py
  lilac/signal.py
  lilac/source.py
  pyproject.toml
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/lib/fastapi_client/models/DatasetUISettings.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/Chip.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

Add debouncing to file watcher recompilation
  lilac/sources/langsmith.py
  run_server_dev.sh
  web/blueprint/src/lib/queries/langsmithQueries.ts
  web/lib/fastapi_client/services/LangsmithService.ts
Labels: backend, frontend, client lib

Filter by confidence score
  lilac/signals/pii_presidio.py
Labels: backend

Simplify the UI for choosing media fields.
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

Add monaco and enable column-level diffing.
  notebooks/DatasetMap.ipynb
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/monaco.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

Add monaco and enable column-level diffing.
  notebooks/DatasetMap.ipynb
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/monaco.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

Integrate Presidio into PII detection (#839)
  lilac/signals/pii.py
  lilac/signals/pii_ip_address.py
  lilac/signals/pii_presidio.py
  lilac/signals/pii_test.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: backend

save
  notebooks/DatasetMap.ipynb
Labels: none

save
  notebooks/DatasetMap.ipynb
Labels: none

Add monaco and enable column-level diffing.
  notebooks/DatasetMap.ipynb
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/monaco.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/queries/queryUtils.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

savd
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  lilac/embeddings/openai.py
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/queries/queryUtils.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/svelte.config.js
Labels: backend, frontend

save
  package-lock.json
  web/blueprint/package.json
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
Labels: frontend

save
  web/blueprint/svelte.config.js
Labels: frontend

save
  web/blueprint/svelte.config.js
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

Add parallelism to dataset.map with dask.
  .vscode/settings.json
  lilac/conftest.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_test_utils.py
  lilac/tasks.py
  lilac/test_utils.py
  notebooks/DatasetMap.ipynb
  poetry.lock
  pyproject.toml
Labels: backend

save
  .vscode/settings.json
  lilac/tasks.py
Labels: backend
