Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_test_utils.py
Labels: backend

save
  src/embeddings/sbert.py
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
Labels: backend, frontend

save
  src/concepts/concept.py
  src/concepts/db_concept_test.py
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/embeddings/cohere.py
  src/embeddings/embedding.py
  src/embeddings/sbert.py
  src/router_dataset.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
  src/signals/default_signals.py
  src/signals/semantic_similarity.py
  src/signals/semantic_similarity_test.py
  src/signals/signal.py
  src/signals/splitters/chunk_splitter.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/TextSplitterSignal.ts
Labels: backend, client lib

save
  src/embeddings/cohere.py
  src/embeddings/sbert.py
  src/signals/pii.py
  src/signals/signal.py
  src/signals/splitters/chunk_splitter.py
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
Labels: backend, frontend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_duckdb.py
  src/signals/default_signals.py
Labels: backend

save
  src/router_dataset.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

Add semantic search.
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/router_dataset.py
  src/signals/semantic_similarity.py
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.spec.ts
  web/inspector/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/lib/fastapi_client/models/Search.ts
  web/lib/fastapi_client/models/SearchType.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
Labels: backend, frontend, client lib

save
  src/embeddings/cohere.py
  src/embeddings/embedding.py
  src/embeddings/sbert.py
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
Labels: backend, frontend

save
  src/embeddings/sbert.py
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
Labels: backend, frontend

save
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_search_test.py
  src/router_signal.py
  src/server_test.py
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/datasetView/RowView.svelte
  web/inspector/src/lib/components/datasetView/Search.svelte
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/lib/queries/queryUtils.ts
  web/inspector/src/lib/queries/signalQueries.ts
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/models/Search.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
  web/lib/fastapi_client/services/SignalsService.ts
Labels: backend, frontend, client lib

save
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/datasetView/Search.svelte
Labels: frontend

save
  web/inspector/src/lib/components/datasetView/Search.svelte
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  web/inspector/src/lib/components/datasetView/Search.svelte
Labels: backend, frontend

save
  web/inspector/src/lib/queries/queryUtils.ts
Labels: frontend

save
  src/embeddings/embedding.py
  src/embeddings/embedding_test.py
Labels: backend

save
  web/inspector/src/lib/components/datasetView/Search.svelte
Labels: frontend

save
  src/router_signal.py
  web/inspector/src/lib/components/datasetView/Search.svelte
Labels: backend, frontend
