Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

Revert "restore old chunker"
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/tasks.py
  notebooks/DatasetMap.ipynb
Labels: backend

fix(LILAC): mypy
  mypy.ini
Labels: none

revert(LILAC): poetry.lock
  poetry.lock
Labels: none

fix(LILAC): delete greenlet from pyproject.toml
  pyproject.toml
Labels: none

Fix int64 bug
  lilac/schema.py
Labels: backend

Add the language model reference concept.
  lilac/concepts/language-model-reference/concept.json
Labels: backend

save
  lilac/concepts/language-model-reference/concept.json
Labels: backend

save
  lilac/concepts/language-model-reference/concept.json
Labels: backend

Sleep for 2 seconds after publishing tags in the publish pip script.
  scripts/publish_pip.sh
Labels: none

Add the video to readme and website.
  README.md
  docs/welcome.md
Labels: none

save
  README.md
Labels: none

Fix the deploy_website script.
  scripts/deploy_website.py
Labels: none

fix(LILAC): poetry lock
  poetry.lock
Labels: none

fix batch size confusion
  lilac/embeddings/gte.py
  lilac/embeddings/sbert.py
  lilac/embeddings/transformer_utils.py
  notebooks/unmaintained/sentence_transformer_batch_size_perf.ipynb
Labels: backend

Fix NaT bug
  lilac/data/dataset.py
Labels: backend

Map jsonl.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/utils.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/embeddings/vector_store.py
  lilac/router_utils.py
  lilac/signal.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/semantic_similarity.py
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: backend, frontend

save
  lilac/embeddings/vector_store.py
Labels: backend

save
  lilac/embeddings/vector_store_hnsw.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/server_dataset_test.py
Labels: backend

refactor(LILAC): prettier
  lilac/embeddings/palm.py
Labels: backend

build(LILAC): updated poetry lock
  poetry.lock
Labels: none

fix(LILAC): elif
  lilac/embeddings/palm.py
Labels: backend

Add JSONL caching.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  notebooks/DatasetMap.ipynb
Labels: none

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  pyproject.toml
Labels: none

Switch to Python 3.11.
  .python-version
  pyproject.toml
Labels: none

Add a Lilac deployer UI that lets you deploy a dataset + Lilac from a streamlit UI.
  .vscode/settings.json
  examples/huggingface-space-dataset/huggingface-space-dataset.ipynb
  lilac/deploy.py
  lilac_deployer/.python-version
  lilac_deployer/.vscode/extensions.json
  lilac_deployer/README.md
  lilac_deployer/app.py
  lilac_deployer/poetry.lock
  lilac_deployer/poetry.toml
  lilac_deployer/pyproject.toml
  notebooks/LlamaIndexLoader.ipynb
  pyproject.toml
  scripts/deploy_lilac_deployer.py
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, client lib

save
  examples/huggingface-space-dataset/huggingface-space-dataset.ipynb
Labels: none

save
  lilac_deployer/.vscode/extensions.json
  notebooks/LlamaIndexLoader.ipynb
Labels: none

save
  lilac_deployer/pyproject.toml
Labels: none

Tiny fixes to the deployer UI.
  lilac_deployer/poetry.lock
  lilac_deployer/pyproject.toml
  scripts/deploy_lilac_deployer.py
Labels: none

Add tokens to all hf_api calls.
  lilac/deploy.py
  lilac_deployer/app.py
Labels: backend

save
  lilac/deploy.py
Labels: backend

save
  lilac/deploy.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
