Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  docker_start.py
Labels: none

save
  docker_start.py
Labels: none

Add docs for exploring a dataset.
  docs/_static/dataset/dataset_explore.png
  docs/_static/dataset/dataset_filter.png
  docs/_static/dataset/dataset_keyword_search.png
  docs/_static/dataset/dataset_keyword_search_results.png
  docs/_static/dataset/dataset_stats.png
  docs/datasets/dataset_explore.md
  docs/datasets/dataset_stats.png
  notebooks/API.ipynb
Labels: none

Add documentation for concepts + datasets.
  docs/_static/dataset/dataset_compute_concept.png
  docs/_static/dataset/dataset_compute_concept_results.png
  docs/_static/dataset/dataset_schema_compute_embedding.png
  docs/_static/dataset/dataset_search_compute.png
  docs/_static/dataset/dataset_search_concept.png
  docs/_static/dataset/dataset_search_concept_results.png
  docs/datasets/dataset_concepts.md
  docs/datasets/dataset_explore.md
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: backend, frontend

save
  docs/datasets/dataset_concepts.md
Labels: none

Update the demo config with medical datasets
  demo.yml
  lilac/sources/huggingface_source.py
  notebooks/API.ipynb
Labels: backend

save
  demo.yml
  notebooks/API.ipynb
Labels: none

save
  notebooks/API.ipynb
Labels: none

save
  demo.yml
  scripts/deploy_demo.py
Labels: none

save
  lilac/data/dataset.py
  lilac/embeddings/__init__.py
  lilac/sources/default_sources.py
Labels: backend

Save
  docs/datasets/dataset_concepts.md
Labels: none

save
  demo.yml
Labels: none

save
  demo.yml
Labels: none

save
  docs/datasets/dataset_concepts.md
Labels: none

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

Add an option to cache concept model files when deploying
  demo.yml
  lilac/config.py
  lilac/load.py
  scripts/deploy_demo.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

Fix yaml dump
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test_utils.py
  lilac/data_loader.py
  lilac/router_dataset.py
  lilac/utils.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test_utils.py
  lilac/data_loader.py
  lilac/router_dataset.py
Labels: backend

sa
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

Update README.md
  README.md
Labels: none

save
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

Add help.
  README.md
  docs/welcome.md
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Page.svelte
Labels: frontend

save
  README.md
Labels: none

save
  README.md
Labels: none

Add a favicon to docs and website
  docs/conf.py
  web/blueprint/src/app.html
  web/blueprint/static/favicon.ico
  web/blueprint/static/favicon.png
Labels: frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_stats_test.py
  lilac/data/dataset_test.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

Add orca
  .gitignore
  demo.yml
Labels: none

save
  demo.yml
Labels: none

save
  lilac/concepts/question/concept.json
  web/blueprint/src/routes/concepts/+page.svelte
Labels: backend, frontend

Update questions concept with more examples. Fix concept UI bugs.
  demo.yml
  lilac/concepts/question/concept.json
  web/blueprint/src/lib/components/concepts/ConceptMetrics.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptDataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/routes/datasets/+page.svelte
Labels: backend, frontend

save
  lilac/router_concept.py
  web/blueprint/src/lib/components/concepts/ConceptMetrics.svelte
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  lilac/concepts/concept.py
  lilac/router_concept.py
  lilac/server_concept_test.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
