Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  docs/getting_started/installation.md
  docs/getting_started/quickstart.md
  lilac/cli.py
  web/blueprint/src/lib/components/datasets/huggingface/ConfigInput.svelte
  web/blueprint/src/lib/components/datasets/huggingface/SplitsInput.svelte
Labels: backend, frontend

Fix task bug
  lilac/server.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/project.py
Labels: backend

Remove the explicit cache directory for sentence transformers.
  lilac/embeddings/transformer_utils.py
Labels: backend

Fix the huggingface deploy script.
  docker_start.py
  run_server_dev.sh
  scripts/deploy_hf.py
Labels: none

save
  run_server_dev.sh
Labels: none

save
  web/blueprint/src/lib/components/datasetView/ConceptInsight.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/Insights.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

Fix bug with concept labeler not returning refreshed results.
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsight.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsightItems.svelte
  web/blueprint/src/lib/components/datasetView/insights/Insights.svelte
  web/blueprint/src/lib/queries/taskQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsightItems.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsight.svelte
Labels: frontend

save
  lilac/concepts/source-code/concept.json
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsight.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/insights/Insights.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsight.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsightItems.svelte
  web/blueprint/src/lib/components/datasetView/insights/Insights.svelte
  web/blueprint/src/lib/components/datasetView/insights/MediaInsight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
Labels: frontend

Update docs for GCS filepaths.
  lilac/cli.py
  lilac/sources/csv_source.py
  lilac/sources/parquet_source.py
Labels: backend

save
  lilac/server.py
  lilac/sources/parquet_source.py
  web/blueprint/src/routes/+layout.svelte
Labels: backend, frontend

save
  lilac/sources/csv_source.py
Labels: backend

save
  lilac/sources/csv_source.py
  lilac/sources/json_source.py
  lilac/sources/parquet_source.py
Labels: backend

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

When merging floats, check for closeness to avoid precision issues.
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  poetry.lock
  pyproject.toml
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
