Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/router_signal.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/signals/signal.py
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, frontend, client lib

save
  lilac/batch_utils.py
  lilac/batch_utils_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/signals/concept_scorer.py
Labels: backend

save
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  lilac/batch_utils.py
  lilac/signals/concept_scorer.py
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/fastapi_client/services/DefaultService.ts
  web/lib/fastapi_client/services/GoogleLoginService.ts
Labels: backend, client lib

save
  README.md
Labels: none

sav
  web/lib/src/lilac.ts
Labels: client lib

save
  data/concept/lilac/profanity/concept.json
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_settings_test.py
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
Labels: backend, frontend

save
  lilac/batch_utils.py
  lilac/router_signal.py
  lilac/server_signal_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/SignalComputeResponse.ts
  web/lib/fastapi_client/models/SignalSchemaOptions.ts
  web/lib/fastapi_client/models/SignalSchemaResponse.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/fastapi_client/services/DefaultService.ts
  web/lib/fastapi_client/services/GoogleLoginService.ts
  web/lib/fastapi_client/services/SignalsService.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasets/huggingface/DatasetNameInput.svelte
  web/blueprint/src/lib/components/datasets/huggingface/SplitsInput.svelte
  web/blueprint/src/lib/queries/huggingfaceQueries.ts
Labels: frontend

save
  lilac/batch_utils.py
  lilac/batch_utils_test.py
  lilac/concepts/concept.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
  lilac/data/dataset_utils.py
  lilac/embeddings/embedding.py
  lilac/embeddings/embedding_test.py
  lilac/embeddings/vector_store.py
  lilac/schema.py
  lilac/server_concept_test.py
  lilac/signals/concept_labels.py
  lilac/signals/concept_labels_test.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/lang_detection.py
  lilac/signals/lang_detection_test.py
  lilac/signals/ner.py
  lilac/signals/pii.py
  lilac/signals/pii_ip_address.py
  lilac/signals/pii_secrets.py
  lilac/signals/semantic_similarity.py
  lilac/signals/semantic_similarity_test.py
  lilac/signals/signal.py
  lilac/signals/splitters/chunk_splitter.py
  lilac/signals/splitters/text_splitter_spacy.py
  lilac/signals/splitters/text_splitter_test_utils.py
  lilac/signals/splitters/text_splitter_test_utils_test.py
  lilac/signals/substring_search.py
Labels: backend

save
  lilac/batch_utils.py
  lilac/data/dataset_utils_test.py
  lilac/embeddings/embedding.py
  lilac/signals/text_statistics.py
  lilac/utils.py
Labels: backend

save
  lilac/batch_utils_test.py
  lilac/server_signal_test.py
  lilac/signals/semantic_similarity.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

Fix snippeting when there are empty arrays.
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  lilac/config.py
  scripts/deploy_hf.py
Labels: backend

save
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_hf.py
Labels: none

Fix several UI bugs
  web/blueprint/src/app.html
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasets/huggingface/HFNameInput.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

save
  lilac/data/__init__.py
  notebooks/MigrateEmbedding.ipynb
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/common/RemovableTag.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/SignalBadge.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  lilac/data/dataset_select_rows_schema_test.py
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasets/huggingface/ConfigInput.svelte
  web/blueprint/src/lib/queries/huggingfaceQueries.ts
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasets/huggingface/ConfigInput.svelte
  web/blueprint/src/lib/components/datasets/huggingface/SplitsInput.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/embeddings/vector_store.py
Labels: backend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend
