Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  Dockerfile
Labels: none

save
  pyproject.toml
Labels: none

Shorten render spans that are too long
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: backend, frontend

save
  data/concept/lilac/negative-sentiment/concept.json
  lilac/data/dataset.py
  lilac/signals/lang_detection.py
  lilac/signals/text_statistics.py
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  lilac/signals/lang_detection.py
  lilac/signals/lang_detection_test.py
  lilac/signals/text_statistics.py
  lilac/signals/text_statistics_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/queries/queryUtils.ts
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Add authorization to concepts
  .gitignore
  lilac/auth.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/router_concept.py
  lilac/router_dataset.py
  lilac/router_google_login.py
  lilac/server.py
  lilac/signals/concept_labels.py
  lilac/signals/concept_scorer.py
  lilac/signals/signal.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPillHoverBody.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptACLs.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/UserInfo.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
Labels: frontend

save
  lilac/auth.py
Labels: backend

save
  package-lock.json
  web/blueprint/src/lib/components/GettingStartedStep.svelte
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/routes/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/GettingStartedStep.svelte
  web/blueprint/src/routes/+page.svelte
Labels: frontend

save
  lilac/auth.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/config.py
  lilac/conftest.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/data/duckdb_utils.py
  lilac/embeddings/cohere.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/router_concept.py
  lilac/router_google_login.py
  lilac/server.py
  lilac/server_concept_test.py
  lilac/server_dataset_test.py
  lilac/signals/concept_labels_test.py
  lilac/signals/concept_scorer_test.py
  lilac/test_utils.py
  lilac/utils.py
  scripts/deploy_hf.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/services/ConceptsService.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/fastapi_client/services/DefaultService.ts
  web/lib/fastapi_client/services/GoogleLoginService.ts
Labels: backend, frontend, client lib

save
  web/lib/fastapi_client/services/ConceptsService.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/fastapi_client/services/DefaultService.ts
  web/lib/fastapi_client/services/GoogleLoginService.ts
Labels: client lib

save
  lilac/test_utils.py
Labels: backend

save
  lilac/data/dataset.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
  web/blueprint/src/routes/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/blueprint/src/routes/settings/+page.svelte
  web/lib/fastapi_client/models/DatasetSettings.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/blueprint/src/routes/+page.svelte
Labels: frontend

save
  .vscode/extensions.json
  Dockerfile
  lilac/.gitignore
  lilac/__init__.py
  lilac/concepts/db_concept.py
  lilac/config.py
  lilac/server.py
  notebooks/API.ipynb
  pyproject.toml
  scripts/build_server_prod.sh
  scripts/deploy_hf.py
Labels: backend

save
  scripts/deploy_hf.py
Labels: none

save
  lilac/auth.py
  lilac/concepts/db_concept.py
  lilac/router_concept.py
  lilac/server.py
  lilac/server_concept_test.py
  lilac/signals/concept_scorer.py
Labels: backend

save
  lilac/router_google_login.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/lib/queries/googleAuthQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: backend, frontend

save
  lilac/config.py
  lilac/router_dataset.py
  lilac/router_google_login.py
  lilac/server.py
Labels: backend

save
  lilac/router_google_login.py
Labels: backend

save
  .gitignore
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset.py
  lilac/server.py
  lilac/server_concept_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptACLs.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, client lib

save
  .vscode/settings.json
  lilac/auth.py
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_settings_test.py
  lilac/data/sources/csv_source.py
  lilac/data/sources/gmail_source.py
  lilac/data/sources/huggingface_source.py
  lilac/data/sources/json_source.py
  lilac/data/sources/json_source_test.py
  lilac/data/sources/source.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
  lilac/router_concept.py
  lilac/router_dataset.py
  lilac/schema.py
  lilac/schema_test.py
  lilac/server_concept_test.py
  lilac/server_dataset_test.py
  lilac/signals/lang_detection.py
  lilac/signals/ner.py
  lilac/signals/signal.py
  lilac/signals/signal_test.py
  lilac/signals/splitters/text_splitter_spacy.py
  lilac/signals/text_statistics.py
  lilac/tasks.py
  lilac/utils.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
Labels: backend, client lib

save
  .vscode/settings.json
  lilac/concepts/concept.py
  lilac/data/dataset_utils.py
  lilac/embeddings/openai.py
  lilac/schema_test.py
  lilac/server.py
  lilac/server_concept_test.py
  lilac/signals/concept_scorer.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptACL.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, client lib

save
  .vscode/settings.json
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/embeddings/embedding.py
  lilac/embeddings/openai.py
  lilac/embeddings/vector_store_numpy.py
  lilac/tasks.py
Labels: backend

save
  lilac/__init__.py
  lilac/data_loader.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/server.py
  notebooks/API.ipynb
Labels: backend

save
  lilac/__init__.py
  lilac/data_loader.py
  notebooks/API.ipynb
Labels: backend

save
  lilac/config.py
  lilac/data/dataset_utils.py
  lilac/data_loader.py
  lilac/tasks.py
  notebooks/API.ipynb
Labels: backend

save
  lilac/tasks.py
  notebooks/API.ipynb
Labels: backend

save
  lilac/config.py
  scripts/test_py.sh
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
  notebooks/API.ipynb
Labels: backend

save
  lilac/__init__.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data_loader.py
  notebooks/API.ipynb
  scripts/test_py.sh
Labels: backend

save
  notebooks/API.ipynb
Labels: none

save
  notebooks/API.ipynb
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  notebooks/API.ipynb
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
