Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Start diffing work
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/vite.config.ts
Labels: frontend

save
  web/blueprint/vite.config.ts
Labels: frontend

Add a nest_under field to dataset.map().
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/schema.py
  lilac/tasks.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  notebooks/DatasetMap.ipynb
Labels: none

save
  lilac/schema_test.py
Labels: backend

Implement fast processing for huggingface datasets
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
Labels: backend

remove old impl
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/sources/huggingface_source.py
Labels: backend

remove dead lines?
  lilac/sources/huggingface_source_test.py
Labels: backend

Fix splits
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_labels_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_test.py
  lilac/server_dataset_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/load_dataset_test.py
  lilac/schema.py
  lilac/schema_test.py
  lilac/signals/text_statistics_test.py
  lilac/source.py
  lilac/sources/huggingface_source.py
  lilac/sources/parquet_source_test.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/FieldList.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/DataType.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset.py
  lilac/schema.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptSearch.ts
  web/lib/fastapi_client/models/Field.ts
  web/lib/fastapi_client/models/KeywordSearch.ts
  web/lib/fastapi_client/models/MapType.ts
  web/lib/fastapi_client/models/MetadataSearch.ts
  web/lib/fastapi_client/models/SemanticSearch.ts
Labels: backend, client lib

save
  lilac/schema.py
  lilac/sources/parquet_source_test.py
  notebooks/API.ipynb
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/FieldList.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/DataType.ts
  web/lib/fastapi_client/models/Field.ts
Labels: backend, frontend, client lib

save
  web/lib/src/schema.ts
Labels: client lib

save
  web/lib/src/lilac.spec.ts
Labels: client lib

save
  lilac/schema.py
  web/lib/src/lilac.spec.ts
Labels: backend, client lib

save
  lilac/data/dataset_duckdb.py
  web/lib/fastapi_client/models/MapType.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/lib/fastapi_client/models/MapType.ts
Labels: frontend, client lib

save
  web/lib/fastapi_client/models/MapType.ts
Labels: client lib

save
  lilac/deploy.py
  lilac/sources/parquet_source.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

Small UI fixes for expanding long rows.
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/common/Hoist.ts
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/schema.py
Labels: backend

Fix bug with dtypes and signal computation.
  notebooks/Test.ipynb
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandConcepts.svelte
Labels: frontend

save
  notebooks/Test.ipynb
Labels: none

save
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_stats_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_groups_test.py
  lilac/data/dataset_stats_test.py
  lilac/schema.py
  lilac/sources/parquet_source.py
  pytest.ini
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_test.py
Labels: backend

Signal pickle stuff
  lilac/router_dataset.py
  lilac/server.py
  notebooks/CustomSignal.ipynb
  poetry.lock
  pyproject.toml
Labels: backend

Fix a bug with previewing and comparing on repeated values.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

Allow custom signals to work with dask processes.
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  lilac/server.py
  lilac/tasks.py
  scripts/test_signal.py
Labels: backend
