Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsightItems.svelte
  web/blueprint/src/lib/utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/env.py
Labels: backend

Exclude sqlite files from cache busting logic
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/__init__.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/formats/__init__.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/lib/fastapi_client/models/PivotOptions.ts
  web/lib/fastapi_client/models/SelectGroupsOptions.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/PrefetchRowItem.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/__init__.py
  lilac/data/clustering.py
  lilac/data/clustering_test.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

Fix issue with urls that end with a slash.
  lilac/server.py
  web/blueprint/src/lib/components/NavigationExpandable.svelte
Labels: backend, frontend

save
  lilac/server.py
Labels: backend

save
  lilac/server.py
Labels: backend

save
  docs/_static/introducing_garden/ai_ethics.png
  docs/_static/introducing_garden/cluster_pipeline.png
  docs/_static/introducing_garden/clusters.png
  docs/_static/introducing_garden/group_cluster_by_model.png
  docs/_static/introducing_garden/jailbreak_dan.png
  docs/_static/introducing_garden/jailbreak_unhinged.png
  docs/_static/introducing_garden/nsfw.png
  docs/blog/introducing-garden.md
  docs/index.rst
Labels: none

save
  docs/blog/introducing-garden.md
  docs/poetry.lock
Labels: none

save
  docs/blog/introducing-garden.md
Labels: none

save
  docs/blog/introducing-garden.md
Labels: none

save
  docs/blog/introducing-garden.md
Labels: none

save
  docs/_static/getting_started/orca-cluster.mp4
  docs/getting_started/quickstart.md
Labels: none

save
  lilac/load.py
Labels: backend

save
  docs/getting_started/quickstart.md
  lilac/data/dataset_duckdb.py
Labels: backend

save
  docs/datasets/dataset_cluster.md
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  docs/blog/introducing-garden.md
Labels: none

save
  LICENSE
  docs/conf.py
  lilac/hf_docker/LICENSE
Labels: backend

Address PR comments
  docs/getting_started/quickstart.md
  docs/getting_started/quickstart_python.md
  docs/poetry.lock
  lilac/data/dataset.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_groups_test.py
Labels: backend

save
  README.md
  docs/blog/introducing-garden.md
  docs/index.rst
Labels: none

save
  lilac/data/dataset_duckdb.py
Labels: backend

test
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_groups_test.py
Labels: backend

Implement signal cancellation
  lilac/router_tasks.py
  lilac/tasks.py
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/lib/fastapi_client/services/TasksService.ts
Labels: backend, frontend, client lib

Add OpenHermes-2.5 to the public demo.
  lilac_hf_space.yml
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  lilac_hf_space.yml
Labels: none

save
  lilac_hf_space.yml
Labels: none

save
  README.md
Labels: none

save
  lilac/concepts/concept.py
  lilac/concepts/db_concept_test.py
Labels: backend

Fix issues with expansion
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend
