Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/signals/concept_scorer_test.py
Labels: backend

save
  .env
  lilac/sources/langsmith.py
  pyproject.toml
Labels: backend

save
  web/blueprint/src/lib/queries/langsmithQueries.ts
Labels: frontend

save
  poetry.lock
Labels: none

save
  lilac/sources/langsmith.py
  web/blueprint/src/lib/components/datasets/langsmith/DatasetInput.svelte
Labels: backend, frontend

save
  run_server_dev.sh
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  run_server_dev.sh
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptDataFeeder.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
Labels: frontend

save
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
Labels: frontend

rebase
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/concepts/legal-termination/concept.json
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/non-english/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/question/concept.json
  lilac/concepts/source-code/concept.json
  lilac/concepts/toxicity/concept.json
  lilac/router_concept.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptMetadata.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptDataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  lilac/concepts/db_concept.py
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/non-english/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/question/concept.json
  lilac/concepts/source-code/concept.json
  lilac/concepts/toxicity/concept.json
Labels: backend

save
  lilac/concepts/db_concept.py
Labels: backend

save
  lilac/concepts/db_concept.py
Labels: backend

save
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  lilac/concepts/concept.py
  lilac/concepts/db_concept_test.py
  lilac/router_concept.py
  lilac/server_concept_test.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, frontend, client lib

save
  scripts/deploy_hf.py
Labels: none

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
Labels: frontend

save
  lilac/concepts/db_concept.py
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Navigation.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
Labels: frontend

Fix bug with load script
  lilac/load.py
Labels: backend

save
  lilac/data/dataset_select_rows_udf_test.py
  lilac/embeddings/vector_store.py
  lilac/signals/pii_secrets.py
  lilac/signals/pii_test.py
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

Update the global project config during changes.
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_project_test.py
  lilac/data/dataset_test.py
  lilac/data/dataset_test_utils.py
  lilac/data_loader.py
  lilac/data_loader_test.py
  lilac/load.py
  lilac/project.py
  lilac/project_test.py
  lilac/schema.py
  lilac/server_dataset_test.py
  lilac/source.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/gmail_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/langsmith.py
  lilac/sources/pandas_source.py
  lilac/sources/pandas_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/sources/reddit_hf_source.py
  lilac/sources/source_registry.py
  lilac/sources/source_registry_test.py
  lilac/utils.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DatasetManifest.ts
  web/lib/fastapi_client/models/Source.ts
Labels: backend, client lib

save
  lilac/data/dataset.py
  lilac/project.py
Labels: backend

save
  lilac/data/dataset_config_test.py
  lilac/data/dataset_test_utils.py
  lilac/data_loader_test.py
  lilac/project.py
  lilac/project_test.py
Labels: backend

Fix concept labeler bug
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
Labels: frontend

Fix issue with non-serializable schema.
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
