Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  run_server_dev.sh
  web/blueprint/vite.config.ts
Labels: frontend

save
  run_server_dev.sh
Labels: none

save
  web/blueprint/vite.config.ts
Labels: frontend

save
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/vite.config.ts
Labels: frontend

Support input selectors from config files.
  lilac/__init__.py
  lilac/config.py
  lilac/data/clustering.py
  lilac/data/clustering_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_format.py
  lilac/data/dataset_format_test.py
  lilac/data/formats/__init__.py
  lilac/data/formats/default_formats.py
  lilac/data/formats/openchat.py
  lilac/data/formats/openchat_test.py
  lilac/data/formats/sharegpt.py
  lilac/data/formats/sharegpt_test.py
  lilac/load.py
  lilac/load_test.py
  lilac/schema.py
  web/lib/fastapi_client/models/DatasetFormat.ts
Labels: backend, client lib

save
  lilac/config.py
  lilac/data/formats/openchat.py
  lilac/data/formats/sharegpt.py
  lilac/load.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ClusterInfo.ts
  web/lib/fastapi_client/models/ClusterInputFormatSelectorInfo.ts
Labels: backend, client lib

save
  lilac/__init__.py
  lilac/data/clustering.py
  lilac/data/clustering_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/dataset_format.py
  lilac/formats/__init__.py
  lilac/formats/default_formats.py
  lilac/formats/openchat.py
  lilac/formats/openchat_test.py
  lilac/formats/sharegpt.py
  lilac/formats/sharegpt_test.py
  lilac/load.py
Labels: backend

save
  lilac/config.py
  lilac/load.py
  lilac/load_test.py
Labels: backend

save
  lilac/dataset_format.py
  lilac/dataset_format_test.py
  lilac/formats/openchat.py
  lilac/formats/sharegpt.py
Labels: backend

Update lock files from ./scripts/setup.sh
  package-lock.json
  poetry.lock
Labels: none

Remove the media path x preferred-embedding logic.
  lilac/load.py
  lilac_hf_space.yml
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/embeddings/gte.py
Labels: backend

Fix bug with keyword search highlighting every field.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  lilac/data/clustering.py
  lilac/deploy.py
  lilac/load.py
  lilac_hf_space.yml
  run_server_prod.sh
  scripts/deploy_demo.py
  scripts/deploy_staging.py
Labels: backend

save
  lilac/config.py
  lilac/embeddings/gte.py
  lilac/load.py
Labels: backend

save
  lilac/data/dataset_utils.py
  lilac/embeddings/gte.py
  lilac/load_test.py
Labels: backend

save
  lilac/db_manager.py
Labels: backend

save
  lilac/db_manager.py
Labels: backend

allow discovery
  lilac/db_manager.py
Labels: backend

save
  lilac/config.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/embeddings/gte.py
  lilac/signal.py
Labels: backend

Fix some small UI bugs.
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

save
  lilac/embeddings/gte.py
  lilac/signal.py
Labels: backend

save
  lilac/embeddings/gte.py
  lilac/embeddings/jina.py
  lilac/signal.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/cli.py
  lilac/deploy.py
  scripts/deploy_demo.py
  scripts/deploy_staging.py
Labels: backend

save
  lilac/data/dataset_test_utils.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_labels_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
Labels: backend

save
  lilac/load_dataset_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/cli.py
  scripts/deploy_demo.py
  scripts/deploy_staging.py
Labels: backend

save
  lilac/deploy.py
  lilac/embeddings/cohere.py
  lilac/embeddings/embedding.py
  lilac/splitters/spacy_splitter.py
  lilac_hf_space.yml
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Add dataset.load_embedding
  lilac/__init__.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_load_embedding_test.py
  lilac/data/dataset_project_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
  lilac/data/dataset_utils.py
  lilac/embeddings/embedding.py
  lilac/embeddings/embedding_test.py
  lilac/embeddings/jina.py
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/load_test.py
  lilac/schema.py
  lilac/server_concept_test.py
  lilac/signal.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/semantic_similarity_test.py
Labels: backend
