Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  pyproject.toml
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  lilac/embeddings/transformer_utils.py
  pyproject.toml
Labels: backend

save
  pyproject.toml
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  lilac/embeddings/vector_store_hnsw.py
Labels: backend

Add a compute concept modal.
  lilac/signal.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/components/commands/CommandConcepts.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/blueprint/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/blueprint/src/lib/components/commands/selectors/ConceptList.svelte
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandConcepts.svelte
  web/blueprint/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/blueprint/src/lib/components/commands/selectors/ConceptList.svelte
Labels: frontend

save
  lilac/signal.py
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: frontend

save
  poetry.lock
Labels: none

save
  lilac/concepts/legal-termination/concept.json
  lilac/concepts/negative-sentiment/concept.json
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/signals/SignalView.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  lilac/signal.py
  web/blueprint/src/lib/components/commands/CommandConcepts.svelte
  web/blueprint/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/blueprint/src/lib/components/commands/selectors/ConceptList.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
Labels: frontend

Tiny bug fixes before release.
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
Labels: frontend

save
  docs/_static/lilac-welcome.mp4
  docs/_static/welcome/concepts.mp4
  docs/_static/welcome/download.mp4
  docs/_static/welcome/insights.mp4
  docs/_static/welcome/semantic-search.mp4
  docs/_static/welcome/signals.mp4
  docs/welcome.md
  web/blueprint/src/lib/components/TaskStatus.svelte
Labels: frontend

save
  docs/.firebaserc
Labels: none

save
  scripts/deploy_website.sh
Labels: none

save
  docs/getting_started/installation.md
  docs/welcome.md
  notebooks/API.ipynb
Labels: none

save
  notebooks/API.ipynb
Labels: none

save
  docs/welcome.md
Labels: none

save
  docs/welcome.md
Labels: none

Optional Outputs
  lilac/sources/langsmith.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  lilac/db_manager.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

Improve project API.
  .env
  README.md
  docs/datasets/dataset_load.md
  docs/getting_started/quickstart_python.md
  docs/huggingface/huggingface_spaces.md
  docs/index.rst
  docs/projects/projects.md
  docs/signals/signals_create.md
  docs/welcome.md
  lilac/__init__.py
  lilac/cli.py
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/config.py
  lilac/conftest.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_project_test.py
  lilac/data_loader.py
  lilac/db_manager.py
  lilac/env.py
  lilac/load.py
  lilac/load_test.py
  lilac/project.py
  lilac/project_test.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/server.py
  lilac/server_concept_test.py
  lilac/server_dataset_test.py
  lilac/server_signal_test.py
  lilac/signals/concept_labels_test.py
  lilac/signals/concept_scorer_test.py
  lilac/sources/duckdb_utils.py
  lilac/sources/gmail_source.py
  lilac/utils.py
  run_server_dev.sh
  scripts/deploy_hf.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  development.md
  docs/datasets/dataset_load.md
  docs/projects/projects.md
  lilac/__init__.py
  lilac/cli.py
  lilac/load.py
  lilac/load_test.py
  lilac/project.py
  lilac/server.py
  lilac/utils.py
Labels: backend

save
  run_server_dev.sh
Labels: none

save
  lilac/data_loader.py
  lilac/load.py
  lilac/project.py
Labels: backend

Add a large guide for querying datasets.
  docs/datasets/dataset_explore.md
  docs/datasets/dataset_query.md
  docs/index.rst
  lilac/data/__init__.py
Labels: backend

Add UI for viewing labels.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  lilac/schema.py
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/lib/fastapi_client/models/Field.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

Fix bug with the selectRows cache not being cleared.
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/signals/clustering.py
Labels: backend

save
  .env
  docs/README.md
  scripts/deploy_website.sh
Labels: none

save
  scripts/deploy_website.sh
Labels: none
