Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Fix the concept labeler with the new preview concept key.
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
Labels: frontend

Fix the concept labeler with the new preview concept key.
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
Labels: frontend

Upgrade ruff version and fix associated new linter errors
  lilac/data/dataset.py
  lilac/embeddings/vector_store.py
  lilac/schema.py
  lilac/signal.py
  lilac/signals/minhash_dup.py
  poetry.lock
  pyproject.toml
  scripts/fix_py.sh
  scripts/lint_py.sh
  scripts/test_py.sh
Labels: backend

save
  lilac/load_dataset.py
  lilac/project.py
  lilac/router_dataset.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

Improve export preview text
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

Minimize poetry lock changesA
  poetry.lock
  pyproject.toml
Labels: none

revert poetry lock
  poetry.lock
Labels: none

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

try again
  poetry.lock
Labels: none

save
  docs/datasets/dataset_load.md
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/sources/huggingface_source.py
Labels: backend

save
  poetry.lock
Labels: none

Allow searching by pre-computed concepts in the searchbox.
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

Add spacy embedding-clustering splitter
  lilac/splitters/chunk_splitter_test.py
  lilac/splitters/spacy_splitter.py
  lilac/splitters/spacy_splitter_test.py
  lilac/splitters/text_splitter_spacy.py
  lilac/splitters/text_splitter_spacy_test.py
  lilac/splitters/text_splitter_test_utils.py
Labels: backend

fix lint
  lilac/router_dataset.py
  lilac/splitters/spacy_splitter_test.py
Labels: backend

Add test for preferred break boundaries
  lilac/splitters/spacy_splitter_test.py
Labels: backend

address comments
  lilac/splitters/chunk_splitter_test.py
  lilac/splitters/spacy_splitter.py
Labels: backend

temp commit
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
  lilac/splitters/spacy_splitter_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

add new embedding methodology
  lilac/embeddings/gte.py
  lilac/signals/default_signals.py
  lilac/splitters/spacy_splitter.py
  poetry.lock
  pyproject.toml
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

Use much cheaper tokenizer/embedder for determining chunk groupings
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
  lilac/splitters/spacy_splitter.py
Labels: backend

Clean up func signature
  lilac/splitters/spacy_splitter.py
Labels: backend

fix test
  lilac/splitters/spacy_splitter_test.py
Labels: backend

save
  lilac/concepts/profanity/concept.json
  lilac/sources/parquet_source_test.py
  poetry.lock
  pyproject.toml
Labels: backend

feat(LILAC): gcp connector for PaLM
  lilac/embeddings/palm.py
Labels: backend

build(LILAC): poetry for aiplatform
  poetry.lock
  pyproject.toml
Labels: none

build(LILAC): poetry lock update
  poetry.lock
Labels: none

Add pdb server command
  run_server_pdb.sh
Labels: none

Handle edge case
  lilac/splitters/spacy_splitter.py
  lilac/splitters/spacy_splitter_test.py
Labels: backend

.
  development.md
  run_server_pdb.sh
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  notebooks/DatasetMap.ipynb
  notebooks/Test.ipynb
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  notebooks/DatasetMap.ipynb
Labels: backend

save
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

refactor(LILAC): consistent formatting
  lilac/embeddings/palm.py
Labels: backend

restore old chunker
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  notebooks/DatasetMap.ipynb
Labels: backend
