Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  src/router_dataset.py
  web/lib/fastapi_client/models/SelectRowsOptions.ts
Labels: backend, client lib

save
  web/inspector/src/lib/components/commands/CommandFilter.svelte
Labels: frontend

save
  src/router_dataset.py
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Filter.ts
  web/lib/fastapi_client/models/FilterREST.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
Labels: backend, frontend, client lib

Add support for enums in json schema form
  web/inspector/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: frontend

Make filters more type safe, and improve their UI
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_filter_test.py
  src/router_dataset.py
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/ListFilter.ts
  web/lib/fastapi_client/models/ListOp.ts
  web/lib/fastapi_client/models/SelectGroupsOptions.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/UnaryFilter.ts
Labels: backend, frontend, client lib

save
  src/concepts/db_concept.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/sources/default_sources.py
  src/data/sources/huggingface_source.py
  src/data/sources/reddit_hf_source.py
Labels: backend

types
  src/data/dataset.py
Labels: backend

Separate input_type and compute_type on signals.
  src/data/dataset_duckdb.py
  src/embeddings/embedding.py
  src/embeddings/vector_store_numpy.py
  src/schema.py
  src/signals/signal.py
Labels: backend

save
  src/data/sources/reddit_hf_source.py
Labels: backend

Types
  web/lib/fastapi_client/models/UnaryFilter.ts
Labels: client lib

save
  src/data/dataset_compute_signal_test.py
  src/data/dataset_utils.py
Labels: backend

save
  src/data/dataset_utils.py
  src/embeddings/embedding.py
Labels: backend

save
  src/data/dataset_utils.py
  src/embeddings/embedding.py
Labels: backend

save
  src/data/dataset_compute_signal_test.py
  src/embeddings/vector_store_numpy.py
Labels: backend

save
  src/embeddings/vector_store_numpy.py
Labels: backend

Remove eslint for react
  package-lock.json
  package.json
Labels: none

save
  src/schema.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/router_dataset.py
  src/server_test.py
  web/inspector/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

Create read-only view of concepts
  web/inspector/src/lib/components/concepts/ConceptExampleList.svelte
  web/inspector/src/lib/components/concepts/ConceptView.svelte
  web/inspector/src/routes/+layout.svelte
  web/inspector/src/routes/concepts/[[namespace]]/[[concept]]/+page.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
Labels: backend

Use alias in sort and filter
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

types
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
Labels: frontend

Forms cleanup
  web/inspector/src/lib/components/JSONSchema/JSONSchemaArrayInput.svelte
  web/inspector/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/inspector/src/lib/components/datasets/huggingface/SplitsInput.svelte
Labels: frontend

Correctly label signalRoot on repeated fields
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

Fix filtering command
  web/inspector/src/lib/components/commands/CommandFilter.svelte
Labels: frontend

🧹
  web/inspector/src/lib/components/commands/CommandFilter.svelte
Labels: frontend

🧹
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.spec.ts
Labels: frontend

Make python github actions conditional on paths
  .github/workflows/python.yml
Labels: none

added files
  .github/workflows/python.yml
Labels: none

Add enums for splits and embeddings to populate the UI.
  src/router_signal.py
  src/signals/signal.py
  src/signals/signal_test.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SignalInfo.ts
Labels: backend, client lib

save
  src/data/dataset_duckdb.py
  src/data/dataset_test.py
  src/data/dataset_utils.py
  src/router_dataset.py
  src/schema.py
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/GetStatsOptions.ts
  web/lib/fastapi_client/models/SelectGroupsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
Labels: backend, client lib

save
  src/signals/signal.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_utils.py
  src/embeddings/vector_store.py
  src/embeddings/vector_store_numpy.py
  src/schema.py
  src/signals/concept_scorer.py
  src/signals/semantic_search.py
  src/signals/semantic_search_test.py
  src/signals/signal.py
Labels: backend

save
  src/schema_test.py
Labels: backend

save
  src/schema.py
  src/signals/signal_test.py
Labels: backend

Change paths on repeated value nodes to contain their index instead of wildcard
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: client lib

Add display names to signals which inform the JSON schema's title field.
  src/embeddings/cohere.py
  src/signals/concept_scorer.py
  src/signals/pii.py
  src/signals/semantic_search.py
  src/signals/signal.py
  src/signals/signal_test.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/text_statistics.py
  web/lib/fastapi_client/core/ApiError.ts
  web/lib/fastapi_client/core/ApiRequestOptions.ts
  web/lib/fastapi_client/core/ApiResult.ts
  web/lib/fastapi_client/core/CancelablePromise.ts
  web/lib/fastapi_client/core/OpenAPI.ts
Labels: backend, client lib

save
  src/signals/pii.py
  src/signals/pii_test.py
Labels: backend

Fix enum forms
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.spec.ts
  web/inspector/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: frontend

test
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.spec.ts
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
