Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  src/data/dataset_duckdb.py
Labels: backend

Add a link to the dataset from the concept labeler.
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
Labels: frontend

Add a settings.json file for persistent dataset settings.
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/router_dataset.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DatasetSettings.ts
  web/lib/fastapi_client/models/DatasetUISettings.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_settings_test.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_settings_test.py
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
Labels: backend, frontend

save
  src/data/dataset.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/schema.py
  src/signals/default_signals.py
  src/signals/minhash_dup.py
  src/signals/near_dup.py
  src/signals/near_dup_test.py
  web/lib/fastapi_client/models/Field.ts
Labels: backend, client lib

save
  mypy.ini
Labels: none

save
  src/signals/near_dup.py
Labels: backend

save
  src/signals/near_dup.py
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: backend, frontend

Add an environment flag for LILAC_READONLY
  .env
  src/router_concept.py
  src/router_dataset.py
  src/server.py
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/queries/serverQueries.ts
  web/blueprint/src/lib/stores/TaskMonitor.svelte
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ServerStatusResponse.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, frontend, client lib

save
  mypy.ini
  poetry.lock
  pyproject.toml
  src/signals/default_signals.py
  src/signals/lang_detection.py
  src/signals/lang_detection_test.py
Labels: backend

save
  src/signals/lang_detection.py
Labels: backend

save
  .env
  src/auth.py
  src/router_concept.py
  src/router_dataset.py
  src/server.py
  src/server_concept_test.py
  src/server_dataset_test.py
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/queries/serverQueries.ts
  web/blueprint/src/lib/stores/TaskMonitor.svelte
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptUserAccess.ts
  web/lib/fastapi_client/models/DatasetUserAccess.ts
  web/lib/fastapi_client/models/ServerStatusResponse.ts
  web/lib/fastapi_client/models/UserAccess.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, frontend, client lib

save
  src/router_dataset.py
Labels: backend

save
  src/router_data_loader.py
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
Labels: frontend

Fix a bug with spans not showi showing metadata when the span is cut
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  src/data/dataset.py
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_utils.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: backend, frontend

save
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

save
  poetry.lock
  pyproject.toml
  src/auth.py
  src/router_google_login.py
  src/server.py
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/queries/googleAuthQueries.ts
  web/blueprint/src/lib/queries/serverQueries.ts
  web/blueprint/src/lib/stores/TaskMonitor.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/blueprint/vite.config.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/UserInfo.ts
  web/lib/fastapi_client/services/DefaultService.ts
  web/lib/fastapi_client/services/GoogleLoginService.ts
Labels: backend, frontend, client lib

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_stats_test.py
  src/data/dataset_test_utils.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  scripts/setup_py.sh
  src/embeddings/cohere.py
Labels: backend

Add Google OAuth Login.
  .env
  poetry.lock
  pyproject.toml
  src/router_google_login.py
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/queries/googleAuthQueries.ts
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/services/GoogleLoginService.ts
Labels: backend, frontend, client lib

save
  poetry.lock
  pyproject.toml
  src/data/sources/gmail_source.py
  src/embeddings/cohere.py
  src/embeddings/openai.py
  src/embeddings/palm.py
  src/embeddings/sbert.py
  src/router_concept.py
  src/signals/lang_detection.py
  src/signals/lang_detection_test.py
  src/signals/ner.py
  src/signals/pii_secrets.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/splitters/text_splitter_spacy_test.py
  src/signals/text_statistics.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/signals/pii.py
  src/signals/pii_secrets.py
Labels: backend

save
  scripts/deploy_hf.py
Labels: none

save
  src/router_google_login.py
  web/blueprint/src/lib/components/Page.svelte
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
Labels: backend, frontend, client lib

save
  .env
  README.md
  pyproject.toml
Labels: none

save
  mypy.ini
  src/server.py
Labels: backend

save
  .env
Labels: none

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
