Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

sav
  README.md
Labels: none

Make llama-index an optional dependency.
  lilac/sources/github_source.py
  lilac/sources/llama_index_docs_source.py
  pyproject.toml
Labels: backend

save
  notebooks/LlamaIndexLoader.ipynb
Labels: none

save
  pyproject.toml
Labels: none

save
  poetry.lock
Labels: none

save
  pyproject.toml
Labels: none

save
  poetry.lock
Labels: none

save
  lilac/signal.py
  lilac/sources/llama_index_docs_source.py
Labels: backend

save
  README.md
Labels: none

save
  README.md
Labels: none

Fix deploy scripts
  lilac/data/dataset_duckdb.py
  lilac/load.py
  lilac/project.py
  lilac/signal.py
  run_server_dev.sh
  scripts/deploy_demo.py
Labels: backend

save
  lilac/load.py
Labels: backend

save
  lilac/load.py
  lilac_hf_space.yml
Labels: backend

Save
  run_server_dev.sh
Labels: none

Add dbscan as a signal to the lilac demo datasets.
  lilac_hf_space.yml
Labels: none

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  web/blueprint/src/lib/components/common/DropdownPill.svelte
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/LabelPill.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

Add HDBScan with UMAP
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
  lilac/signals/default_signals.py
  poetry.lock
  pyproject.toml
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: backend, frontend

save
  lilac/signals/cluster_hdbscan.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/signals/cluster_hdbscan.py
Labels: backend

save
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: backend

save
  Dockerfile
  lilac/hf_docker/Dockerfile
  pyproject.toml
Labels: backend

save
  poetry.lock
Labels: none

save
  Dockerfile
  README.md
  lilac/hf_docker/Dockerfile
  lilac/hf_docker/docker_start.sh
Labels: backend

save
  Dockerfile
Labels: none

Modernize the readme.
  README.md
  run_server_prod.sh
Labels: none

save
  lilac/data/dataset_duckdb.py
  lilac/sources/duckdb_utils.py
  lilac/sources/sqlite_source.py
Labels: backend

save
  Dockerfile
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
