Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  src/data/sources/csv_source.py
  src/data/sources/json_source.py
  src/data/sources/pandas_source.py
  src/data/sources/reddit_hf_source.py
  src/data/sources/source_registry_test.py
  src/data/sources/tfds_source.py
  src/data_loader.py
  web/inspector/src/lib/components/TaskStatus.svelte
Labels: backend, frontend

save
  src/tasks.py
  web/inspector/src/lib/components/TaskStatus.svelte
Labels: backend, frontend

save
  data/concept/lilac/toxicity/concept.json
  src/concepts/db_concept.py
Labels: backend

save
  data/concept/lilac/toxicity/concept.json
Labels: none

Add a linear scale of opacity on spans based on the score.
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

Fix double task step id in source loading.
  src/data_loader.py
Labels: backend

save
  src/data_loader.py
Labels: backend

Use the max score for coloring a span.
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

Allow editing previewed signals
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/Commands.svelte
  web/inspector/src/lib/components/commands/customComponents/EmptyComponent.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectConcept.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
  web/inspector/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/inspector/src/lib/components/commands/selectors/SignalList.svelte
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/inspector/src/lib/components/commands/CommandFilter.svelte
Labels: frontend

save
  src/data/dataset_select_rows_filter_test.py
  web/inspector/src/lib/components/datasetView/RowView.svelte
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/lib/fastapi_client/models/GetStatsOptions.ts
Labels: backend, frontend, client lib

save
  src/concepts/concept.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptThreshold.ts
  web/lib/fastapi_client/models/Sensitivity.ts
Labels: backend, client lib

save
  mypy.ini
  src/concepts/concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/server_concept_test.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/ConceptThreshold.ts
  web/lib/fastapi_client/models/ScoreBody.ts
Labels: backend, client lib

save
  data/concept/lilac/toxicity/concept.json
  src/concepts/concept.py
Labels: backend

save
  web/lib/fastapi_client/models/Sensitivity.ts
Labels: client lib

save
  src/router_concept.py
  web/lib/fastapi_client/models/ConceptDatasetOptions.ts
Labels: backend, client lib

save
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/lib/queries/queryUtils.ts
  web/lib/fastapi_client/models/GetStatsOptions.ts
Labels: frontend, client lib

save
  mypy.ini
  src/concepts/db_concept_test.py
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/data/dataset_utils.py
  src/embeddings/cohere.py
  src/embeddings/sbert.py
  src/parquet_writer.py
  src/schema.py
  src/server_concept_test.py
  src/server_test.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  src/signals/semantic_similarity.py
  src/signals/semantic_similarity_test.py
  src/signals/signal.py
  src/signals/signal_test.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/substring_search.py
Labels: backend

save
  mypy.ini
Labels: none

Add searches to select_rows and select_rows_schema.
  README.md
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_search_test.py
Labels: backend

save
  README.md
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset.py
Labels: backend

Add search
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_filter_test.py
  src/router_dataset.py
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/datasetView/RowItemValue.svelte
  web/inspector/src/lib/components/datasetView/RowView.svelte
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Search.ts
  web/lib/fastapi_client/models/SearchType.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
Labels: backend, frontend, client lib

save
  src/data/dataset_duckdb.py
  src/embeddings/vector_store_numpy.py
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/datasetView/RowItemValue.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
Labels: backend, frontend, client lib

save
  src/data/dataset_duckdb.py
  src/embeddings/vector_store_numpy.py
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ComputeSignalResponse.ts
Labels: backend, frontend, client lib

save
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/router_concept.py
  src/server_concept_test.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  src/utils.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptDatasetInfo.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
  web/lib/fastapi_client/models/ScoreBody.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/signals/concept_scorer.py
Labels: backend

save
  src/concepts/db_concept_test.py
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_udf_test.py
  src/router_dataset.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/ScoreBody.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

Change source interface to emit items.
  poetry.lock
  pyproject.toml
  src/data/sources/csv_source.py
  src/data/sources/default_sources.py
  src/data/sources/huggingface_source.py
  src/data/sources/json_source.py
  src/data/sources/pandas_source.py
  src/data/sources/reddit_hf_source.py
  src/data/sources/source.py
  src/data/sources/tfds_source.py
  src/data_loader.py
  src/tasks.py
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.spec.ts
  web/inspector/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/SelectRowsSchemaResult.ts
Labels: backend, frontend, client lib

save
  src/router_dataset.py
  src/signals/concept_scorer.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  src/router_concept.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_search_test.py
  src/router_dataset.py
  web/inspector/src/lib/components/datasetView/SearchBox.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/lib/queries/queryUtils.ts
  web/lib/fastapi_client/models/SearchType.ts
Labels: backend, frontend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/signals/concept_scorer.py
Labels: backend

save
  src/concepts/concept.py
  src/signals/concept_scorer.py
  web/lib/fastapi_client/models/ConceptModel.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
Labels: backend

save
  src/concepts/concept.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
