Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  .vscode/settings.json
  lilac/concepts/non-english/concept.json
  lilac/data/dataset_format.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/lib/fastapi_client/models/DatasetFormat.ts
Labels: backend, frontend, client lib

save
  lilac/concepts/non-english/concept.json
Labels: backend

save
  web/blueprint/src/lib/monaco.ts
Labels: frontend

sae
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/monaco.ts
Labels: frontend

handle export deleted
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_groups_test.py
  lilac/router_dataset.py
Labels: backend

save
  lilac/tasks.py
  poetry.lock
  pyproject.toml
Labels: backend

Add tests
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_stats_test.py
Labels: backend

simplify
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
Labels: backend

Add deep linking, refactor monaco.
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/app.html
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/monaco.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

cleanup
  lilac/schema.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/load.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/router_dataset_signals.py
  lilac/source.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/load.py
  lilac/router_dataset_signals.py
  lilac/source.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/load.py
  lilac/load_dataset.py
  lilac/load_test.py
  lilac/router_tasks.py
  lilac/server.py
  lilac/tasks.py
  mypy.ini
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: backend

save
  poetry.lock
  pyproject.toml
Labels: none

save
  .vscode/settings.json
Labels: none

save
  mypy.ini
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: none

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

Fix bug with loading dataset and settings.
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Fix a bug with 0.5 thresholding.
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  lilac/conftest.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_test_utils.py
  lilac/load_test.py
  lilac/router_dataset_signals.py
  lilac/tasks.py
  pytest.ini
Labels: backend

save
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/TaskInfo.ts
  web/lib/fastapi_client/models/TaskShardInfo.ts
  web/lib/fastapi_client/models/TaskStepInfo.ts
Labels: backend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  lilac/load.py
  lilac/load_test.py
  lilac/tasks.py
Labels: backend

save
  lilac/tasks.py
  pytest.ini
Labels: backend

save
  lilac/tasks.py
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/lib/fastapi_client/models/TaskInfo.ts
Labels: backend, frontend, client lib

save
  lilac/conftest.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_test_utils.py
  lilac/load_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/load.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/load_test.py
  lilac/server.py
  lilac/source.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/tasks.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

save
  lilac/server.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  .env
  docs/deployment/huggingface_spaces.md
  lilac/data/dataset_duckdb.py
  lilac/env.py
  lilac/load.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend
