Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

cleanup
  web/lib/src/lilac.ts
Labels: client lib

Add string span visualization of sub children
  web/inspector/src/lib/components/common/TooltipFromAction.svelte
  web/inspector/src/lib/components/common/tootltip.ts
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/datasetView/RowItemValue.svelte
  web/inspector/src/lib/components/datasetView/RowView.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/lib/src/schema.ts
Labels: frontend, client lib

🧹
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

Cleanup path casting
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/src/schema.spec.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

Add and edit concepts
  web/inspector/src/lib/components/commands/CommandCreateConcept.svelte
  web/inspector/src/lib/components/commands/Commands.svelte
  web/inspector/src/lib/components/concepts/ConceptExampleList.svelte
  web/inspector/src/lib/components/concepts/ConceptView.svelte
  web/inspector/src/lib/queries/conceptQueries.ts
  web/inspector/src/lib/queries/datasetQueries.ts
  web/inspector/src/routes/concepts/[[namespace]]/[[concept]]/+page.svelte
Labels: frontend

save
  src/embeddings/cohere.py
  src/signals/concept_scorer.py
  src/signals/semantic_search.py
  src/signals/signal.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/text_statistics.py
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/lib/fastapi_client/core/ApiError.ts
  web/lib/fastapi_client/core/ApiRequestOptions.ts
  web/lib/fastapi_client/core/ApiResult.ts
  web/lib/fastapi_client/core/CancelablePromise.ts
  web/lib/fastapi_client/core/OpenAPI.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, frontend, client lib

tooltip cleanup
  web/inspector/src/lib/components/common/TooltipFromAction.svelte
Labels: frontend

save
  src/embeddings/cohere.py
  src/signals/semantic_search.py
Labels: backend

save
  web/inspector/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  src/signals/pii.py
  src/signals/signal_test.py
Labels: backend

save
  src/signals/semantic_search.py
Labels: backend

save
  src/signals/signal.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
Labels: backend

Add samples to concept from string span
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlightConceptPicker.svelte
Labels: frontend

click outside
  web/inspector/src/lib/components/common/clickOutside.ts
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlightConceptPicker.svelte
Labels: frontend

save
  src/data/dataset_utils.py
Labels: backend

save
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
Labels: backend

Add a bit for when concept models are synced.
  src/router_concept.py
  src/server_concept_test.py
Labels: backend

save
  src/concepts/db_concept.py
Labels: backend

Add a synced bit to the concepts response. Add REST tests for concepts.
  src/concepts/db_concept.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_utils.py
  src/embeddings/embedding.py
  src/router_concept.py
  src/server_concept_test.py
Labels: backend

save
  src/concepts/db_concept.py
  src/data/dataset_select_rows_schema_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptModelResponse.ts
  web/lib/fastapi_client/models/ScoreResponse.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_filter_test.py
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  web/inspector/src/lib/components/commands/selectors/FieldSelect.svelte
Labels: frontend

Simplify embeddings to not allow metadata.
  src/concepts/db_concept_test.py
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
  src/embeddings/cohere.py
  src/embeddings/embedding.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
  src/signals/semantic_search_test.py
  src/signals/signal_test.py
Labels: backend

save
  src/signals/signal.py
Labels: backend

save
  src/embeddings/embedding.py
Labels: backend

save
  src/signals/signal.py
Labels: backend

Cleanup
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

Remove router_embedding.
  src/router_embedding.py
  src/server.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/EmbeddingInfo.ts
  web/lib/fastapi_client/services/EmbeddingsService.ts
Labels: backend, client lib

Some ui cleanup
  web/inspector/src/lib/components/contextMenu/ContextMenu.svelte
  web/inspector/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/routes/datasets/[namespace]/[datasetName]/+page.svelte
  web/lib/src/schema.ts
Labels: frontend, client lib

Move toxicity concept to a lilac folder, and gitignore other local concepts
  .gitignore
  data/concept/lilac/toxicity/concept.json
Labels: none

json
  data/concept/lilac/toxicity/concept.json
Labels: none

save
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.svelte
Labels: frontend

Add custom element for concept picker
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/customComponents/EmptyComponent.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectConcept.svelte
Labels: frontend

save
  web/inspector/src/lib/components/JSONSchema/JSONSchemaForm.spec.ts
Labels: frontend

Seperate signal data between different signals
  web/inspector/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

Fix issue where namespace doesn’t get
  web/inspector/src/lib/components/commands/customComponents/SelectConcept.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
