Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  web/blueprint/src/lib/components/concepts/ConceptMetrics.svelte
Labels: frontend

save
  lilac/embeddings/gte.py
  lilac/embeddings/jina.py
  web/blueprint/src/lib/components/concepts/ConceptMetrics.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: backend, frontend

Fix pandas deprecation warning
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  lilac/data/clustering_test.py
  lilac/load_test.py
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: backend, frontend

CSS changes.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/server.py
  web/blueprint/src/lib/components/common/Carousel.svelte
  web/blueprint/src/lib/components/common/DropdownPill.svelte
  web/blueprint/src/lib/components/datasetView/DatasetControls.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/FilterControls.svelte
  web/blueprint/src/lib/components/datasetView/GroupByControls.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/datasetView/SortControls.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetControls.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
Labels: frontend

save
  lilac/cli.py
  poetry.lock
  pyproject.toml
  web/blueprint/src/lib/components/NavigationExpandable.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

Add --deploy_at_head to lilac deploy-project
  lilac/cli.py
Labels: backend

Fix bug with percentages being stale.
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

Add links to Lilac Garden page
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  README.md
  docs/_static/dataset/dataset_cluster_view.png
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

More fixes.
  lilac/data/dataset_duckdb.py
  lilac/env.py
  lilac/server.py
  lilac_hf_space.yml
  web/blueprint/src/lib/components/ErrorNotifications.svelte
  web/blueprint/src/routes/+layout.svelte
  web/lib/fastapi_client/models/ServerStatus.ts
Labels: backend, frontend, client lib

save
  README.md
  docs/getting_started/installation.md
Labels: none

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  lilac/env.py
  lilac/server.py
  web/lib/fastapi_client/models/ServerStatus.ts
Labels: backend, client lib

save
  README.md
Labels: none

save
  web/blueprint/src/lib/components/ErrorNotifications.svelte
Labels: frontend

Add hacker news comments to the public demo.
  lilac_hf_space.yml
Labels: none

save
  lilac_hf_space.yml
Labels: none

save
  docs/poetry.lock
  lilac/signal.py
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: backend, frontend

save
  lilac_hf_space.yml
Labels: none

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

Add progress bars for JINA embedding for local clustering
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend
