Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  notebooks/API.ipynb
Labels: none

save
  web/blueprint/src/lib/components/datasetView/DeleteRowsButton.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  lilac/data/dataset_config_test.py
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

Fix issue where we don't block on the server thread from the CLI.
  lilac/cli.py
  lilac/server.py
Labels: backend

save
  lilac/server_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/cli.py
Labels: backend

save
  lilac/server.py
Labels: backend

Load datasets in a separate thread from the UI.
  lilac/router_data_loader.py
Labels: backend

save
  lilac/router_data_loader.py
Labels: backend

Fix issue with repeated of string rendering.
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/jina.py
  lilac/embeddings/jina_garden.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
  lilac/signal.py
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, client lib

save
  lilac/signals/text_statistics.py
Labels: backend

save
  lilac/signal_test.py
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
Labels: backend, client lib

save
  docs/deployment/huggingface_spaces.md
Labels: none

Fix lilac deployer for slashed datasets.
  lilac_deployer/app.py
Labels: none

save
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

Add a 2-feature pivot view, allowing you to view a hierarchy of 2 features.
  lilac/load.py
  lilac/server.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
Labels: frontend

save
  lilac/load_test.py
Labels: backend

Improve the UI around deleting.
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/datasetView/DeleteRowsButton.svelte
  web/blueprint/src/lib/components/datasetView/RestoreRowsButton.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
Labels: frontend

fix descctructuring of embeddings
  lilac/concepts/concept.py
Labels: backend

fix/non_folder_export
  lilac/router_dataset.py
Labels: backend

Add keyboard shortcuts for labels.
  lilac/config.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsKeyboardShortcuts.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/models/DatasetUISettings.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsKeyboardShortcuts.svelte
Labels: frontend

save
  lilac/config.py
  web/blueprint/src/lib/components/datasetView/DatasetSettingsKeyboardShortcuts.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/lib/fastapi_client/models/DatasetUISettings.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

Update documentation for labels, keyboard shortcuts, deleting rows.
  docs/_static/dataset/dataset_add_label_all_button.png
  docs/_static/dataset/dataset_add_label_all_short.png
  docs/_static/dataset/dataset_add_label_row.png
  docs/_static/dataset/dataset_add_label_row_tagged.png
  docs/_static/dataset/dataset_add_label_short_labels.png
  docs/_static/dataset/dataset_add_label_tag.png
  docs/_static/dataset/dataset_delete_multi_row.png
  docs/_static/dataset/dataset_delete_single_row.png
  docs/_static/dataset/dataset_settings_keyboard_shortcuts.png
  docs/_static/dataset/dataset_view_deleted_count.png
  docs/_static/dataset/dataset_view_trash.png
  docs/datasets/dataset_configure.md
  docs/datasets/dataset_delete_rows.md
  docs/datasets/dataset_labels.md
Labels: none

save
  docs/index.rst
  docs/poetry.lock
Labels: none

save
  lilac/data/cluster_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_utils.py
Labels: backend

sve
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend
