Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/signals/signal.py
  src/signals/signal_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/router_signal.py
  src/signals/signal.py
  src/signals/signal_test.py
  web/lib/fastapi_client/models/SignalInfo.ts
Labels: backend, client lib

save
  src/signals/signal.py
Labels: backend

save
  src/signals/concept_scorer_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/signals/signal.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_udf_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSplitterSignal.ts
Labels: backend, client lib

save
  src/data/dataset_utils.py
  src/signals/signal.py
Labels: backend

review
  src/data/dataset_compute_signal_chain_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_udf_test.py
  src/signals/signal.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSplitterSignal.ts
Labels: backend, client lib

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/server_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/signals/signal.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/server_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

Add rudimentary filter command
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/Commands.svelte
  web/inspector/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/inspector/src/lib/components/commands/selectors/SignalList.svelte
  web/inspector/src/lib/components/commands/selectors/SignalSelect.svelte
  web/inspector/src/lib/components/common/RemovableTag.svelte
  web/inspector/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
Labels: frontend

typing
  web/inspector/src/lib/components/commands/CommandFilter.svelte
Labels: frontend

Fix select_rows_schema for UDFs.
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_schema_test.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
Labels: backend

save
  src/data/dataset_compute_signal_chain_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_udf_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/data/dataset_select_rows_schema_test.py
Labels: backend

Lint
  web/inspector/src/lib/components/commands/CommandFilter.svelte
Labels: frontend

Fixes for large sentence splitting computation.
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/signals/splitters/text_splitter_spacy.py
  src/tasks.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/data/dataset_utils_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/signals/signal.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/splitters/text_splitter_spacy_test.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/tasks.py
Labels: backend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  poetry.lock
  pyproject.toml
Labels: none

save
  src/router_dataset.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/FilterREST.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
Labels: backend, client lib

Add an explicit reddit source.
  src/data/sources/reddit_hf_source.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
