Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  scripts/publish_pip.sh
  scripts/tag_version.sh
Labels: none

save
  scripts/publish_pip.sh
Labels: none

save
  lilac/cli.py
  lilac/config.py
  lilac/load.py
  scripts/deploy_demo.py
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
Labels: backend, frontend

save
  scripts/publish_pip.sh
Labels: none

Check that gh is installed before publishing to pip so it doesn't fail at the end.
  scripts/publish_pip.sh
Labels: none

save
  scripts/publish_pip.sh
Labels: none

Set up auto-configs for release notes with new tags.
  .github/release.yml
Labels: none

save
  .github/release.yml
Labels: none

Upgrade pytest
  poetry.lock
  pyproject.toml
Labels: none

save
  lilac/data/dataset_duckdb.py
  lilac/load.py
Labels: backend

save
  lilac/embeddings/vector_store.py
  lilac/tasks.py
Labels: backend

save
  lilac/load.py
Labels: backend

[Projects] Create an empty project and run load() on the config when the server boots up.
  .env
  docs/datasets/dataset_load.md
  docs/datasets/dataset_signals.md
  lilac/__init__.py
  lilac/cli.py
  lilac/config.py
  lilac/env.py
  lilac/project.py
  lilac/project_test.py
  lilac/server.py
Labels: backend

save
  lilac/__init__.py
  lilac/data/dataset.py
  lilac/server.py
  lilac/sources/csv_source.py
  lilac/sources/default_sources.py
  lilac/sources/langsmith.py
  lilac/sources/source.py
  mypy.ini
  poetry.lock
  pyproject.toml
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, client lib

save
  lilac/load.py
  lilac/project.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/router_tasks.py
  lilac/server.py
  lilac/tasks.py
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
  web/blueprint/vite.config.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/TaskInfo.ts
  web/lib/fastapi_client/models/TaskType.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, frontend, client lib

save
  README.md
  docs/getting_started/installation.md
  docs/getting_started/quickstart.md
  docs/signals/signals_create.md
  docs/welcome.md
Labels: none

save
  .env
  docs/datasets/dataset_load.md
  lilac/server.py
Labels: backend

save
  run_server_dev.sh
Labels: none

save
  lilac/project.py
Labels: backend

Add GTE to pip install dockerfile
  Dockerfile
  docs/getting_started/quickstart_python.md
  web/blueprint/src/lib/components/Navigation.svelte
Labels: frontend

save
  lilac/load.py
  lilac/tasks.py
Labels: backend

save
  Dockerfile
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/ConceptExampleList.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptDataFeeder.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptDataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/selectors/FieldSelect.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
Labels: frontend

save
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/concepts/legal-termination/concept.json
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/non-english/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/question/concept.json
  lilac/concepts/source-code/concept.json
  lilac/concepts/toxicity/concept.json
  lilac/router_concept.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptMetadata.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  lilac/concepts/db_concept.py
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/non-english/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/question/concept.json
  lilac/concepts/source-code/concept.json
  lilac/concepts/toxicity/concept.json
Labels: backend

rebase
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/concepts/legal-termination/concept.json
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/non-english/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/question/concept.json
  lilac/concepts/source-code/concept.json
  lilac/concepts/toxicity/concept.json
  lilac/router_concept.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/blueprint/src/lib/components/concepts/ConceptSettingsModal.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptMetadata.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  lilac/concepts/db_concept.py
  lilac/concepts/negative-sentiment/concept.json
  lilac/concepts/non-english/concept.json
  lilac/concepts/positive-sentiment/concept.json
  lilac/concepts/profanity/concept.json
  lilac/concepts/question/concept.json
  lilac/concepts/source-code/concept.json
  lilac/concepts/toxicity/concept.json
Labels: backend

save
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  lilac/data/dataset_test_utils.py
  lilac/schema.py
  lilac/server.py
  lilac/sources/langsmith.py
  lilac/utils.py
  web/blueprint/src/lib/components/datasets/langsmith/DatasetInput.svelte
  web/blueprint/src/lib/queries/langsmithQueries.ts
  web/blueprint/src/routes/datasets/new/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/services/DefaultService.ts
  web/lib/fastapi_client/services/LangsmithService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/queries/queryUtils.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/queryUtils.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/queryUtils.ts
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
