Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  README.md
  docs/welcome.md
  web/blueprint/src/lib/components/Page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  poetry.lock
  pyproject.toml
Labels: none

Update to 0.0.13
  pyproject.toml
Labels: none

Use pip for the HuggingFace demos.
  Dockerfile
  lilac/cli.py
  lilac/server.py
  poetry.lock
  scripts/deploy_demo.py
  scripts/deploy_hf.py
  scripts/publish_pip.sh
Labels: backend

save
  poetry.lock
Labels: none

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  docs/huggingface/huggingface_spaces.md
  lilac/server.py
  scripts/deploy_hf.py
  web/blueprint/src/lib/components/GoogleAnalytics.svelte
  web/blueprint/src/lib/queries/serverQueries.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/vite.config.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ServerStatus.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, frontend, client lib

save
  docs/signals/signals_create.md
  lilac/server.py
  scripts/make_fastapi_client.py
  web/blueprint/vite.config.ts
Labels: backend, frontend

save
  scripts/deploy_demo.py
Labels: none

Bump version to 0.0.14
  pyproject.toml
Labels: none

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_hf.py
Labels: none

save
  docs/huggingface/huggingface_spaces.md
  lilac/env.py
  lilac/server.py
  scripts/deploy_hf.py
Labels: backend

updated from HuggingFaceDataset to HuggingFaceSource
  docs/getting_started/quickstart_python.md
Labels: none

save
  .github/workflows/python.yml
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/schema.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/schema.py
Labels: backend

save
  .github/workflows/python.yml
Labels: none

save
  lilac/concepts/db_concept.py
Labels: backend

save
  .github/workflows/python.yml
  .github/workflows/typescript.yml
Labels: none

save
  .github/workflows/python.yml
  .github/workflows/typescript.yml
Labels: none

save
  scripts/publish_pip.sh
  scripts/tag_version.sh
Labels: none

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
