Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  package-lock.json
  web/blueprint/package.json
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/NavigationCategory.svelte
Labels: frontend

save
  lilac/batch_utils.py
  lilac/batch_utils_test.py
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/schema.py
  web/lib/fastapi_client/models/ClusterInfo.ts
Labels: backend, client lib

save
  lilac/batch_utils.py
Labels: backend

save
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  lilac/batch_utils.py
  lilac/batch_utils_test.py
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

Add indexing on database startup, flag-guarded
  lilac/batch_utils.py
  lilac/data/dataset_duckdb.py
Labels: backend

fix: migrate embeddings by azure openai to openai > 1.0.0
  lilac/embeddings/openai.py
Labels: backend

refactor: lint errors
  lilac/embeddings/openai.py
Labels: backend

Use env to control table usage
  lilac/data/dataset_duckdb.py
  lilac/env.py
Labels: backend

Add logging statements
  lilac/data/dataset_duckdb.py
Labels: backend

Add cache clearing logic
  lilac/data/dataset_duckdb.py
Labels: backend

fix lint
  lilac/data/dataset_duckdb.py
Labels: backend

Polish the cluster UI.
  web/blueprint/src/lib/carousel.d.ts
  web/blueprint/src/lib/components/common/Carousel.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/common/Carousel.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

fix: typechecker errors
  lilac/embeddings/openai.py
Labels: backend

Add a notebook for working with concepts from python.
  lilac/concepts/concept.py
  notebooks/ConceptWeights.ipynb
Labels: backend

save
  notebooks/UsingConcepts.ipynb
Labels: none

save
  notebooks/UsingConcepts.ipynb
Labels: none

Add a script which downloads a lilac-processed dataset from HuggingFace.
  lilac/cli.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_storage_utils.py
  lilac/data/dataset_test.py
  lilac/deploy.py
  scripts/deploy_staging.py
Labels: backend

save
  scripts/deploy_staging.py
Labels: none

save
  lilac/data/dataset_test.py
Labels: backend

comments
  lilac/cli.py
  lilac/data/dataset_storage_utils.py
  lilac/project.py
  lilac/utils.py
Labels: backend

Streamline lilac deployment
  lilac/cli.py
  lilac/data/dataset_duckdb.py
  lilac/deploy.py
  lilac/hf_docker_start.py
  scripts/deploy_demo.py
  scripts/deploy_staging.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  lilac/data/clustering.py
Labels: backend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Add an upload dataset script.
  lilac/__init__.py
  lilac/cli.py
  lilac/data/__init__.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_storage_utils.py
  lilac/deploy.py
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  lilac/data/dataset_labels_test.py
  lilac/deploy.py
  pytest.ini
Labels: backend

save
  lilac/data/dataset_storage_utils.py
Labels: backend

Add format-specific input lambdas.
  lilac/__init__.py
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_format.py
  lilac/data/dataset_format_test.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/dataset_format.py
Labels: backend

save
  lilac/data/cluster_test.py
Labels: backend

save
  lilac/data/cluster_test.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  mypy.ini
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: backend
