Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  lilac/__init__.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
Labels: backend

save
  lilac/load_dataset.py
Labels: backend

Fix broken doc links.
  README.md
  docs/blog/introducing-lilac.md
  docs/index.rst
  docs/projects/projects.md
  lilac/project.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

save
  lilac/__init__.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/load_dataset.py
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/load_dataset.py
Labels: backend

save
  lilac/load_dataset_test.py
Labels: backend

save
  lilac/load_dataset_test.py
Labels: backend

save
  lilac/data/dataset_test_utils.py
  lilac/schema.py
Labels: backend

save
  lilac/project.py
Labels: backend

Improve the row header to give us space for deleting.
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/EditLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/LabelPill.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/schema.py
  lilac/sources/gmail_source.py
Labels: backend

save
  lilac/embeddings/embedding.py
  lilac/embeddings/jina.py
  lilac/signals/default_signals.py
  lilac/tasks.py
  mypy.ini
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  lilac/embeddings/jina.py
Labels: backend

save
  lilac/embeddings/jina.py
Labels: backend

save
  lilac/embeddings/jina.py
Labels: backend

save
  lilac/embeddings/jina.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/sources/csv_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/json_source.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/sources/duckdb_utils.py
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

Update README.md
  README.md
Labels: none

save
  lilac/data/dataset_duckdb.py
  lilac/signals/concept_scorer.py
Labels: backend

save
  lilac/data/dataset_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/signals/concept_scorer.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/commands/Commands.svelte
  web/blueprint/src/lib/components/common/DropdownPill.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/ScrollView.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

Support more formats:
  lilac/data/dataset_format.py
Labels: backend

mypy fixes
  lilac/data/dataset_duckdb.py
  lilac/embeddings/jina.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

Support the openchat format in the UI.
  lilac/data/dataset_format.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: backend, frontend

Improve UI a bit. Add openchat format.
  lilac/data/dataset_format.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: backend, frontend

save
  lilac/data/dataset_format_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  notebooks/unmaintained/PromptTopics.ipynb
Labels: none

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
