Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_search_test.py
Labels: backend

revamp welcome/intro pages
  README.md
  docs/collaboration/huggingface_spaces.md
  docs/collaboration/self_hosted.md
  docs/conf.py
  docs/datasets/dataset_concepts.md
  docs/datasets/dataset_explore.md
  docs/datasets/dataset_load.md
  docs/getting_started/quickstart.md
  docs/getting_started/quickstart_python.md
  docs/index.rst
  docs/poetry.lock
  docs/welcome.md
  poetry.lock
Labels: none

save
  docs/deployment/huggingface_spaces.md
  docs/deployment/self_hosted.md
  docs/getting_started/quickstart.md
  docs/getting_started/quickstart_python.md
  docs/index.rst
Labels: none

save
  lilac/config.py
  lilac/data/dataset.py
  notebooks/FormattingCode.ipynb
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/lib/fastapi_client/models/DatasetSettings.ts
Labels: backend, frontend, client lib

save
  web/lib/fastapi_client/models/DatasetSettings.ts
Labels: client lib

save
  lilac/config.py
  notebooks/FormattingCode.ipynb
Labels: backend

save
  lilac/data/dataset.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

Merge multiple shards of the same task into the same progress bar.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/tasks.py
  web/blueprint/src/lib/stores/taskMonitoringStore.ts
  web/lib/fastapi_client/models/TaskStepInfo.ts
  web/lib/fastapi_client/models/TaskType.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  lilac/tasks.py
Labels: backend

RAG
  lilac/rag/__init__.py
  lilac/rag/rag.py
  lilac/rag/rag_config.py
  web/blueprint/src/routes/rag/+page.svelte
Labels: backend, frontend

save
  lilac/data/dataset.py
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/MetadataSearch.ts
Labels: backend, frontend, client lib

save
  docs/_static/compare_blog/compare.mp4
  docs/_static/compare_blog/filter_items.mp4
  notebooks/FormattingCode.ipynb
Labels: none

Add server-side RAG.
  lilac/__init__.py
  lilac/embeddings/openai.py
  lilac/generator.py
  lilac/generators/__init__.py
  lilac/generators/generator_openai.py
  lilac/rag/__init__.py
  lilac/rag/rag.py
  lilac/rag/rag_config.py
  lilac/router_concept.py
  lilac/router_rag.py
  lilac/signals/default_signals.py
  notebooks/Rag.ipynb
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/embeddings/openai.py
  lilac/rag/rag.py
Labels: backend

save
  lilac/gen/__init__.py
  lilac/gen/generator_openai.py
  lilac/router_concept.py
  lilac/router_rag.py
  lilac/text_gen.py
Labels: backend

save
  lilac/rag/rag.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/load_dataset.py
  lilac/rag/rag.py
  lilac/sources/github_source.py
  notebooks/Rag.ipynb
  poetry.lock
  pyproject.toml
Labels: backend

Save
  lilac/load_dataset.py
  lilac/sources/github_source.py
  mypy.ini
Labels: backend

save
  Dockerfile
Labels: none

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
Labels: frontend

save
  docs/_static/better_curate_blog/compare.mp4
  docs/_static/better_curate_blog/filter_items.mp4
  docs/_static/better_curate_blog/open-dataset.png
  docs/blog/better-curate.md
  docs/poetry.lock
  lilac/env.py
  notebooks/BetterWayToCurate.ipynb
  notebooks/FormattingCode.ipynb
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
Labels: backend, frontend

save
  docs/blog/better-curate.md
Labels: none

Remove position= in tqdm.
  lilac/data/dataset.py
  lilac/tasks.py
Labels: backend

Migrate the UI to the server-side python RAG.'
  lilac/rag/__init__.py
  lilac/rag/rag.py
  lilac/router_rag.py
  notebooks/Rag.ipynb
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/rag/RagPrompt.svelte
  web/blueprint/src/lib/components/rag/RagRetrieval.svelte
  web/blueprint/src/lib/queries/ragQueries.ts
  web/blueprint/src/routes/rag/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Filter.ts
  web/lib/fastapi_client/models/RagGenerationOptions.ts
  web/lib/fastapi_client/models/RagRetrievalOptions.ts
  web/lib/fastapi_client/models/RagRetrievalResultItem.ts
  web/lib/fastapi_client/models/RagRetrievalSpan.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
  web/lib/fastapi_client/models/lilac__data__dataset__Column.ts
  web/lib/fastapi_client/models/lilac__router_dataset__Column.ts
  web/lib/fastapi_client/services/RagService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/rag/RagRetrieval.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  lilac/router_rag.py
  web/blueprint/src/routes/rag/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/Filter.ts
  web/lib/fastapi_client/models/RagRetrievalOptions.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
  web/lib/fastapi_client/models/lilac__data__dataset__Column.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  package-lock.json
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetLoadingPage.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  docs/datasets/dataset_iterate.md
  docs/index.rst
  docs/poetry.lock
  lilac/sources/__init__.py
  lilac/tasks.py
  notebooks/Map.ipynb
  poetry.lock
Labels: backend

save
  notebooks/Map.ipynb
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

Improve the RAG UI.
  lilac/gen/generator_openai.py
  lilac/rag/rag.py
  lilac/router_rag.py
  lilac/text_gen.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/rag/RagPrompt.svelte
  web/blueprint/src/lib/components/rag/RagRetrieval.svelte
  web/blueprint/src/routes/rag/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/RagGenerationResult.ts
  web/lib/fastapi_client/services/RagService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
