Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/concepts/db_concept_test.py
  lilac/project.py
  lilac/signals/concept_labels_test.py
  lilac/signals/concept_scorer_test.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/default_sources.py
  lilac/sources/sqlite_source.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/services/SqliteService.ts
Labels: backend, client lib

save
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
Labels: backend

Write embeddings to the vector store iteratively.
  lilac/data/dataset_utils.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_numpy.py
  lilac/embeddings/vector_store_test.py
Labels: backend

save
  lilac/data/dataset_utils.py
  lilac/embeddings/vector_store.py
Labels: backend

save
  lilac/sources/json_source.py
  lilac/sources/sqlite_source.py
  lilac/sources/sqlite_source_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/sources/sqlite_source.py
  web/blueprint/src/lib/components/datasets/sqlite/TableInput.svelte
  web/blueprint/src/lib/queries/sqliteQueries.ts
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasets/langsmith/DatasetInput.svelte
  web/blueprint/src/lib/components/datasets/sqlite/TableInput.svelte
Labels: frontend

save
  lilac/sources/sqlite_source.py
Labels: backend

save
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/embeddings/embedding.py
  lilac/signals/clustering.py
  lilac/signals/clustering_test.py
  lilac/signals/default_signals.py
Labels: backend

Add langsmith as a dataset for the HF demo.
  lilac_hf_space.yml
Labels: none

save
  lilac/data/dataset_utils.py
  lilac/embeddings/vector_store.py
  lilac/signals/clustering.py
  lilac/signals/clustering_test.py
  lilac/signals/default_signals.py
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: backend, frontend

save
  lilac/signals/clustering.py
Labels: backend

Fix bug with highlighting.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  lilac_hf_space.yml
Labels: none

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  lilac/project.py
  lilac/signal.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_dbscan_test.py
  lilac/signals/default_signals.py
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: backend, frontend

save
  Dockerfile
Labels: none

save
  lilac/signals/cluster_dbscan.py
  lilac/signals/semantic_similarity.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: backend, frontend

save
  lilac/signals/semantic_similarity.py
Labels: backend

save
  lilac/signals/cluster_dbscan.py
Labels: backend

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none

Change load to happen with lifecycle events.
  .gitignore
  docker_start.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/db_manager.py
  lilac/load.py
  lilac/server.py
  lilac/tasks.py
  run_server_dev.sh
  scripts/deploy_hf.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/db_manager.py
  lilac/env.py
  lilac/load.py
  lilac/server.py
  run_server_dev.sh
Labels: backend

save
  scripts/deploy_hf.py
Labels: none

save
  lilac/source.py
  lilac/sources/csv_source.py
  lilac/sources/dict_source.py
  lilac/sources/dict_source_test.py
  lilac/sources/json_source.py
  lilac/sources/langsmith.py
  lilac/sources/pandas_source.py
  lilac/sources/parquet_source.py
  lilac/sources/sqlite_source.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/cli.py
Labels: backend

save
  .gitignore
  lilac/env.py
Labels: backend

save
  lilac/sources/dict_source.py
Labels: backend

save
  lilac/load.py
  scripts/deploy_hf.py
Labels: backend

save
  mypy.ini
Labels: none

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
