Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/deploy.py
Labels: backend

Update lilac veresion from deployer.
  lilac_deployer/poetry.lock
  lilac_deployer/pyproject.toml
Labels: none

save
  lilac_deployer/poetry.lock
Labels: none

Add access token to deploy_project_operations where it sets the env variable.
  lilac/deploy.py
Labels: backend

Add access token to deploy_project_operations where it sets the env variable.
  lilac/deploy.py
Labels: backend

Add token to project operations
  lilac/deploy.py
Labels: backend

Small changes to the deployer UI to simplify it.
  lilac_deployer/app.py
Labels: none

save
  lilac_deployer/poetry.lock
  lilac_deployer/pyproject.toml
Labels: none

Add UI for dataset settings to edit tags of a dataset.
  lilac/config.py
  lilac/db_manager.py
  lilac_hf_space.yml
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/components/commands/selectors/CommandSelectList.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/DatasetSettings.ts
Labels: backend, frontend, client lib

save
  lilac/config.py
  lilac/db_manager.py
  scripts/deploy_staging.py
Labels: backend

save
  lilac/config.py
Labels: backend

save
  lilac/config.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

save
  lilac/config.py
Labels: backend

Add backend support for sampling jsonl files
  lilac/data/dataset_duckdb.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
Labels: backend

Handle case where sample_size > len(dataset
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
Labels: backend

save
  .vscode/extensions.json
  .vscode/settings.json
  lilac/sources/parquet_source.py
Labels: backend

save
  poetry.lock
Labels: none

save
  docs/datasets/dataset_load.md
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

save
  docs/datasets/dataset_load.md
Labels: none

save
  docs/poetry.lock
  scripts/build_docs.sh
  scripts/watch_docs.sh
Labels: none

Switch to sampling, not HEAD preview
  lilac/sources/json_source.py
Labels: backend

Fix the HF deploy script for windows.
  lilac/deploy.py
  lilac/signals/__init__.py
  notebooks/DeployToHuggingFace.ipynb
Labels: backend

Fix the flaky hdbscan test.
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
  scripts/test_py.sh
Labels: backend

save
  scripts/test_py.sh
Labels: none

Upgrade Cohere embeddings to v3-light
  lilac/embeddings/cohere.py
  poetry.lock
  pyproject.toml
Labels: backend

fix
  lilac/router_dataset.py
Labels: backend

temp commit
  lilac/signals/pii_ip_address.py
  lilac/signals/pii_presidio.py
  pyproject.toml
Labels: backend

Invalidate the query after the redirect to avoid 500 errors from deleted dataset.
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Fix dataset uploading on windows.
  lilac/deploy.py
Labels: backend

finish
  lilac/signals/pii.py
  lilac/signals/pii_presidio.py
  lilac/signals/pii_test.py
  poetry.lock
  pyproject.toml
Labels: backend

customize nlp
  lilac/signals/pii_presidio.py
Labels: backend

support lazy import
  lilac/signals/pii.py
  lilac/signals/pii_presidio.py
Labels: backend

try to fix ci
  poetry.lock
Labels: none

fix test
  lilac/signals/pii_test.py
Labels: backend

ignore mypy error
  mypy.ini
Labels: none

Add cohere input type.
  lilac/embeddings/cohere.py
  lilac/embeddings/embedding.py
  lilac/signal.py
  lilac/signals/semantic_similarity.py
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
Labels: backend, client lib

save
  lilac/signals/__init__.py
Labels: backend

save
  lilac/signals/__init__.py
Labels: backend

Add query_type to semantic search.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/cohere.py
  lilac/signal.py
  lilac/signals/semantic_similarity.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/rag/RagRetrieval.svelte
  web/lib/fastapi_client/models/SemanticSearch.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
Labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
