Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  docs/README.md
Labels: none

save
  docs/README.md
Labels: none

save
  docs/README.md
Labels: none

save
  docs/README.md
Labels: none

save
  scripts/deploy_website.py
  scripts/deploy_website.sh
Labels: none

save
  docs/README.md
Labels: none

save
  docs/welcome.md
Labels: none

save
  docs/welcome.md
Labels: none

save
  docs/projects/projects.md
  lilac/sources/gmail_source.py
Labels: backend

save
  lilac/data/dataset.py
Labels: backend

save
  docs/datasets/dataset_query.md
  lilac/__init__.py
  lilac/data/__init__.py
Labels: backend

save
  lilac/__init__.py
Labels: backend

Remove the extra query the entire dataset query.
  lilac/data/dataset_duckdb.py
Labels: backend

save
  docs/datasets/dataset_explore.md
  docs/datasets/dataset_query.md
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

save
  docker_start.py
  docs/concepts/concept_technical.md
  lilac/data_loader_test.py
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: backend

save
  scripts/deploy_hf.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

Add line height to the media header.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

Tiny CSS fixes to make mobile not terrible
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/stores/navigationStore.ts
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/src/utils.ts
Labels: frontend, client lib

save
  web/lib/fastapi_client/models/AuthenticationInfo.ts
  web/lib/fastapi_client/models/BinaryFilter.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
Labels: client lib

save
  scripts/deploy_website.py
Labels: none

Use sqlite instead of jsonl for labels.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  pytest.ini
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/Navigation.svelte
Labels: frontend

save
  lilac/auth.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  lilac/schema.py
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/AddLabelsOptions.ts
  web/lib/fastapi_client/models/DatasetUserAccess.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset_duckdb.py
Labels: backend

Save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

Add removing labels, and add row_ids to add labels.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
Labels: backend

Fix REST.
  lilac/router_dataset.py
Labels: backend

save
  lilac/router_dataset.py
  web/blueprint/src/lib/components/datasetView/DownloadFieldList.svelte
  web/blueprint/src/lib/components/datasetView/DownloadModal.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadataField.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  lilac/router_dataset.py
  poetry.lock
Labels: backend

save
  web/blueprint/src/app.css
Labels: frontend

Prompt concepts
  lilac/concepts/prompt-injections/concept.json
  lilac/concepts/prompt-reveal/concept.json
Labels: backend

Fix some CSS issues.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
