Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_hdbscan.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
Labels: frontend

Add a second option in searchbox dropdown to exclude a tag
  lilac/splitters/spacy_splitter.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

fix
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

Add filters for string length,contains, regexp
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
  web/lib/fastapi_client/models/MetadataSearch.ts
Labels: backend, client lib

Make the tags & namespaces in the dataset panel expandable.
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationCategory.svelte
  web/blueprint/src/lib/components/NavigationExpandable.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

less margin
  web/blueprint/src/lib/components/NavigationExpandable.svelte
Labels: frontend

margin
  web/blueprint/src/lib/components/NavigationExpandable.svelte
Labels: frontend

Add length and regex filters
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/AddLabelsOptions.ts
  web/lib/fastapi_client/models/MetadataSearch.ts
  web/lib/fastapi_client/models/RemoveLabelsOptions.ts
  web/lib/fastapi_client/models/SelectGroupsOptions.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/StringFilter.ts
Labels: backend, frontend, client lib

clearer error msg
  lilac/data/dataset_duckdb.py
Labels: backend

equal UI
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/NavigationExpandable.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/signal.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
  web/lib/src/lilac.ts
Labels: backend, client lib

Fix UI bugs with span rendering of maps.
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  notebooks/Duplicates.ipynb
Labels: none

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
Labels: backend

nav
  web/blueprint/src/lib/stores/navigationStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

Add the navigation store to the URL hash.
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
Labels: backend

save
  notebooks/Duplicates.ipynb
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_utils.py
Labels: backend

Make the tags expandable.
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationCategory.svelte
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/stores/navigationStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/stores/navigationStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: frontend

Allow lilac to run tasks outside a running event loop.
  lilac/tasks.py
  lilac/tasks_test.py
Labels: backend

save
  lilac/tasks_test.py
Labels: backend

Refactor dataset/signal endpoints into separate module
  lilac/router_dataset.py
  lilac/router_dataset_signals.py
  lilac/server.py
  lilac/server_dataset_signals_test.py
  lilac/server_dataset_test.py
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, client lib

Add docstring
  lilac/router_dataset_signals.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
Labels: backend

fix cross-router dep
  lilac/router_dataset_signals.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

Fix trailing error with tests.
  lilac/tasks_test.py
Labels: backend

fix relative import
  lilac/router_dataset_signals.py
Labels: backend

Improve the UI for repeated values.
  web/blueprint/src/lib/components/ButtonDropdown.svelte
  web/blueprint/src/lib/components/common/Hoist.ts
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPillHoverBody.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend
