Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Convert the pivot view to a bunch of carousels.
  notebooks/Test.ipynb
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

Improve auto-binning, and sorting of histograms.
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: backend, frontend

Convert the pivot viewer to a bunch of carousels.
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  notebooks/Test.ipynb
Labels: none

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  web/blueprint/src/lib/carousel.d.ts
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/cluster_test.py
Labels: backend

Fix a bug with OpenAI embeddings after upgrading.
  lilac/embeddings/openai.py
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: backend, frontend

Move the import of .env.local in publish_pip to the top of the file.
  scripts/publish_pip.sh
Labels: none

Fix a bug with CSV source reader for TSV files, and named columns.
  lilac/sources/csv_source.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: backend, frontend

docs.
  lilac/sources/csv_source.py
Labels: backend

remove console
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
Labels: frontend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

Add progress bar updates to UI
  lilac/router_dataset_signals.py
  lilac/tasks.py
Labels: backend

Add daemon=True
  lilac/router_data_loader.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

save
  lilac/router_dataset_signals.py
  notebooks/unmaintained/Hermes.ipynb
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ClusterOptions.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

Fix bug with ItemMedia not rendering media fields that are deeply nested siblings.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/load_dataset.py
  lilac/router_dataset_signals.py
  lilac/tasks.py
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ClusterOptions.ts
  web/lib/fastapi_client/models/ClusterResponse.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  lilac/router_dataset_signals.py
Labels: backend

save
  lilac/data/clustering.py
Labels: backend

save
  lilac_hf_space.yml
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  notebooks/unmaintained/Hermes.ipynb
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
Labels: frontend

save
  lilac/auth.py
  lilac/server_test.py
  lilac/signals/default_signals.py
  web/lib/fastapi_client/models/DatasetUserAccess.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
  lilac/data/dataset_duckdb.py
  lilac/schema.py
Labels: backend

save
  lilac/data/cluster_test.py
  lilac/data/clustering.py
Labels: backend

save
  lilac/embeddings/jina.py
  lilac/embeddings/jina_garden.py
  lilac/signal.py
  lilac/signals/default_signals.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ClusterInfo.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/Field.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/embeddings/cohere.py
  lilac/embeddings/gte.py
  lilac/embeddings/jina.py
  lilac/embeddings/openai.py
  lilac/embeddings/palm.py
  lilac/embeddings/sbert.py
  lilac/router_dataset_signals.py
  lilac/signal.py
  lilac/signals/text_statistics.py
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  lilac/signal_test.py
Labels: backend

Migrate to a custom carousel component so the page doesn't freeze.
  web/blueprint/src/lib/components/NavigationCategory.svelte
  web/blueprint/src/lib/components/common/Carousel.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib
