Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/signals/cluster_hdbscan.py
Labels: backend

fix iterable robustness
  lilac/data/dataset_utils.py
  lilac/data/dataset_utils_test.py
Labels: backend

Remove legal-termination concept.
  docs/blog/introducing-lilac.md
  lilac/concepts/legal-termination/concept.json
  lilac_hf_space.yml
Labels: backend

save
  lilac/signals/cluster_hdbscan.py
  notebooks/unmaintained/PromptTopics.ipynb
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: backend, frontend

save
  lilac/signals/cluster_hdbscan.py
  lilac/signals/cluster_hdbscan_test.py
Labels: backend

save
  lilac/data/dataset_map_test.py
  lilac/tasks.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

Add markdown extractor signal.
  lilac/signals/default_signals.py
  lilac/signals/markdown_extractor.py
  lilac/signals/markdown_extractor_test.py
  notebooks/CurateCodingDataset.ipynb
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: backend, frontend

save
  lilac/signals/markdown_extractor.py
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: backend, frontend

save
  lilac/signals/default_signals.py
  lilac/signals/markdown_code_block.py
  lilac/signals/markdown_code_block_test.py
Labels: backend

save
  lilac/signals/markdown_code_block.py
Labels: backend

save
  lilac/signals/default_signals.py
Labels: backend

save
  lilac/signals/markdown_code_block.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/server.py
  lilac/server_test.py
  lilac/signal.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/cluster_hdbscan.py
  lilac/tasks.py
  notebooks/unmaintained/PromptTopics.ipynb
Labels: backend

save
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: frontend, client lib

save
  lilac/server.py
  lilac/server_test.py
Labels: backend

Add CLI integ tests.
  .github/workflows/cli.yml
  .gitignore
  integration_tests/run_integration_tests.sh
  scripts/test.sh
Labels: none

save
  .github/workflows/cli.yml
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
  integration_tests/run_integration_tests.sh
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  integration_tests/run_integration_tests.sh
  poetry.lock
Labels: none

save
  poetry.lock
Labels: none

save
  lilac/server.py
Labels: backend

save
  lilac/data/dataset_map_test.py
Labels: backend

save
  notebooks/unmaintained/PromptTopics.ipynb
Labels: none

save
  lilac/signal.py
Labels: backend

save
  integration_tests/run_integration_tests.sh
Labels: none

save
  integration_tests/run_integration_tests.sh
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_utils.py
  lilac/project.py
  lilac/router_dataset_signals.py
Labels: backend

save
  lilac/data/dataset_test.py
  lilac/load_test.py
  lilac/signal_test.py
Labels: backend

save
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
Labels: frontend

Fix some small UI bugs.
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
