Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  notebooks/Sentiment.ipynb
Labels: none

save
  .env
  .gitignore
  Dockerfile
  README.md
  scripts/deploy_hf.py
  src/concepts/db_concept.py
  src/config.py
  src/server.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: backend, frontend

save
  README.md
  scripts/deploy_hf.py
  src/server.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  src/concepts/db_concept.py
Labels: backend

save
  data/concept/lilac/negative-sentiment/concept.json
  data/concept/lilac/positive-sentiment/concept.json
  src/concepts/concept.py
  src/data/dataset_utils.py
  src/embeddings/embedding.py
  src/embeddings/embedding_test.py
  web/blueprint/src/lib/queries/taskQueries.ts
Labels: backend, frontend

save
  mypy.ini
Labels: none

save
  scripts/deploy_hf.py
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  .env
  Dockerfile
  README.md
  data/concept/lilac/negative-sentiment/concept.json
  data/concept/lilac/positive-sentiment/concept.json
  data/concept/lilac/toxicity/concept.json
  scripts/deploy_hf.py
  src/concepts/concept.py
  src/server.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: backend, frontend

save
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_hf.py
Labels: none

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
Labels: frontend

save
  data/concept/lilac/legal-termination/concept.json
  poetry.lock
  pyproject.toml
  src/data/dataset_duckdb.py
  src/embeddings/embedding.py
  src/embeddings/embedding_test.py
Labels: backend

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/stores/settingsStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/settings/+page.svelte
Labels: frontend

save
  src/data/dataset_utils.py
Labels: backend

save
  data/concept/lilac/legal-termination/concept.json
  src/data/dataset_utils.py
Labels: backend

save
  notebooks/API.ipynb
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
Labels: backend

save
  notebooks/API.ipynb
Labels: none

save
  data/concept/lilac/legal-termination/concept.json
Labels: none

save
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/tasks.py
Labels: backend

save
  src/embeddings/openai.py
Labels: backend

save
  src/tasks.py
Labels: backend

save
  src/signals/pii.py
  src/signals/pii_test.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/signals/pii.py
  src/signals/pii_ip_address.py
Labels: backend

save
  src/signals/pii.py
  src/signals/pii_secrets.py
  src/signals/pii_test.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/signals/pii_secrets.py
Labels: backend

Add a LHS layout
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.ts
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/+page.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/blueprint/src/routes/datasets/Datasets.svelte
  web/blueprint/src/routes/datasets/dataset.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  web/lib/src/schema.ts
Labels: backend, client lib

save
  pyproject.toml
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  README.md
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_stats_test.py
  src/schema.py
Labels: backend

save
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationButton.svelte
Labels: frontend

save
  src/data/dataset_utils.py
  src/data/dataset_utils_test.py
Labels: backend
