Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  docs/_static/curate_coding_dataset/label.png
Labels: none

save
  docs/_static/curate_coding_dataset/compare.png
Labels: none

Add support for limit/filter
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_utils.py
  lilac/tasks.py
Labels: backend

fix typing error
  lilac/data/dataset_duckdb.py
Labels: backend

Fix the tqdm progress bars.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/load_dataset.py
  lilac/tasks.py
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/lib/fastapi_client/models/TaskStepInfo.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_groups_test.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_stats_test.py
  lilac/data/dataset_test.py
  lilac/schema.py
  lilac/schema_duckdb.py
  lilac/schema_test.py
  lilac/sources/parquet_source_test.py
  web/lib/fastapi_client/models/MapType.ts
Labels: backend, client lib

save
  lilac/tasks.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  lilac/tasks.py
Labels: backend

Add batch size support and collapse transform impl
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
Labels: backend

Small tweaks to improve the glaive dataset blog post.
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
  lilac_hf_space.yml
  notebooks/CurateCodingDataset.ipynb
Labels: backend

save
  docs/blog/curate-coding-dataset.md
Labels: none

save
  docs/_static/curate_coding_dataset/glaive_preview.png
  docs/blog/curate-coding-dataset.md
Labels: none

save
  lilac/tasks.py
  notebooks/CurateCodingDataset.ipynb
Labels: backend

save
  notebooks/CurateCodingDataset.ipynb
Labels: none

comments
  docs/blog/curate-coding-dataset.md
  lilac/tasks.py
Labels: backend

save
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  docs/blog/curate-coding-dataset.md
Labels: none

Add limit/filter docs
  docs/.python-version
  docs/datasets/dataset_edit.md
  docs/poetry.lock
  lilac/data/__init__.py
  lilac/data/dataset.py
Labels: backend

save
  docs/datasets/dataset_edit.md
Labels: none

save
  lilac/router_signal.py
  web/blueprint/src/lib/components/signals/SignalView.svelte
  web/lib/fastapi_client/models/SignalSchemaResponse.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: frontend

save
  pyproject.toml
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/signals/SignalView.svelte
Labels: frontend

add example
  docs/datasets/dataset_edit.md
Labels: none

save
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/NavigationCategory.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/load_dataset.py
  lilac/tasks.py
Labels: backend

save
  lilac/tasks.py
Labels: backend

Add an inferred format to the dataset manifest.
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_format.py
  lilac/data/dataset_format_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DatasetFormat.ts
  web/lib/fastapi_client/models/DatasetManifest.ts
Labels: backend, client lib

save
  lilac/data/dataset_format_test.py
Labels: backend

save
  lilac/data/dataset_format_test.py
Labels: backend

Add UI for title slots for ShareGPT.
  lilac/data/dataset_format.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/lib/fastapi_client/models/DatasetFormat.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
Labels: frontend

Add special support for a DELETED label
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_groups_test.py
Labels: backend

save
  lilac/data/dataset_map_test.py
  lilac/load.py
  lilac/load_test.py
  lilac/tasks.py
Labels: backend

save
  .vscode/settings.json
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/app.html
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaSpans.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/monaco.ts
Labels: frontend

Revert "save"
  .vscode/settings.json
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/app.html
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaSpans.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/monaco.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaDiff.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/insights/ConceptInsightItems.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/blueprint/src/lib/components/signals/SignalView.svelte
  web/blueprint/src/lib/monaco.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
