Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  scripts/test_ts.sh
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  src/embeddings/vector_store_numpy.py
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: backend, frontend

save
  src/data/dataset_select_rows_search_test.py
  src/embeddings/vector_store_numpy.py
  src/embeddings/vector_store_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/colors.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  .eslintrc.cjs
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.spec.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

Fix concept bug.
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
Labels: frontend

save
  src/concepts/concept.py
  src/data/dataset_duckdb.py
Labels: backend

save
  package-lock.json
  src/data/sources/gmail_source.py
  src/signals/splitters/chunk_splitter.py
Labels: backend

Change a few utils to avoid using the stores directly.
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/dataset.svelte
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

Disable concept search when no embedding index is found
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/common/TooltipFromAction.svelte
  web/blueprint/src/lib/components/common/tootltip.ts
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/stores/datasetStore.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
Labels: frontend

CSS tweaks.
  package-lock.json
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/tailwind.config.js
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/datasetView/RowItemValue.svelte
Labels: frontend

save
  package-lock.json
Labels: none

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/tailwind.config.js
Labels: frontend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
  src/router_dataset.py
  src/schema.py
  src/server.py
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/services/DatasetsService.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, frontend, client lib

small bug fixes for csv reader.
  notebooks/Toxicity.ipynb
  src/data/sources/csv_source.py
  src/embeddings/sbert.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

save
  notebooks/Toxicity.ipynb
Labels: none

save
  src/data/sources/csv_source.py
Labels: backend

Allow None values for cohere embedder.
  src/embeddings/cohere.py
  src/signals/splitters/chunk_splitter.py
Labels: backend

save
  src/signals/splitters/chunk_splitter.py
Labels: backend

Fix concept thumbs up and down when a span is clicked that is cut up by a keyword.
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

Add support for lists in the HF dataset source.
  src/data/sources/huggingface_source.py
  src/data/sources/huggingface_source_test.py
Labels: backend

save
  data/concept/lilac/toxicity/concept.json
  src/embeddings/cohere.py
  src/embeddings/sbert.py
  src/signals/splitters/chunk_splitter.py
Labels: backend

save
  src/embeddings/cohere.py
  src/embeddings/embedding.py
Labels: backend

save
  src/embeddings/cohere.py
  src/embeddings/embedding.py
  src/embeddings/sbert.py
Labels: backend

save
  src/embeddings/cohere.py
  src/embeddings/embedding.py
  src/embeddings/embedding_test.py
  src/embeddings/sbert.py
Labels: backend
