Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Add docs for labeling. Fix some labeling issues.'
  docs/_static/dataset/dataset_add_label_all_button.png
  docs/_static/dataset/dataset_add_label_all_short.png
  docs/_static/dataset/dataset_add_label_filter.png
  docs/_static/dataset/dataset_add_label_filter_characters.png
  docs/_static/dataset/dataset_add_label_filter_readability.png
  docs/_static/dataset/dataset_add_label_label_all_button.png
  docs/_static/dataset/dataset_add_label_row.png
  docs/_static/dataset/dataset_add_label_row_tagged.png
  docs/_static/dataset/dataset_add_label_short_labels.png
  docs/_static/dataset/dataset_add_label_tag.png
  docs/_static/dataset/dataset_add_labels_download.png
  docs/_static/dataset/dataset_add_labels_searchbox.png
  docs/datasets/dataset_labels.md
  docs/index.rst
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  docs/_static/dataset/dataset_add_label_download.png
  docs/_static/dataset/dataset_add_label_searchbox.png
  docs/datasets/dataset_labels.md
  docs/poetry.lock
  docs/pyproject.toml
Labels: none

save
  lilac/data/dataset_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

Fix the huggingface deploy script.
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_demo.py
Labels: none

Fix bug with UDFs after metadata separation
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/embeddings/transformer_utils.py
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/schema.py
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
Labels: backend, frontend

save
  lilac/concepts/concept_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
Labels: backend

save
  docker_start.py
Labels: none

save
  .env
  lilac/config.py
  lilac/project.py
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: backend, frontend

Make '.' the default project.
  .env
Labels: none

save
  .env
  lilac/env.py
Labels: backend

save
  lilac/env.py
Labels: backend

save
  .env
  lilac/sources/langsmith.py
Labels: backend

Allow to the publish_pip to determine the version type to bump.
  scripts/publish_pip.sh
Labels: none

save
  lilac/router_dataset.py
  lilac/schema.py
  web/blueprint/src/lib/components/datasetView/ItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

Use iterables for computing signals and embeddings.
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/schema_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SearchPillHoverBody.svelte
Labels: frontend

save
  lilac/signals/substring_search.py
Labels: backend

save
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  scripts/test_py.sh
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/signals/substring_search_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  scripts/test_py.sh
Labels: backend

save
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_utils.py
  scripts/test_py.sh
Labels: backend

save
  lilac/batch_utils.py
  lilac/batch_utils_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_utils.py
  lilac/data/dataset_utils_test.py
Labels: backend

save
  scripts/test_py.sh
Labels: none

save
  lilac/batch_utils.py
  lilac/data/dataset_utils.py
Labels: backend

save
  lilac.yml
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac.yml
Labels: none
