Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  notebooks/Map.ipynb
Labels: none

Add memray instructions
  development.md
  poetry.lock
  pyproject.toml
Labels: none

Add spec for select options
  lilac/data/dataset_duckdb.py
Labels: backend

update docs
  lilac/data/dataset_duckdb.py
Labels: backend

threaded dask
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/load.py
  lilac/router_data_loader.py
  lilac/router_dataset_signals.py
  lilac/server.py
  lilac/tasks.py
  lilac/tasks_test.py
Labels: backend

Simplify helper methods to closer align to API for select options
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  scripts/deploy_website.py
  web/lib/fastapi_client/models/MetadataSearch.ts
  web/lib/fastapi_client/models/StringFilter.ts
Labels: backend, client lib

add display for ilike
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
Labels: frontend

threaded tasks
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/server.py
  lilac/tasks.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/tasks.py
Labels: backend

save
  docs/datasets/dataset_iterate.md
  docs/datasets/dataset_query.md
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
  notebooks/Map.ipynb
  poetry.lock
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/tasks.py
Labels: backend

save
  lilac/tasks.py
Labels: backend

save
  lilac/tasks.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
  lilac/tasks.py
Labels: backend

save
  lilac/server.py
  lilac/tasks.py
Labels: backend

save
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_map_test.py
  lilac/tasks.py
Labels: backend

Improve UI
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationCategory.svelte
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

comments
  lilac/data/dataset.py
Labels: backend

save
  docs/_static/dataset/company_name_span.mp4
  docs/_static/dataset/filter_metadata.mp4
  docs/blog/better-curate.md
  docs/datasets/dataset_iterate.md
  lilac/__init__.py
  lilac/load_dataset.py
  notebooks/Map.ipynb
Labels: backend

Reshuffle where SQL gets specified as a filter
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/gen/generator_openai.py
Labels: backend

save
  docs/_static/curate_coding_dataset/compare.mp4
  docs/_static/curate_coding_dataset/filter_items.mp4
  docs/_static/curate_coding_dataset/open-dataset.png
  docs/blog/curate-coding-dataset.md
  docs/datasets/dataset_iterate.md
  notebooks/CurateCodingDataset.ipynb
  notebooks/Map.ipynb
Labels: none

save
  poetry.lock
Labels: none

save
  docs/blog/curate-coding-dataset.md
  docs/datasets/dataset_iterate.md
Labels: none

Prototype version of query options compiler
  lilac/data/dataset_duckdb.py
Labels: backend

Make sure the results of dataset.map() always returns an iterable.
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_map_test.py
Labels: backend

save
  docs/_static/dataset/nested_schema.png
  docs/datasets/dataset_iterate.md
  docs/poetry.lock
Labels: none

save
  docs/_static/curate_coding_dataset/compare.mp4
  docs/_static/curate_coding_dataset/compare.png
  docs/_static/curate_coding_dataset/filter_items.mp4
  docs/_static/curate_coding_dataset/filter_metadata.png
  docs/_static/custom.js
  docs/blog/curate-coding-dataset.md
  notebooks/CurateCodingDataset.ipynb
Labels: none

save
  docs/blog/curate-coding-dataset.md
  docs/datasets/dataset_iterate.md
  docs/datasets/dataset_labels.md
Labels: none

Revert memory / workers defaults from dask.
  lilac/tasks.py
Labels: backend

save
  docs/blog/curate-coding-dataset.md
  docs/datasets/dataset_edit.md
  docs/index.rst
Labels: none

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/blueprint/src/lib/components/commands/CommandConcepts.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/signals/SignalView.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetSettingsFields.svelte
Labels: frontend

save
  README.md
  docs/datasets/dataset_edit.md
  docs/index.rst
  docs/welcome.md
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
Labels: frontend

save
  docs/welcome.md
Labels: none

save
  docs/welcome.md
Labels: none

save
  docs/welcome.md
Labels: none

save
  docs/_static/curate_coding_dataset/compare.png
  docs/_static/curate_coding_dataset/label.png
  docs/blog/curate-coding-dataset.md
  docs/welcome.md
Labels: none
