Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

Add a tooltip component that hoists the tooltip.
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.ts
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SearchPillHoverBody.svelte
  web/blueprint/src/lib/components/datasetView/SignalBadge.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.ts
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/SignalBadge.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/lib/src/schema.ts
Labels: frontend, client lib

Fix the width of the metadata.
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: frontend

Remove semantic search
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  src/data/dataset.py
Labels: backend

save
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

Make all fields selected by default
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/datasets/dataset.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.ts
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

Small UI tweaks to make the item viewer a little clearer.
  web/blueprint/src/lib/components/datasetView/EmbeddingBadge.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
Labels: frontend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/router_dataset.py
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/SelectRowsResponse.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  src/server_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: backend, frontend

save
  src/data/dataset.py
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: backend, frontend

save
  src/router_dataset.py
Labels: backend

Small UI tweaks.
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/colors.ts
Labels: frontend

save
  src/router_dataset.py
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  src/concepts/concept.py
Labels: backend

save
  src/concepts/concept.py
Labels: backend

save
  src/concepts/db_concept_test.py
  src/data/dataset_select_rows_search_test.py
Labels: backend

save
  web/blueprint/src/app.html
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  .env
  notebooks/OpenAIFunctions.ipynb
  poetry.lock
  pyproject.toml
Labels: none

save
  mypy.ini
  notebooks/OpenAIFunctions.ipynb
  src/router_concept.py
  web/blueprint/src/app.css
  web/blueprint/src/app.html
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/datasets/dataset.svelte
Labels: frontend

save
  poetry.lock
  pyproject.toml
Labels: none

save
  .eslintrc.cjs
  package-lock.json
  package.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/queries/queryClient.ts
  web/blueprint/src/lib/stores/persistedStore.ts
  web/lib/package.json
Labels: frontend, client lib

save
  web/blueprint/src/lib/stores/persistedStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
Labels: frontend

save
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
