Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/data/clustering.py
Labels: backend

Add documentation for sharing datasets.
  docs/datasets/dataset_share.md
  docs/index.rst
  docs/poetry.lock
  lilac/__init__.py
Labels: backend

save
  docs/datasets/dataset_share.md
Labels: none

save
  docs/datasets/dataset_share.md
Labels: none

save
  lilac/config.py
  lilac/load.py
  lilac_hf_space.yml
  poetry.lock
  pyproject.toml
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
Labels: frontend

save
  lilac/config.py
  lilac/data/dataset_duckdb.py
  lilac/load.py
Labels: backend

commit
  lilac/load.py
Labels: backend

save
  lilac/load.py
Labels: backend

fix
  lilac_hf_space.yml
Labels: none

save
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/models/DatasetFormat.ts
Labels: frontend, client lib

save
  lilac/data/clustering.py
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/components/queryBuilder/QueryBuilder.svelte
Labels: backend, frontend

Fix broken link in README
  README.md
Labels: none

Fix broken links in HuggingFaceSpaceWelcome web component
  web/blueprint/src/lib/components/HuggingFaceSpaceWelcome.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/common/Carousel.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
Labels: frontend

save
  notebooks/ClusterPrompt.ipynb
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/common/Carousel.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
Labels: frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/OuterGroup.ts
  web/lib/fastapi_client/models/PivotOptions.ts
  web/lib/fastapi_client/models/PivotResult.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
Labels: frontend

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/router_dataset.py
  notebooks/ClusterPrompt.ipynb
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/DatasetPivotViewer.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/PivotResult.ts
  web/lib/fastapi_client/models/PivotResultOuterGroup.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  notebooks/ClusterPrompt.ipynb
Labels: none

Fix a couple issues with the export menu.
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/SingleItemView.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

add test
  lilac/config.py
  lilac/load.py
  lilac/load_test.py
  lilac/schema.py
  web/lib/fastapi_client/models/DatasetFormat.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

fix type
  lilac/load_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
Labels: backend

fix npm deps?
  package-lock.json
Labels: none

Create tasks api to ensure exceptions caught
  lilac/load.py
  lilac/load_dataset.py
  lilac/router_data_loader.py
  lilac/router_dataset_signals.py
  lilac/tasks.py
Labels: backend

readd some default progress bar names
  lilac/data/dataset_duckdb.py
  lilac/load.py
Labels: backend

fix lint
  lilac/load.py
Labels: backend

Override the OpenAPI base url when lilac is not being served from /
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  lilac/data/clustering.py
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
Labels: backend, frontend

save
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/svelte.config.js
  web/blueprint/vite.config.ts
Labels: frontend

save
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/svelte.config.js
  web/blueprint/vite.config.ts
Labels: frontend

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  run_server_dev.sh
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationExpandable.svelte
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/vite.config.ts
Labels: frontend
