Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

path fixing
  package-lock.json
  package.json
  web/inspector/package.json
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  poetry.lock
  pyproject.toml
  scripts/setup_py.sh
  src/data/db_dataset.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_test.py
  src/router_dataset.py
  src/schema.py
  web/lib/fastapi_client/models/SelectRowsOptions.ts
Labels: backend, client lib

save
  src/data/db_dataset_test.py
Labels: backend

save
  src/data/db_dataset_test.py
Labels: backend

save
  src/router_dataset.py
  web/lib/fastapi_client/models/SelectRowsOptions.ts
Labels: backend, client lib

save
  scripts/setup_py.sh
Labels: none

save
  src/router_dataset.py
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
Labels: backend, frontend, client lib

Add the signal dictionary to the field instead of signal_root.
  src/data/dataset_utils.py
  src/data/db_dataset_compute_signal_test.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_select_rows_schema_test.py
  src/data/db_dataset_test.py
  src/schema.py
Labels: backend

save
  web/lib/fastapi_client/models/Field.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: client lib

save
  src/data/db_dataset_duckdb.py
Labels: backend

save
  src/data/db_dataset.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/Filter.ts
  web/lib/fastapi_client/models/UnaryOp.ts
Labels: backend, client lib

save
  src/data/db_dataset_duckdb.py
Labels: backend

Try to add types to the compute signal API.
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  src/data/db_dataset.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_test.py
  src/router_dataset.py
Labels: backend

save
  src/data/db_dataset_test.py
Labels: backend

Add signal base classes for each type.
  src/concepts/concept.py
  src/concepts/db_concept_test.py
  src/data/db_dataset_compute_signal_test.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_select_rows_schema_test.py
  src/data/db_dataset_test.py
  src/embeddings/cohere.py
  src/embeddings/embedding.py
  src/router_embedding.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  src/signals/pii.py
  src/signals/semantic_search.py
  src/signals/semantic_search_test.py
  src/signals/signal.py
  src/signals/splitters/text_splitter_spacy.py
  src/signals/text_statistics.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/queries/datasetQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/BinaryOp.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/Filter.ts
  web/lib/fastapi_client/models/UnaryOp.ts
Labels: frontend, client lib

save
  src/signals/signal.py
Labels: backend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/data/db_dataset.py
  src/data/db_dataset_compute_signal_test.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_select_rows_schema_test.py
  src/data/db_dataset_test.py
  src/router_dataset.py
  src/router_embedding.py
  src/router_signal.py
  src/schema.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  src/signals/default_signals.py
  src/signals/semantic_search.py
  src/signals/semantic_search_test.py
  src/signals/signal.py
  src/signals/signal_registry.py
  src/signals/signal_registry_test.py
  src/signals/signal_test.py
  src/web/src/searchBox/ColumnSelector.tsx
  src/web/src/searchBox/SearchBox.tsx
  src/web/src/searchBox/searchBoxUtils.ts
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/EmbeddingInfo.ts
  web/lib/fastapi_client/models/EnrichmentType.ts
  web/lib/fastapi_client/models/SignalInfo.ts
  web/lib/fastapi_client/models/SignalInputType.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  src/signals/signal.py
  web/lib/src/schema.ts
Labels: backend, client lib

save
  src/data/db_dataset.py
  src/data/db_dataset_duckdb.py
  src/data/db_dataset_select_rows_schema_test.py
  src/data/db_dataset_test.py
  src/web/src/hooks/useGetIds.ts
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/BucketizeTransform.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/SignalTransform.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  scripts/test_py.sh
  src/data/dataset.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_stats_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/data/dataset_utils.py
  src/db_manager.py
  src/router_dataset.py
  src/server_test.py
Labels: backend

save
  src/web/tsconfig.json
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_stats_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/server_test.py
Labels: backend

save
  src/data/conftest.py
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_stats_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
  src/server_test.py
Labels: backend

save
  src/server_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_test.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  web/lib/fastapi_client/models/Column.ts
Labels: client lib

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_compute_signal_test.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_select_rows_schema_test.py
  src/data/dataset_stats_test.py
  src/data/dataset_test.py
  src/server_test.py
Labels: backend

save
  src/data/dataset_select_rows_udf_test.py
  src/data/dataset_test.py
Labels: backend

Add derived registries for signals.
  src/signals/signal.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_filter_test.py
  src/data/dataset_select_rows_sort_test.py
  src/data/dataset_test.py
  src/data/dataset_test_utils.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_rows_sort_test.py
Labels: backend

save
  src/data/dataset_select_rows_sort_test.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
