Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  .gitignore
  .vscode/settings.json
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  docs/getting_started/quickstart_python.md
  lilac/data/dataset_duckdb.py
Labels: backend

save
  pyproject.toml
Labels: none

save
  scripts/deploy_website.sh
Labels: none

save
  docs/getting_started/quickstart_python.md
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_udf_test.py
Labels: backend

save
  docs/getting_started/quickstart_python.md
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_select_groups_test.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_stats_test.py
  lilac/data/dataset_test.py
  lilac/data/dataset_utils.py
  lilac/data_loader.py
  lilac/data_loader_test.py
  lilac/load.py
  lilac/schema.py
  lilac/server_dataset_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_utils.py
  lilac/data_loader.py
  lilac/embeddings/vector_store.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  lilac/conftest.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/server_dataset_test.py
Labels: backend

save
  lilac/conftest.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_test.py
  lilac/data/dataset_test_utils.py
  lilac/data/dataset_utils.py
  lilac/data_loader.py
  lilac/data_loader_test.py
  lilac/schema.py
  lilac/server_dataset_test.py
  lilac/test_utils.py
Labels: backend

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  lilac/data/dataset_select_groups_test.py
  lilac/data/dataset_select_rows_filter_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/server_dataset_test.py
Labels: backend

Add docs for using and creating a concept.
  docs/_static/concepts/concept_create.png
  docs/_static/concepts/concept_preview.png
  docs/api_reference/concepts.rst
  docs/concepts/concept_create.md
  docs/concepts/concept_use.md
  docs/concepts/concepts.md
  docs/index.rst
  lilac/__init__.py
  lilac/concepts/__init__.py
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  notebooks/API.ipynb
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/ConceptType.ts
Labels: backend, frontend, client lib

save
  lilac/cli.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_stats_test.py
  lilac/data/dataset_test.py
Labels: backend

save
  notebooks/API.ipynb
Labels: none

save
  lilac/__init__.py
Labels: backend

save
  docs/_static/concepts/concept_preview.png
  docs/_static/concepts/concept_use.png
  docs/_static/concepts/concepts_use_ui.png
  docs/concepts/concept_create.md
  docs/concepts/concept_use.md
  lilac/concepts/db_concept_test.py
Labels: backend

save
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
Labels: backend

save
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
Labels: frontend

Add docs for concept tuning. Add toast for concept tuning.
  docs/_static/concepts/concept_labeler.png
  docs/_static/concepts/concept_labels.png
  docs/_static/concepts/concept_tune.png
  docs/concepts/concept_create.md
  docs/concepts/concept_tuning.md
  notebooks/API.ipynb
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/stores/notificationsStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  docs/concepts/concept_tuning.md
Labels: none

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  docs/concepts/concept_tuning.md
  notebooks/API.ipynb
Labels: none

Add docs for concept metrics.
  docs/_static/concepts/concept_good_metrics.png
  docs/concepts/concept_create.md
  docs/concepts/concept_metrics.md
  docs/concepts/concept_tuning.md
  docs/concepts/concept_use.md
  docs/embeddings/embeddings.md
  docs/index.rst
  lilac/concepts/__init__.py
  lilac/concepts/concept.py
  lilac/router_concept.py
  notebooks/API.ipynb
Labels: backend

save
  docs/_static/concepts/concept_good_metrics.png
  docs/_static/concepts/concept_metrics.png
  docs/concepts/concept_metrics.md
Labels: none

sae
  docs/api_reference/concepts.rst
  docs/concepts/concept_tuning.md
  docs/concepts/concept_use.md
  lilac/concepts/__init__.py
Labels: backend

save
  docs/concepts/concept_metrics.md
Labels: none

save
  docs/concepts/concept_metrics.md
Labels: none

[Docs] Add concept technical details. Add embeddings.
  docs/concepts/concept_technical.md
  docs/concepts/concepts.md
  docs/embeddings/embeddings.md
  docs/index.rst
  lilac/__init__.py
  lilac/embeddings/__init__.py
  lilac/splitters/__init__.py
Labels: backend

save
  docs/embeddings/embeddings.md
Labels: none

save
  Dockerfile
  demo.yml
  docker_start.py
  docker_start.sh
  lilac/server.py
  scripts/deploy_hf.py
Labels: backend

sae
  docker_start.py
Labels: none

save
  docker_start.py
Labels: none

Add load dataset docs.
  docs/_static/dataset/dataset_getting_started.png
  docs/_static/dataset/dataset_load.png
  docs/_static/dataset/dataset_load_tasks.png
  docs/datasets/dataset_load.md
  lilac/sources/__init__.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/default_sources.py
  lilac/sources/gmail_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/pandas_source.py
  lilac/sources/pandas_source_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
  lilac/sources/reddit_hf_source.py
  notebooks/API.ipynb
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

save
  docs/datasets/dataset_load.md
Labels: none

save
  scripts/deploy_hf.py
Labels: none

save
  docker_start.py
Labels: none
