Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/services/LangsmithService.ts
  web/lib/fastapi_client/services/SqliteService.ts
Labels: client lib

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_map_test.py
Labels: backend

save
  docs/datasets/dataset_configure.md
  docs/poetry.lock
  lilac/__init__.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  docs/_static/dataset/dataset_compare_button.png
  docs/_static/dataset/dataset_diff.png
  docs/datasets/dataset_configure.md
  docs/datasets/dataset_explore.md
Labels: none

save
  lilac/load.py
Labels: backend

comments
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
Labels: backend

save
  docs/_static/dataset/dataset_view_type.png
  docs/datasets/dataset_configure.md
  docs/poetry.lock
Labels: none

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/load.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

add docs on profiling
  development.md
Labels: none

Implement fast_process for parquet sources
  lilac/load_dataset_test.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

Ensure each shard gets some samples in
  lilac/sources/parquet_source.py
Labels: backend

switch sampling strategy
  lilac/sources/parquet_source.py
Labels: backend

remove print
  lilac/sources/parquet_source.py
Labels: backend

remove dashes from rowid
  lilac/sources/parquet_source.py
Labels: backend

save
  lilac/sources/parquet_source.py
Labels: backend

Revert "switch sampling strategy"
  lilac/sources/parquet_source.py
Labels: backend

fix small sample regime
  lilac/sources/parquet_source.py
Labels: backend

use ROWID reference
  lilac/sources/parquet_source.py
Labels: backend

Rename fast_process to load_to_parquet
  development.md
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/source.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

Implement CSV direct to parquet
  lilac/load_dataset_test.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/parquet_source_test.py
  lilac/test_utils.py
Labels: backend

Rename fast_process to load_to_parquet (#862)
  development.md
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/source.py
  lilac/sources/parquet_source.py
  lilac/sources/parquet_source_test.py
Labels: backend

Implement fast json source
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
Labels: backend

Implement fast json source
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
Labels: backend

save
  lilac/sources/csv_source.py
Labels: backend

fix merge confilct
  lilac/sources/json_source_test.py
Labels: backend

fix print
  lilac/sources/json_source.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
