Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/common/RemovableTag.svelte
  web/blueprint/src/lib/components/contextMenu/SchemaFieldMenu.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
Labels: frontend

saev
  src/concepts/db_concept.py
  src/router_concept.py
  src/utils.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/ConceptExampleList.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DeleteConceptOptions.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptExampleList.svelte
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/datasetStore.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/dataset.svelte
Labels: frontend

Add docker build and run steps.
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  build_docker.sh
  build_server_prod.sh
  run_server_dev.sh
  run_server_prod.sh
  src/server.py
  web/blueprint/package.json
Labels: backend, frontend

save
  build_docker.sh
  poetry.lock
  pyproject.toml
Labels: none

save
  build_docker.sh
  run_server_dev.sh
  src/server.py
  web/blueprint/package.json
  web/lib/fastapi_client/core/ApiError.ts
  web/lib/fastapi_client/core/OpenAPI.ts
Labels: backend, frontend, client lib

save
  web/lib/fastapi_client/core/ApiError.ts
  web/lib/fastapi_client/core/OpenAPI.ts
Labels: client lib

save
  src/server.py
Labels: backend

save
  poetry.lock
Labels: none

save
  poetry.lock
  pyproject.toml
Labels: none

save
  datasets/the_movies_dataset.json
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/db_manager.py
  src/router_dataset.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/+page.svelte
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  src/concepts/db_concept.py
  src/router_concept.py
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/DeleteConceptOptions.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  mypy.ini
  src/data/sources/huggingface_source.py
Labels: backend

save
  src/router_dataset.py
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/router_concept.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, frontend, client lib

save
  src/concepts/db_concept.py
  src/router_concept.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptColumnInfo.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  poetry.lock
  pyproject.toml
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/server_concept_test.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/lib/fastapi_client/models/Concept.ts
Labels: backend, frontend, client lib

save
  src/concepts/db_concept.py
Labels: backend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
Labels: frontend

s
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  src/concepts/concept.py
  src/concepts/db_concept_test.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/router_concept.py
  src/signals/concept_scorer.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptModel.ts
  web/lib/fastapi_client/models/ConceptModelInfo.ts
  web/lib/fastapi_client/models/ConceptModelResponse.ts
  web/lib/fastapi_client/models/ROCAUCBody.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  .gitignore
  Dockerfile
  README.md
  notebooks/Toxicity.ipynb
  run_server_prod.sh
  scripts/build_docker.sh
  scripts/build_server_prod.sh
  scripts/deploy_hf.py
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/data/duckdb_utils.py
  src/data/sources/csv_source.py
  src/data/sources/source.py
  src/data_loader.py
  src/embeddings/sbert.py
  src/schema.py
  src/server.py
  web/lib/fastapi_client/models/DataType.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/data/dataset_duckdb.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
Labels: backend

save
  poetry.lock
  pyproject.toml
  src/concepts/db_concept.py
Labels: backend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
Labels: backend

save
  .gitignore
  Dockerfile
  README.md
  scripts/deploy_hf.py
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
  src/data/dataset_select_rows_filter_test.py
  src/data/dataset_stats_test.py
  src/data/dataset_utils.py
  src/data/duckdb_utils.py
  src/data/sources/csv_source.py
  src/data/sources/json_source.py
  src/data_loader.py
  src/server.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaArrayInput.svelte
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaForm.svelte
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaForm.svelte
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaArrayInput.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
  src/data/dataset_select_groups_test.py
Labels: backend
