Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

Add source code concept. Add a section in concept to apply to a dataset (outside labeler
  lilac/concepts/source-code/concept.json
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptDataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler/ConceptLabeler.svelte
  web/lib/fastapi_client/models/ConceptType.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
Labels: frontend

Add new datasets, generalize deploy_demo
  demo.yml
  lilac/load.py
  lilac/sources/huggingface_source.py
  scripts/deploy_demo.py
  web/lib/fastapi_client/models/ConceptType.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, client lib

save
  lilac/load.py
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/concepts/non-english/concept.json
Labels: backend

save
  lilac/concepts/non-english/concept.json
Labels: backend

Add export dataset, dataset signals, and signals docs
  docs/_static/dataset/dataset_compute_signal_modal.png
  docs/_static/dataset/dataset_compute_signal_overflow.png
  docs/_static/dataset/dataset_compute_signal_schema.png
  docs/_static/dataset/dataset_compute_signal_stats.png
  docs/_static/dataset/dataset_copy_url_icon.png
  docs/_static/dataset/dataset_download_icon.png
  docs/_static/dataset/dataset_download_modal.png
  docs/_static/signals/signals_preview.png
  docs/_static/signals/signals_preview_compute.png
  docs/datasets/dataset_explore.md
  docs/datasets/dataset_export.md
  docs/datasets/dataset_signals.md
  docs/signals/signals.md
  docs/signals/signals_create.md
  lilac/signals/__init__.py
  web/lib/fastapi_client/models/ConceptType.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, client lib

save
  docs/_static/signals/signals_custom_navigation.png
  docs/_static/signals/signals_custom_preview.png
  docs/index.rst
  docs/signals/signals_create.md
  lilac/__init__.py
  lilac/signals/__init__.py
  notebooks/API.ipynb
Labels: backend

save
  notebooks/API.ipynb
Labels: none

save
  docs/signals/signals_create.md
Labels: none

save
  docs/signals/signals.md
Labels: none

Fix concept authentication issues so logged in users can create and use concepts.
  lilac/router_concept.py
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/lib/fastapi_client/models/ConceptType.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, frontend, client lib

save
  lilac/__init__.py
  lilac/server_concept_test.py
Labels: backend

Update the README.md
  README.md
  development.md
  docs/index.rst
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
Labels: none

save
  README.md
  docs/index.rst
  docs/welcome.md
Labels: none

save
  docs/datasets/dataset_export.md
Labels: none

Add dataset loading page.
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/datasets/loading/+page.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

Save
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  lilac/concepts/non-english/concept.json
Labels: backend

Upload datasets to separate dataset repos for HF demos.
  README.md
  lilac/config.py
  lilac/load.py
  lilac_hf_space.yml
  scripts/deploy_demo.py
  scripts/deploy_hf.py
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/lib/fastapi_client/models/ConceptType.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, frontend, client lib

save
  Dockerfile
  docker_start.py
  lilac/config.py
  scripts/deploy_hf.py
Labels: backend

save
  Dockerfile
  docker_start.py
  lilac/config.py
  lilac/load.py
  lilac/utils.py
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: backend

save
  docs/blog/shedding-light-on-datasets.md
  docs/conf.py
  docs/index.rst
  docs/welcome.md
Labels: none

save
  docs/index.rst
Labels: none

save
  scripts/build_docs.sh
  scripts/deploy_hf.py
Labels: none

save
  Dockerfile
  lilac/config.py
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: backend

save
  docs/blog/shedding-light-on-datasets.md
  scripts/build_docs.sh
Labels: none

save
  docker_start.py
  scripts/deploy_demo.py
  scripts/deploy_hf.py
Labels: none

save
  scripts/deploy_hf.py
  web/blueprint/.env
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/.env
Labels: frontend

Improve the blog post
  docs/blog/introducing-lilac.md
  docs/blog/shedding-light-on-datasets.md
  docs/welcome.md
Labels: none

save
  docs/blog/introducing-lilac.md
Labels: none

save
  README.md
  docs/welcome.md
Labels: none

save
  docs/blog/introducing-lilac.md
Labels: none

save
  docs/blog/introducing-lilac.md
Labels: none

Add docs for forking, fix forking without persistent storage.
  Dockerfile
  docs/_static/huggingface/huggingface_duplicate_space.png
  docs/_static/huggingface/huggingface_duplicate_space_machine.png
  docs/_static/huggingface/huggingface_duplicate_space_variables.png
  docs/conf.py
  docs/environment/variables.md
  docs/huggingface/huggingface_spaces.md
  docs/index.rst
  docs/welcome.md
  lilac/__init__.py
  lilac/env.py
  web/blueprint/src/lib/components/GettingStarted.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
