Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  notebooks/API.ipynb
Labels: none

save
  .vscode/settings.json
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
Labels: backend

save
  .vscode/settings.json
Labels: none

save
  lilac/__init__.py
  lilac/data_loader.py
  notebooks/API.ipynb
Labels: backend

save
  lilac/data_loader.py
Labels: backend

save
  docs/.gitignore
  docs/Makefile
  docs/build_docs.sh
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
Labels: none

save
  docs/README.md
  docs/setup.sh
Labels: none

save
  .vscode/settings.json
  docs/README.md
  docs/build_docs.sh
  docs/conf.py
  docs/index.rst
  docs/poetry.lock
  docs/pyproject.toml
  docs/setup.sh
  lilac/__init__.py
  lilac/data/__init__.py
  lilac/data/sources/__init__.py
  lilac/data_loader.py
  lilac/data_loader_test.py
  lilac/router_data_loader.py
  lilac/signals/__init__.py
  lilac/sources/__init__.py
  lilac/sources/csv_source.py
  lilac/sources/csv_source_test.py
  lilac/sources/default_sources.py
  lilac/sources/gmail_source.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/sources/json_source.py
  lilac/sources/json_source_test.py
  lilac/sources/pandas_source.py
  lilac/sources/pandas_source_test.py
  lilac/sources/reddit_hf_source.py
  lilac/sources/source.py
  lilac/sources/source_registry.py
  lilac/sources/source_registry_test.py
Labels: backend

save
  docs/index.rst
  lilac/signals/lang_detection.py
  lilac/signals/semantic_similarity.py
  lilac/signals/signal.py
  lilac/sources/__init__.py
  scripts/build_docs.sh
  web/lib/fastapi_client/models/ConceptQuery.ts
  web/lib/fastapi_client/models/KeywordQuery.ts
  web/lib/fastapi_client/models/SemanticQuery.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  docs/README.md
Labels: none

save
  docs/conf.py
Labels: none

save
  docs/conf.py
  docs/index.rst
  lilac/signals/signal.py
Labels: backend

save
  docs/Makefile
  docs/README.md
  docs/api_reference/data.rst
  docs/api_reference/index.rst
  docs/api_reference/signals.rst
  docs/api_reference/sources.rst
  docs/conf.py
  docs/index.rst
  docs/poetry.lock
  docs/pyproject.toml
  scripts/watch_docs.sh
Labels: none

Add url hashing
  lilac/server.py
  web/blueprint/src/lib/components/commands/CommandFilter.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/queryBuilder/QueryBuilder.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/lib/utils.ts
  web/blueprint/src/lib/view_utils.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptACL.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/services/DefaultService.ts
Labels: backend, frontend, client lib

save
  .env
  .vscode/settings.json
  docs/_static/getting_started/add-dataset.mp4
  docs/_static/styles/custom.css
  docs/conf.py
  docs/getting_started/installation.md
  docs/getting_started/quickstart.md
  docs/index.rst
  docs/poetry.lock
  docs/pyproject.toml
  lilac/__init__.py
  lilac/cli.py
  lilac/server.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/cli.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/stores/appStore.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/stores/appStore.ts
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/routes/+layout.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/urlHashStore.ts
Labels: frontend

save
  web/blueprint/src/lib/stores/appStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/stores/appStore.ts
Labels: frontend

save
  data/concept/lilac/profanity/concept.json
  lilac/data/dataset_duckdb.py
  lilac/signals/lang_detection.py
  lilac/signals/minhash_dup.py
Labels: backend

save
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/+layout.svelte
  web/blueprint/src/routes/concepts/+page.svelte
  web/blueprint/src/routes/datasets/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
Labels: frontend

save
  lilac/data/dataset.py
  lilac/signals/lang_detection.py
  lilac/signals/lang_detection_test.py
  lilac/signals/splitters/chunk_splitter.py
  lilac/signals/splitters/chunk_splitter_test.py
  lilac/signals/text_statistics.py
  lilac/signals/text_statistics_test.py
  web/blueprint/src/lib/components/datasetView/DatasetSettingsModal.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/lib/fastapi_client/models/DatasetUISettings.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  lilac/concepts/concept.py
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_search_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/data/dataset_test_utils.py
  lilac/data/dataset_utils.py
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_numpy.py
  lilac/embeddings/vector_store_test.py
  lilac/router_concept.py
  lilac/schema.py
  lilac/server_concept_test.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/lang_detection.py
  lilac/signals/near_dup.py
  lilac/signals/ner.py
  lilac/signals/pii.py
  lilac/signals/semantic_similarity.py
  lilac/signals/semantic_similarity_test.py
  lilac/signals/signal.py
  lilac/signals/signal_test.py
  lilac/signals/substring_search.py
Labels: backend

save
  lilac/data/dataset_utils.py
  web/blueprint/src/lib/components/commands/selectors/SignalList.svelte
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/lib/fastapi_client/models/ScoreResponse.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  lilac/signals/semantic_similarity.py
Labels: backend

save
  lilac/config.py
  lilac/server.py
  scripts/deploy_hf.py
Labels: backend

save
  lilac/config.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/vector_store.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
  lilac/signals/signal.py
  scripts/deploy_hf.py
Labels: backend

Add a VectorSignal class and move vector methods to it.
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_rows_schema_test.py
  lilac/data/dataset_select_rows_sort_test.py
  lilac/data/dataset_select_rows_udf_test.py
  lilac/router_dataset.py
  lilac/signals/concept_scorer.py
  lilac/signals/semantic_similarity.py
  lilac/signals/signal.py
  lilac/signals/signal_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
Labels: backend, client lib

save
  lilac/signals/signal.py
Labels: backend

Add batching supports to concepts.
  lilac/batch_utils.py
  lilac/batch_utils_test.py
  lilac/concepts/concept.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_utils.py
  lilac/data/dataset_utils_test.py
  lilac/embeddings/embedding.py
  lilac/router_concept.py
  lilac/router_signal.py
  lilac/router_utils.py
  lilac/server_concept_test.py
  lilac/signals/concept_scorer.py
  lilac/signals/text_statistics.py
  lilac/utils.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ScoreResponse.ts
  web/lib/fastapi_client/models/SignalComputeOptions.ts
  web/lib/fastapi_client/models/SignalComputeResponse.ts
  web/lib/fastapi_client/services/ConceptsService.ts
  web/lib/fastapi_client/services/SignalsService.ts
Labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
