Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  notebooks/Toxicity.ipynb
Labels: none

save
  src/data/sources/source.py
  src/server.py
Labels: backend

Improve spans
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/colors.ts
Labels: frontend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/router_concept.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptMetrics.ts
  web/lib/fastapi_client/models/MetricsBody.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  src/router_concept.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/FilterPill.svelte
  web/blueprint/src/lib/components/schemaView/FieldDetails.svelte
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/schemaView/Histogram.svelte
Labels: frontend

save
  src/data/dataset_duckdb.py
Labels: backend

save
  src/router_dataset.py
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
Labels: backend, frontend, client lib

save
  src/router_dataset.py
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/colors.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
Labels: frontend

sace
  src/concepts/concept.py
  src/data/dataset_duckdb.py
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
Labels: backend, frontend

save
  pyproject.toml
  src/concepts/concept.py
  src/data/dataset_duckdb.py
  src/embeddings/sbert.py
  src/signals/signal.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptMetrics.ts
  web/lib/fastapi_client/models/OverallScore.ts
Labels: backend, client lib

save
  mypy.ini
  poetry.lock
  pyproject.toml
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/data/dataset_duckdb.py
  web/lib/fastapi_client/models/ConceptMetrics.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept_test.py
  src/data/dataset_select_rows_search_test.py
Labels: backend

save
  src/concepts/concept.py
Labels: backend

Add snippeting.
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  poetry.lock
  pyproject.toml
  src/concepts/db_concept.py
  src/data/duckdb_utils.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  .github/workflows/python.yml
  .python-version
  poetry.lock
  pyproject.toml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
  poetry.lock
  pyproject.toml
Labels: none

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/router_concept.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptModelInfo.ts
  web/lib/fastapi_client/models/ConceptModelResponse.ts
  web/lib/fastapi_client/models/MetricsBody.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

Fix a bug with snippets where we drop newlines when there are no spans.
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  data/concept/lilac/toxicity/concept.json
  src/concepts/concept.py
  src/router_concept.py
  src/server_concept_test.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
  web/blueprint/src/routes/concepts/+page.svelte
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/concepts/ConceptPillHover.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptHoverPill.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/colors.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptHoverPill.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/colors.ts
Labels: frontend

save
  src/embeddings/openai.py
  src/signals/default_signals.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
Labels: backend, client lib

Add spacy NER, fix some UI.
  src/router_dataset.py
  src/signals/default_signals.py
  src/signals/ner.py
  src/signals/ner_test.py
  src/signals/splitters/text_splitter_test_utils.py
  src/tasks.py
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/SpanHoverTooltip.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/src/schema.ts
Labels: backend, frontend, client lib

save
  poetry.lock
  pyproject.toml
  src/embeddings/openai.py
Labels: backend

save
  src/signals/ner.py
  web/blueprint/src/lib/components/datasetView/StringSpanDetails.svelte
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: backend, frontend

save
  src/signals/splitters/text_splitter_test_utils.py
Labels: backend

save
  src/router_dataset.py
Labels: backend

save
  src/signals/splitters/text_splitter_test_utils.py
Labels: backend

save
  src/signals/ner.py
Labels: backend

save
  src/signals/ner.py
Labels: backend

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
