Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to inspector folder
'frontend':
  - any: ['web/inspector/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
Labels: none

save
  .github/workflows/python.yml
  src/embeddings/sbert.py
Labels: backend

save
  notebooks/Toxicity.ipynb
  src/concepts/concept.py
  src/concepts/concept_test.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/embeddings/embedding.py
  src/server_concept_test.py
  src/signals/semantic_search.py
  web/lib/fastapi_client/models/Concept.ts
Labels: backend, client lib

SemanticSearch => SemanticSimilarity
  src/data/dataset.py
  src/signals/default_signals.py
  src/signals/semantic_similarity.py
  src/signals/semantic_similarity_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Column.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, client lib

save
  src/data/sources/reddit_hf_source.py
Labels: backend

save
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/signals/default_signals.py
  src/signals/pii.py
  src/signals/substring_search.py
  web/inspector/src/lib/components/commands/CommandFilter.svelte
  web/inspector/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/lib/fastapi_client/models/BinaryOp.ts
Labels: backend, frontend, client lib

save
  src/signals/pii.py
  src/signals/pii_test.py
  src/signals/substring_search.py
  src/signals/substring_search_test.py
Labels: backend

save
  src/concepts/concept.py
  src/concepts/concept_test.py
  src/concepts/db_concept_test.py
Labels: backend

save
  src/concepts/concept.py
  src/concepts/concept_test.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/data/dataset_duckdb.py
  src/router_concept.py
Labels: backend

save
  src/router_concept.py
  src/server_concept_test.py
Labels: backend

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  src/data/dataset_duckdb.py
  src/router_concept.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptUpdate.ts
  web/lib/fastapi_client/models/ExampleRemove.ts
  web/lib/fastapi_client/models/MergeConceptDraftOptions.ts
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/concepts/db_concept_test.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  src/concepts/concept.py
  src/concepts/db_concept.py
  src/router_concept.py
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
Labels: backend, client lib

save
  src/concepts/concept.py
Labels: backend

Add TQDM.
  src/router_dataset.py
  src/server.py
  src/tasks.py
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  src/server.py
Labels: backend

save
  src/tasks.py
Labels: backend

save
  src/tasks.py
Labels: backend

Make the manager a basemodel.
  src/concepts/concept.py
  web/lib/fastapi_client/services/ConceptsService.ts
Labels: backend, client lib

save
  src/concepts/concept.py
Labels: backend

save
  src/concepts/concept.py
Labels: backend

Add flattened schema view
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/schemaView/SchemaField.svelte
  web/inspector/src/lib/components/schemaView/SchemaView.svelte
  web/inspector/src/lib/stores/datasetViewStore.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

missing file
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  src/router_concept.py
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, client lib

Add task steps.
  src/data/dataset.py
  src/data/dataset_duckdb.py
  src/data/sources/huggingface_source.py
  src/data/sources/reddit_hf_source.py
  src/data/sources/source.py
  src/router_data_loader.py
  src/router_dataset.py
  src/tasks.py
  src/tasks_test.py
  web/inspector/src/lib/components/TaskStatus.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/TaskInfo.ts
  web/lib/fastapi_client/models/TaskStepInfo.ts
Labels: backend, frontend, client lib

save
  src/data/dataset_duckdb.py
  web/inspector/src/lib/components/TaskStatus.svelte
Labels: backend, frontend

save
  src/tasks.py
  src/tasks_test.py
  src/utils.py
Labels: backend

save
  src/concepts/db_concept.py
  src/router_concept.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptDatasetInfo.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, client lib

nits
  web/inspector/src/lib/components/datasetView/RowItem.svelte
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

Add split to embeddings tag
  web/inspector/src/lib/components/schemaView/FlattenedField.svelte
Labels: frontend

save
  src/tasks.py
  src/tasks_test.py
Labels: backend

Create custom selector for embeddings in signal command view
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
Labels: frontend

save
  src/concepts/db_concept.py
  src/conftest.py
  src/router_concept.py
  src/server_concept_test.py
  src/server_test.py
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/ConceptDatasetOptions.ts
  web/lib/fastapi_client/models/CreateConceptOptions.ts
Labels: backend, client lib

save
  src/concepts/db_concept_test.py
  src/conftest.py
  src/server_concept_test.py
  src/signals/concept_scorer_test.py
Labels: backend

save
  src/db_manager.py
  src/server_test.py
Labels: backend

make custom element work with other signals
  web/inspector/src/lib/components/commands/CommandSignals.svelte
  web/inspector/src/lib/components/commands/customComponents/SelectEmbedding.svelte
Labels: frontend

save
  data/concept/lilac/toxicity/concept.json
  src/data/dataset_duckdb.py
  src/tasks.py
  src/tasks_test.py
Labels: backend

save
  src/data/dataset_duckdb.py
  src/tasks.py
  web/inspector/src/lib/components/TaskStatus.svelte
  web/lib/fastapi_client/models/TaskManifest.ts
Labels: backend, frontend, client lib

save
  data/concept/lilac/toxicity/concept.json
  src/data/sources/huggingface_source.py
  src/data/sources/source.py
Labels: backend
