Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  lilac/load.py
Labels: backend

save
  web/blueprint/src/lib/components/NavigationGroup.svelte
Labels: frontend

save
  lilac/config.py
  lilac/data/dataset.py
Labels: backend

save
  lilac/load.py
Labels: backend

Sync data before loading in the deploy_demo script to keep us in sync.
  scripts/deploy_demo.py
Labels: none

save
  scripts/deploy_demo.py
Labels: none

save
  scripts/deploy_demo.py
Labels: none

save
  scripts/deploy_demo.py
Labels: none

save
  data/concept/lilac/profanity/concept.json
  data/concept/lilac/toxicity/concept.json
  lilac/concepts/db_concept.py
  lilac/concepts/db_concept_test.py
  lilac/data/dataset_duckdb.py
  lilac/router_concept.py
  lilac/router_utils.py
  lilac/signals/concept_scorer.py
  lilac/signals/concept_scorer_test.py
Labels: backend

save
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: frontend

save
  data/concept/lilac/profanity/concept.json
  data/concept/lilac/toxicity/concept.json
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
Labels: frontend

Add tests
  README.md
  lilac/config.py
  lilac/data/dataset.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_settings_test.py
  lilac/data/dataset_test_utils.py
  lilac/data_loader.py
  lilac/data_loader_test.py
  lilac/load.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/server_dataset_test.py
  lilac/sources/source.py
  lilac/sources/source_registry.py
  poetry.lock
  pyproject.toml
  web/lib/fastapi_client/models/DatasetUISettings.ts
Labels: backend, client lib

save
  lilac/config.py
  lilac/data_loader.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/sources/source.py
  web/blueprint/src/lib/components/datasetView/Dataset.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/routes/datasets/new/+page.svelte
  web/lib/fastapi_client/models/DatasetUISettings.ts
  web/lib/fastapi_client/services/DatasetsService.ts
Labels: backend, frontend, client lib

save
  README.md
  lilac/data/dataset_duckdb.py
Labels: backend

save
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data_loader.py
Labels: backend

Add popular datasets to the demo.yml
  demo.yml
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  lilac/load.py
Labels: backend

save
  data/concept/lilac/toxicity/concept.json
  lilac/concepts/concept.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/signals/concept_scorer.py
  lilac/signals/lang_detection.py
  lilac/signals/near_dup.py
Labels: backend

save
  lilac/concepts/db_concept_test.py
Labels: backend

save
  lilac/signals/pii_secrets.py
  lilac/sources/__init__.py
  lilac/sources/default_sources.py
  lilac/sources/parquet_source.py
  web/blueprint/src/lib/components/schemaView/FlattenedField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaField.svelte
  web/blueprint/src/lib/components/schemaView/SchemaView.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
Labels: backend, frontend

save
  lilac/load.py
  lilac/tasks.py
Labels: backend

save
  lilac/config.py
  lilac/data/dataset_duckdb.py
  pyproject.toml
Labels: backend

save
  pyproject.toml
Labels: none

save
  lilac/config.py
Labels: backend

save
  lilac/data/dataset_utils.py
  lilac/embeddings/vector_store.py
Labels: backend

save
  web/blueprint/src/lib/components/Navigation.svelte
Labels: frontend

save
  lilac/sources/parquet_source_test.py
Labels: backend

save
  lilac/sources/csv_source.py
  lilac/sources/parquet_source.py
Labels: backend

save
  lilac/load.py
Labels: backend

save
  demo.yml
  lilac/load.py
Labels: backend

Add docs skeleton
  docs/concepts/concept_create.md
  docs/concepts/concept_metrics.md
  docs/concepts/concept_tuning.md
  docs/concepts/concepts.md
  docs/datasets/dataset_concepts.md
  docs/datasets/dataset_explore.md
  docs/datasets/dataset_export.md
  docs/datasets/dataset_load.md
  docs/datasets/dataset_signals.md
  docs/index.rst
  docs/signals/signals.md
  docs/welcome.md
Labels: none

save
  docs/concepts/concepts.md
  docs/conf.py
  docs/signals/signals.md
Labels: none

save
  lilac/server.py
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
  lilac/templates/list_files.html
  web/blueprint/src/lib/components/JSONSchema/JSONSchemaInput.svelte
  web/blueprint/vite.config.ts
Labels: backend, frontend

save
  lilac/server.py
Labels: backend

save
  lilac/load.py
Labels: backend

save
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/sources/huggingface_source.py
Labels: backend

save
  lilac/sources/huggingface_source.py
  lilac/sources/huggingface_source_test.py
Labels: backend

Add tags to concepts and datasets.
  data/concept/lilac/legal-termination/concept.json
  lilac/concepts/concept.py
  lilac/concepts/db_concept.py
  lilac/config.py
  lilac/data/dataset_duckdb.py
  lilac/db_manager.py
  lilac/load.py
  lilac/router_dataset.py
  lilac/server.py
  lilac/utils.py
  scripts/deploy_demo.py
  web/blueprint/src/lib/components/Navigation.svelte
  web/blueprint/src/lib/components/NavigationGroup.svelte
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/Concept.ts
  web/lib/fastapi_client/models/ConceptInfo.ts
  web/lib/fastapi_client/models/DatasetInfo.ts
Labels: backend, frontend, client lib
