Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within src/ but not web* folders
'backend':
  - any: ['src/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

save
  src/embeddings/openai.py
  src/router_signal.py
Labels: backend

Shorten the media threshold to 32
  web/blueprint/src/lib/view_utils.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: frontend, client lib

save
  Dockerfile
  src/server.py
Labels: backend

Fix state bugs.
  web/blueprint/src/lib/components/datasetView/SpanHover.ts
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  src/router_concept.py
Labels: backend

save
  .env
  Dockerfile
  README.md
  scripts/__init__.py
  scripts/deploy_hf.py
  src/router_dataset.py
  src/server.py
  src/utils.py
Labels: backend

save
  .env
  poetry.lock
  pyproject.toml
  src/embeddings/cohere.py
  src/embeddings/openai.py
  src/embeddings/palm.py
  src/signals/default_signals.py
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/lib/fastapi_client/models/ConceptScoreSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/TextEmbeddingModelSignal.ts
Labels: backend, frontend, client lib

save
  mypy.ini
Labels: none

Fix issue with keywords and stale data.
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandCreateConcept.svelte
  web/blueprint/src/lib/components/common/HoverTooltip.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewFieldSelect.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewFieldSelect.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewFieldSelect.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  .env
  scripts/deploy_hf.py
  src/server.py
Labels: backend

save
  .env
  .gitignore
  README.md
  scripts/deploy_hf.py
  src/server.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/routes/+layout.svelte
Labels: backend, frontend

save
  src/server.py
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/lib/src/lilac.spec.ts
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  Dockerfile
  README.md
  mypy.ini
  poetry.lock
  pyproject.toml
  scripts/deploy_hf.py
Labels: none

save
  README.md
Labels: none

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/queries/datasetQueries.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
Labels: frontend

Add preview concept to the concepts page
  src/concepts/db_concept.py
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/queries/conceptQueries.ts
Labels: backend, frontend

save
  src/signals/default_signals.py
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/components/concepts/ConceptViewFieldSelect.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/components/Expandable.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/ConceptViewLabeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
  web/blueprint/src/lib/view_utils.ts
  web/lib/src/schema.ts
Labels: frontend, client lib

save
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
Labels: frontend

save
  package-lock.json
  web/blueprint/package.json
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/app.css
  web/blueprint/src/routes/concepts/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
  web/blueprint/src/lib/components/concepts/labeler/Labeler.svelte
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
Labels: frontend

save
  README.md
  src/concepts/concept.py
  src/data/dataset_duckdb.py
  src/data/dataset_utils.py
  src/router_concept.py
  web/blueprint/src/lib/components/concepts/ConceptPreview.svelte
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/datasetView/RowItemMedia.svelte
  web/blueprint/src/lib/components/datasetView/SpanClick.ts
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
  web/lib/fastapi_client/models/ScoreResponse.ts
Labels: backend, frontend, client lib

save
  .gitignore
  data/concept/lilac/profanity/concept.json
  notebooks/Toxicity.ipynb
Labels: none

save
  data/concept/lilac/profanity/concept.json
  web/blueprint/src/lib/components/concepts/labeler_utils.ts
Labels: frontend

save
  data/concept/lilac/negative_sentiment/concept.json
  data/concept/lilac/positive_sentiment/concept.json
  notebooks/Sentiment.ipynb
  src/embeddings/embedding.py
Labels: backend

save
  data/concept/lilac/negative-sentiment/concept.json
  data/concept/lilac/positive-sentiment/concept.json
  web/blueprint/src/lib/components/concepts/ConceptView.svelte
  web/blueprint/src/lib/components/concepts/labeler/DataFeeder.svelte
Labels: frontend

save
  data/concept/lilac/negative-sentiment/concept.json
Labels: none
