Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']

Fix bug with datsaset config on upload.
  lilac/deploy.py
Labels: backend

save
  lilac/deploy.py
Labels: backend

save
  lilac/config.py
  lilac/data/dataset_duckdb.py
  web/blueprint/src/lib/components/datasetView/StringSpanHighlight.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_select_groups_test.py
  poetry.lock
  pyproject.toml
Labels: backend

save
  lilac/data/dataset_select_groups_test.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/schema.py
  lilac/splitters/chunk_splitter.py
Labels: backend

Initial RAG prototype.
  lilac/router_rag.py
  lilac/server.py
  lilac/splitters/chunk_splitter.py
  web/blueprint/src/app.css
  web/blueprint/src/lib/components/Page.svelte
  web/blueprint/src/lib/components/concepts/DatasetFieldEmbeddingSelector.svelte
  web/blueprint/src/lib/components/rag/RagPrompt.svelte
  web/blueprint/src/lib/components/rag/RagRetrieval.svelte
  web/blueprint/src/lib/queries/datasetQueries.ts
  web/blueprint/src/lib/stores/ragViewStore.ts
  web/blueprint/src/lib/stores/urlHashStore.ts
  web/blueprint/src/routes/rag/+page.svelte
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/services/RagService.ts
Labels: backend, frontend, client lib

save
  lilac/deploy.py
Labels: backend

save
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/rag/RagPrompt.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/rag/RagRetrieval.svelte
Labels: frontend

review comments
  lilac/router_rag.py
  web/blueprint/src/lib/components/rag/RagPrompt.svelte
  web/blueprint/src/lib/stores/ragViewStore.ts
  web/blueprint/src/routes/rag/+page.svelte
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/GroupByDropdown.svelte
  web/blueprint/src/lib/components/datasetView/SearchPanel.svelte
  web/blueprint/src/lib/components/datasetView/spanHighlight.ts
Labels: frontend

save
  lilac/router_rag.py
  web/blueprint/src/routes/rag/+page.svelte
Labels: backend, frontend

save
  web/lib/fastapi_client/services/RagService.ts
Labels: client lib

Add LILAC_AUTH_ADMIN_EMAILS to set admins.
  lilac/auth.py
  lilac/auth_test.py
  lilac/env.py
  lilac/router_data_loader.py
  lilac/router_dataset.py
  lilac/server.py
  lilac/server_dataset_test.py
  lilac/server_test.py
  lilac/tasks.py
  web/blueprint/src/lib/components/Page.svelte
  web/lib/fastapi_client/models/UserAccess.ts
Labels: backend, frontend, client lib

save
  lilac/auth_test.py
Labels: backend

save
  lilac/auth.py
  lilac/router_dataset.py
Labels: backend

save
  lilac/data/__init__.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/signals/cluster_dbscan.py
  lilac/signals/metadata_op_search.py
  lilac/signals/semantic_similarity.py
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/GroupByDropdown.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/components/datasetView/SearchPill.svelte
  web/blueprint/src/lib/stores/datasetViewStore.ts
  web/lib/fastapi_client/index.ts
  web/lib/fastapi_client/models/AddLabelsOptions.ts
  web/lib/fastapi_client/models/MetadataSearch.ts
  web/lib/fastapi_client/models/RemoveLabelsOptions.ts
  web/lib/fastapi_client/models/SelectRowsOptions.ts
  web/lib/fastapi_client/models/SelectRowsSchemaOptions.ts
  web/lib/src/lilac.ts
Labels: backend, frontend, client lib

save
  lilac/data/dataset_duckdb.py
  lilac/schema.py
  lilac/signals/metadata_op_search.py
  web/lib/fastapi_client/models/SignalInputType.ts
Labels: backend, client lib

save
  web/blueprint/src/lib/components/commands/CommandConcepts.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/lib/src/schema.ts
Labels: frontend, client lib

Add allowing non-admin users to add labels, but not create label types.
  lilac/auth.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_labels_test.py
  lilac/env.py
  lilac/router_dataset.py
  lilac/server_dataset_test.py
  lilac/server_test.py
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/lib/fastapi_client/models/DatasetUserAccess.ts
Labels: backend, frontend, client lib

save
  lilac/signals/metadata_op_search.py
  web/blueprint/src/lib/components/datasetView/ItemMetadata.svelte
  web/blueprint/src/lib/components/datasetView/RowItem.svelte
  web/blueprint/src/lib/components/datasetView/RowView.svelte
Labels: backend, frontend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/signals/cluster_dbscan_test.py
  lilac/signals/metadata_op_search.py
  web/blueprint/src/lib/stores/datasetViewStore.ts
Labels: backend, frontend

save
  lilac/data/dataset_duckdb.py
  lilac/signals/filter_mask.py
  web/blueprint/src/lib/components/datasetView/GroupByDropdown.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPanel.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: backend, frontend

save
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
Labels: frontend

Add a github source and a LlamaIndexDocument source
  lilac/__init__.py
  lilac/data/dataset_project_test.py
  lilac/load.py
  lilac/load_dataset.py
  lilac/load_dataset_test.py
  lilac/project.py
  lilac/router_data_loader.py
  lilac/router_rag.py
  lilac/sources/__init__.py
  lilac/sources/default_sources.py
  lilac/sources/github_source.py
  lilac/sources/llama_index_docs_source.py
  lilac/sources/llama_index_docs_source_test.py
  notebooks/LlamaIndexLoader.ipynb
  poetry.lock
  pyproject.toml
  web/blueprint/src/lib/components/datasets/huggingface/SplitsInput.svelte
  web/blueprint/src/routes/datasets/new/+page.svelte
  web/blueprint/src/routes/rag/+page.svelte
Labels: backend, frontend

Use the dict source
  lilac/sources/github_source.py
  lilac/sources/llama_index_docs_source.py
  lilac/sources/llama_index_docs_source_test.py
Labels: backend

save
  lilac/sources/github_source.py
  lilac/sources/llama_index_docs_source.py
Labels: backend

save
  notebooks/LlamaIndexLoader.ipynb
Labels: none

save
  lilac/sources/github_source.py
Labels: backend

save
  lilac/data/dataset_project_test.py
  lilac/router_data_loader.py
Labels: backend

save
  notebooks/LlamaIndexLoader.ipynb
Labels: none

Add LILAC_AUTH_USER_DISABLE_LABEL_ALL
  lilac/auth.py
  lilac/env.py
  lilac/router_dataset.py
  lilac/server_test.py
  web/blueprint/src/lib/components/datasetView/AddLabel.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/lib/fastapi_client/models/DatasetUserAccess.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/common/DropPill.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/GroupByDropPill.svelte
  web/blueprint/src/lib/components/datasetView/GroupByDropdown.svelte
  web/blueprint/src/lib/components/datasetView/SortDropPill.svelte
  web/blueprint/src/lib/view_utils.ts
Labels: frontend

save
  web/blueprint/src/lib/components/common/DropPill.svelte
Labels: frontend

save
  lilac/sources/llama_index_docs_source.py
Labels: backend

save
  web/blueprint/src/lib/components/common/DropdownPill.svelte
  web/blueprint/src/lib/components/datasetView/FilterPanel.svelte
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
  web/blueprint/src/lib/components/datasetView/SortPill.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/datasetView/GroupByPill.svelte
Labels: frontend
