Repository databricks/lilac, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, client lib

save
  lilac/config.py
  lilac/embeddings/embedding.py
  lilac_hf_space.yml
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/gte.py
  lilac/embeddings/vector_store.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/embeddings/vector_store_numpy.py
Labels: backend

save
  lilac/splitters/spacy_splitter.py
  run_server_prod.sh
Labels: backend

save
  lilac/data/dataset_load_embedding_test.py
  lilac/embeddings/vector_store_hnsw.py
  lilac/signals/semantic_similarity_test.py
Labels: backend

save
  lilac/cli.py
Labels: backend

save
  scripts/deploy_staging.py
Labels: none

save
  lilac/data/dataset_compute_signal_chain_test.py
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_load_embedding_test.py
  lilac/data/dataset_select_rows_udf_test.py
Labels: backend

save
  lilac/deploy.py
  scripts/deploy_demo.py
  scripts/deploy_staging.py
Labels: backend

save
  docs/datasets/dataset_concepts.md
  docs/datasets/dataset_embeddings.md
  lilac/__init__.py
  lilac/cli.py
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_load_embedding_test.py
  lilac/data/dataset_storage_utils.py
  lilac/hf_docker_start.py
  lilac/load_test.py
  lilac/router_utils.py
  lilac/server_concept_test.py
  lilac/signal.py
  lilac/signals/__init__.py
  lilac/signals/default_signals.py
  notebooks/CustomEmbeddings.ipynb
  scripts/deploy_demo.py
Labels: backend

save
  docs/index.rst
Labels: none

save
  lilac/data/dataset_load_embedding_test.py
Labels: backend

save
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_compute_signal_test.py
  lilac/data/dataset_config_test.py
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
Labels: backend

save
  lilac/data/clustering.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/data/dataset_export_test.py
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
Labels: backend, frontend

Rename remote => use_garden.
  lilac/config.py
  lilac/data/clustering.py
  lilac/data/clustering_test.py
  lilac/data/dataset.py
  lilac/data/dataset_duckdb.py
  lilac/embeddings/gte.py
  lilac/embeddings/jina.py
  lilac/load.py
  lilac/load_test.py
  lilac/router_dataset_signals.py
  lilac/schema.py
  lilac/signal.py
  lilac/signal_test.py
  lilac_hf_space.yml
  web/blueprint/src/lib/components/ComputeClusterModal.svelte
  web/blueprint/src/lib/components/Navigation.svelte
  web/lib/fastapi_client/models/ClusterInfo.ts
  web/lib/fastapi_client/models/ClusterOptions.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
Labels: backend, frontend, client lib

save
  lilac/sources/parquet_source_test.py
Labels: backend

Fix a bug where we drop source fields that have embeddings computed on them.
  web/blueprint/src/lib/components/datasetView/ExportModal.svelte
  web/lib/src/lilac.ts
Labels: frontend, client lib

save
  lilac/embeddings/gte.py
  lilac/embeddings/sbert.py
  lilac/splitters/spacy_splitter.py
Labels: backend

save
  lilac/splitters/spacy_splitter.py
Labels: backend

save
  lilac/splitters/spacy_splitter_test.py
Labels: backend

save
  lilac/signals/lang_detection.py
  lilac/signals/pii.py
  lilac/tasks.py
Labels: backend

save
  lilac/signals/lang_detection.py
Labels: backend

UI fixes: overwrite, task errors.
  lilac/router_dataset_signals.py
  lilac/signal.py
  lilac_hf_space.yml
  web/blueprint/src/lib/components/TaskStatus.svelte
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  lilac_hf_space.yml
Labels: none

Fixed cache busting behavior
  lilac/hf_docker_start.py
Labels: backend

save
  lilac_hf_space.yml
Labels: none

save
  lilac/data/dataset.py
  lilac_hf_space.yml
Labels: backend

save
  lilac/signals/pii.py
Labels: backend

Move use_garden outside of a Signal.
  lilac/config.py
  lilac/data/dataset_duckdb.py
  lilac/load.py
  lilac/load_test.py
  lilac/router_dataset_signals.py
  lilac/signal.py
  lilac/signal_test.py
  lilac/signals/pii.py
  lilac_hf_space.yml
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
  web/lib/fastapi_client/models/ComputeSignalOptions.ts
  web/lib/fastapi_client/models/ConceptLabelsSignal.ts
  web/lib/fastapi_client/models/ConceptSignal.ts
  web/lib/fastapi_client/models/SemanticSimilaritySignal.ts
  web/lib/fastapi_client/models/Signal.ts
  web/lib/fastapi_client/models/SubstringSignal.ts
  web/lib/fastapi_client/models/TextEmbeddingSignal.ts
  web/lib/fastapi_client/models/TextSignal.ts
Labels: backend, frontend, client lib

save
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  web/blueprint/src/lib/components/commands/CommandSignals.svelte
Labels: frontend

save
  lilac/load.py
Labels: backend

save
  lilac/data/dataset_duckdb.py
  lilac/signals/pii.py
  web/blueprint/src/lib/components/datasetView/SingleItemSelectRows.svelte
Labels: backend, frontend

save
  lilac/signals/pii.py
Labels: backend

save
  lilac/signals/pii.py
Labels: backend

Tiny fixes for the demo.
  lilac/data/clustering.py
  lilac/formats/default_formats.py
  lilac/formats/openai_json.py
  lilac/formats/openai_json_test.py
  lilac/formats/sharegpt.py
  lilac/signals/pii.py
  lilac/signals/text_statistics.py
  lilac_hf_space.yml
  run_server_dev.sh
  scripts/deploy_demo.py
  web/blueprint/src/lib/components/datasetView/DatasetPivotResult.svelte
  web/blueprint/src/lib/components/datasetView/ItemMediaTextContent.svelte
Labels: backend, frontend

.github/labeler.yml:

# Add 'backend' label to any change within lilac/ but not web* folders
'backend':
  - any: ['lilac/**/*']

# Add 'frontend' label to any change to blueprint folder
'frontend':
  - any: ['web/blueprint/**/*']

# Add 'client lib' label to any change to web lib folders
'client lib':
  - any: ['web/lib/**/*']
